<div class="container">
    <div class="row">
        <div class="col">
            <mat-tab-group>
                <mat-tab label="TM INFORMATION" [disabled]="isLoading">
                  <div class="app-tab-container">
                    <app-tm-information></app-tm-information>
                  </div>
                </mat-tab>
                <mat-tab label="TM DETAIL" [disabled]="isLoading">
                  <div class="app-tab-container">
                    <app-tm-detail></app-tm-detail>
                  </div>
                </mat-tab>
                <mat-tab label="TM EMP/TRANS HISTORY" [disabled]="isLoading">
                  <div class="app-tab-container">
                    <app-tm-emptrans-history></app-tm-emptrans-history>
                  </div>
                </mat-tab>
                <mat-tab label="TM CONTINUING EDU." [disabled]="isLoading">
                  <div class="app-tab-container">
                    <app-tm-continuing-edu> </app-tm-continuing-edu>
                  </div>
                </mat-tab>
                <mat-tab label="TM DIARY" [disabled]="isLoading">
                  <div class="app-tab-container">
                    <app-tm-diary></app-tm-diary>
                  </div>
                </mat-tab>
                <mat-tab label="TM EMAIL" [disabled]="isLoading">
                  <div class="app-tab-container">
                    <app-tm-email></app-tm-email>
                  </div>
                </mat-tab>
                <mat-tab label="TM COMMUNICATIONS" [disabled]="isLoading">
                  <div class="app-tab-container">
                    <app-tm-communications></app-tm-communications>
                  </div>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>