<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          First Name:
          <input
            type="text"
            class="form-control input-size-small"
            formControlName="firstName"
          />
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Middle Name:
          <input
            type="text"
            class="form-control input-size-small"
            formControlName="middleName"
          />
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="lastName" class="form-label">
          Last Name:
          <input
            type="text"
            class="form-control input-size-small"
            formControlName="lastName"
          />
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Date of Birth:
          <input
            type="date"
            class="form-control input-size-small"
            formControlName="dateOfBirth"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="employeeID" class="form-label"> Employee ID: </label>
        <input
          type="text"
          class="form-control input-size-small"
          formControlName="employeeID"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Team Member ID:
          <input
            type="text"
            class="form-control input-size-small"
            formControlName="geid"
          />
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Employee SSN:
          <input
            type="text"
            class="form-control input-size-small"
            formControlName="employeeSSN"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          License Level:
          <select
            class="form-select select-size-small"
            id="licenseLevel"
            formControlName="licenseLevel"
          >
            <option
              *ngFor="let level of licenseLevels"
              [value]="level.sortOrder"
            >
              {{ level.licenseLevel }}
            </option>
          </select>
        </label>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          License Incentive:
          <select
            class="form-select select-size-small"
            id="licenseIncentive"
            formControlName="licenseIncentive"
          >
            <option
              *ngFor="let incentive of licenseIncentives"
              [value]="incentive.sortOrder"
            >
              {{ incentive.licenseIncentive }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3 mt-4">
        <!-- <input
            type="checkbox"
            class="form-check-input input-size-small"
            formControlName="isLicenseincentiveSecondChance"
          /> -->
        <input
          class="form-check-input me-2 align-middle"
          type="checkbox"
          id="isLicenseincentiveSecondChance"
          formControlName="isLicenseincentiveSecondChance"
        />
        <label class="form-label"> Incentive Second Chance: </label>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div> -->

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Address 1:
          <input
            type="text"
            class="form-control input-size-large"
            formControlName="address1"
          />
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Address 2:
          <input
            type="text"
            class="form-control input-size-large"
            formControlName="address2"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          City:
          <input
            type="text"
            class="form-control input-size-small"
            formControlName="city"
          />
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          State:
          <select
            class="form-select select-size-small"
            id="state"
            formControlName="state"
          >
            <option *ngFor="let state of states" [value]="state">
              {{ state }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Zip:
          <input
            type="text"
            class="form-control input-size-small"
            formControlName="zip"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Phone:
          <input
            type="text"
            class="form-control input-size-small"
            formControlName="phone"
          />
        </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">
          Email:
          <input
            type="email"
            class="form-control input-size-medium"
            formControlName="email"
          />
        </label>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-3">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
        Update
      </button>
    </div>
  </div>
</form>
