<form
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="productAbv" class="form-label">Product Abbr:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="productAbv"
          formControlName="productAbv"
        />
      </div>

      <div class="mb-3">
        <label for="productName" class="form-label">Product Name:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="productName"
          formControlName="productName"
        />
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label for="effectiveDate" class="form-label">Effective Date:</label>
        <input
          class="form-control input-size-small"
          type="date"
          id="effectiveDate"
          formControlName="effectiveDate"
        />
      </div>

      <div class="mb-3">
        <label for="expireDate" class="form-label">Expire Date:</label>
        <input
          class="form-control input-size-small"
          type="date"
          id="expireDate"
          formControlName="expireDate"
        />
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button" [disabled]="productForm.pristine">Save</button>
    </div>
  </div>
</form>
