<div class="container">
  <form
    [formGroup]="newAgentForm"
    (ngSubmit)="onSubmit()"
    class="container mt-4"
    style="
      background-color: whitesmoke;
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    "
  >
    <div class="row mt-5">
      <div class="col">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="firstName">First Name: <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="firstName"
              formControlName="firstName"
              placeholder="First Name"
            />
            <div
              *ngIf="
                (newAgentForm.controls['firstName'].touched || formSubmitted) &&
                newAgentForm.controls['firstName'].errors?.['required']
              "
              class="text-danger"
            >
              Please enter First Name
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="middleName">Middle Name:</label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="middleName"
              formControlName="middleName"
              placeholder="Middle Name"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="lastName">Last Name: <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="lastName"
              formControlName="lastName"
              placeholder="Last Name"
            />
            <div
              *ngIf="
                (newAgentForm.controls['lastName'].touched || formSubmitted) &&
                newAgentForm.controls['lastName'].errors?.['required']
              "
              class="text-danger"
            >
              Please enter Last Name
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 ms-3 mb-3">
            <label for="preferedName">Prefered Name: <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="preferedName"
              formControlName="preferedName"
              placeholder="Prefered Name"
            />
            <div
              *ngIf="
                (newAgentForm.controls['preferedName'].touched || formSubmitted) &&
                newAgentForm.controls['preferedName'].errors?.['required']
              "
              class="text-danger"
            >
              Please enter Prefered Name
            </div>
          </div>
          <div class="col-md-4">
            <label for="dob">Date Of Birth:</label>
            <input
              type="date"
              class="form-control input-size-small"
              id="dob"
              formControlName="dateOfBirth"
              placeholder="MM/DD/YYYY"
            />
          </div>
          <div class="col-md-3">
            <label for="employeeSSN">Employee SSN:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="employeeSSN"
              formControlName="employeeSSN"
              placeholder="###-##-####"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="teamID">Team ID:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="teamID"
              formControlName="teamID"
              placeholder="Team ID"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="soeid">SOEID:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="soeid"
              formControlName="soeid"
              placeholder="SOEID"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="nationalProducerNumber">Nat. Producer #:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="nationalProducerNumber"
              formControlName="nationalProducerNumber"
              placeholder="Nat. Producer #"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12">
            <mat-divider style="margin-bottom: 1rem"></mat-divider>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="employerAgency">Employer/Agency: <span class="text-danger">*</span></label>
            <select
              class="form-select select-size-med-large"
              id="employerAgency"
              formControlName="employerAgency"
            >
              <option
                *ngFor="let empAgency of employerAgencies"
                [value]="empAgency.value"
              >
                {{ empAgency.label }}
              </option>
            </select>
            <div
              *ngIf="
                (newAgentForm.controls['employerAgency'].touched ||
                  formSubmitted) &&
                newAgentForm.controls['employerAgency'].errors &&
                newAgentForm.controls['employerAgency'].errors['invalid']
              "
              class="text-danger"
            >
              Please select Employer/Agency
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="workState">Work State: <span class="text-danger">*</span></label>
            <select
              class="form-select select-size-small"
              id="workState"
              formControlName="workState"
            >
              <option *ngFor="let state of states" [value]="state">
                {{ state }}
              </option>
            </select>
            <div
              *ngIf="
                (newAgentForm.controls['workState'].touched ||
                  formSubmitted) &&
                newAgentForm.controls['workState'].errors &&
                newAgentForm.controls['workState'].errors['invalid']
              "
              class="text-danger"
            >
              Please select Work State
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="resState">Res State: <span class="text-danger">*</span></label>
            <select
              class="form-select select-size-small"
              id="resState"
              formControlName="resState"
            >
              <option *ngFor="let state of states" [value]="state">
                {{ state }}
              </option>
            </select>
            <div
              *ngIf="
                (newAgentForm.controls['resState'].touched ||
                  formSubmitted) &&
                newAgentForm.controls['resState'].errors &&
                newAgentForm.controls['resState'].errors['invalid']
              "
              class="text-danger"
            >
              Please select Resident State
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="jobTitle">Job Title:</label>
            <input
              type="text"
              class="form-control input-size-med-large"
              id="jobTitle"
              formControlName="jobTitle"
              placeholder="Job Title"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="hireDate">Hire Date:</label>
            <input
              type="date"
              class="form-control input-size-small"
              id="hireDate"
              formControlName="hireDate"
              placeholder="MM/DD/YYYY"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="branchCode">Branch Code:</label>
            <select
              class="form-select select-size-med-small"
              id="branchCode"
              formControlName="branchCode"
            >
              <option
                *ngFor="let code of branchCodes"
                [value]="code.branchCode"
              >
                {{ code.branchCode }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12">
            <mat-divider style="margin-bottom: 1rem"></mat-divider>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address1">Address 1:</label>
            <input
              type="text"
              class="form-control input-size-large"
              id="address1"
              formControlName="address1"
              placeholder="Address 1"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="address2">Address 2:</label>
            <input
              type="text"
              class="form-control input-size-large"
              id="address2"
              formControlName="address2"
              placeholder="Address 2"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="city">City:</label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="city"
              formControlName="city"
              placeholder="Address 1"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="zip">Zip:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="zip"
              formControlName="zip"
              placeholder="#####-###"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="email">Email:</label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="email"
              formControlName="email"
              placeholder="Email"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="homePhone">Home Phone:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="homePhone"
              formControlName="homePhone"
              placeholder="(###)###-####"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="workPhone">Work Phone:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="workPhone"
              formControlName="workPhone"
              placeholder="(###)###-####"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="fax">Fax Phone:</label>
            <input
              type="text"
              class="form-control input-size-med-small"
              id="fax"
              formControlName="fax"
              placeholder="(###)###-####"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-divider style="margin-bottom: 1rem"></mat-divider>
      </div>
    </div>

    <div class="form-row">
      <!-- <div class="col"> -->
      <div class="form-group d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary ms-3 me-5"
          (click)="onSubmit()"
        >
          Insert
        </button>
      </div>
      <!-- </div> -->
    </div>
  </form>
</div>
