<div class="container">
  <form
    [formGroup]="newAgentForm"
    (ngSubmit)="onSubmit()"
    class="container mt-4"
    style="
      background-color: whitesmoke;
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    "
  >
    <div class="row mt-5">
      <div class="col">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="firstName">First Name: <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="firstName"
              formControlName="FirstName"
              placeholder="First Name"
            />
            <div
              *ngIf="
                (newAgentForm.controls['FirstName'].touched || formSubmitted) &&
                newAgentForm.controls['FirstName'].errors?.['required']
              "
              class="text-danger"
            >
              Please enter First Name
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="middleName">Middle Name:</label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="middleName"
              formControlName="MiddleName"
              placeholder="Middle Name"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="lastName">Last Name: <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="lastName"
              formControlName="LastName"
              placeholder="Last Name"
            />
            <div
              *ngIf="
                (newAgentForm.controls['LastName'].touched || formSubmitted) &&
                newAgentForm.controls['LastName'].errors?.['required']
              "
              class="text-danger"
            >
              Please enter Last Name
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label class="ms-4" for="preferedName">Prefered Name: </label>
            <input
              type="text"
              class="form-control input-size-medium ms-4"
              id="preferedName"
              formControlName="preferedName"
              placeholder="Prefered Name"
            />
            <!-- <div
              *ngIf="
                (newAgentForm.controls['preferedName'].touched || formSubmitted) &&
                newAgentForm.controls['preferedName'].errors?.['required']
              "
              class="text-danger"
            >
              Please enter Prefered Name
            </div> -->
          </div>
          <div class="col-md-4">
            <label for="dob">Date Of Birth:</label>
            <input
              type="date"
              class="form-control input-size-small"
              id="dob"
              formControlName="DateOfBirth"
              placeholder="MM/DD/YYYY"
            />
          </div>
          <div class="col-md-3">
            <label for="employeeSSN">Employee SSN:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="employeeSSN"
              formControlName="EmployeeSSN"
              placeholder="###-##-####"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="teamID">Team ID:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="teamID"
              formControlName="GEID"
              placeholder="Team ID"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="soeid">SOEID:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="soeid"
              formControlName="SOEID"
              placeholder="SOEID"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="nationalProducerNumber">Nat. Producer #:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="nationalProducerNumber"
              formControlName="NationalProducerNumber"
              placeholder="Nat. Producer #"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12">
            <mat-divider style="margin-bottom: 1rem"></mat-divider>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="employerAgency">Employer/Agency: <span class="text-danger">*</span></label>
            <select
              class="form-select select-size-med-large"
              id="employerAgency"
              formControlName="CompanyID"
            >
              <option
                *ngFor="let empAgency of employerAgencies"
                [value]="empAgency.value"
              >
                {{ empAgency.label }}
              </option>
            </select>
            <div
              *ngIf="
                (newAgentForm.controls['CompanyID'].touched ||
                  formSubmitted) &&
                newAgentForm.controls['CompanyID'].errors &&
                newAgentForm.controls['CompanyID'].errors['invalid']
              "
              class="text-danger"
            >
              Please select Employer/Agency
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="workState">Work State: <span class="text-danger">*</span></label>
            <select
              class="form-select select-size-small"
              id="workState"
              formControlName="WorkStateAbv"
            >
              <option *ngFor="let state of states" [value]="state">
                {{ state }}
              </option>
            </select>
            <div
              *ngIf="
                (newAgentForm.controls['WorkStateAbv'].touched ||
                  formSubmitted) &&
                newAgentForm.controls['WorkStateAbv'].errors &&
                newAgentForm.controls['WorkStateAbv'].errors['invalid']
              "
              class="text-danger"
            >
              Please select Work State
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="ResStateAbv">Res State: <span class="text-danger">*</span></label>
            <select
              class="form-select select-size-small"
              id="ResStateAbv"
              formControlName="ResStateAbv"
            >
              <option *ngFor="let state of states" [value]="state">
                {{ state }}
              </option>
            </select>
            <div
              *ngIf="
                (newAgentForm.controls['ResStateAbv'].touched ||
                  formSubmitted) &&
                newAgentForm.controls['ResStateAbv'].errors &&
                newAgentForm.controls['ResStateAbv'].errors['invalid']
              "
              class="text-danger"
            >
              Please select Resident State
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="JobTitleID">Job Title:</label>
            <!-- <input
              type="text"
              class="form-control input-size-med-large"
              id="jobTitle"
              formControlName="JobTitleID"
              placeholder="Job Title"
            /> -->
            <select
              class="form-select select-size-medium"
              id="JobTitleID"
              formControlName="JobTitleID"
            >
              <option *ngFor="let job of jobTitles" [value]="job.value">
                {{ job.label }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="hireDate">Hire Date: <span class="text-danger">*</span></label>
            <input
              type="date"
              class="form-control input-size-small"
              id="hireDate"
              formControlName="HireDate"
              placeholder="MM/DD/YYYY"
            />
            <div
              *ngIf="
                (newAgentForm.controls['HireDate'].touched ||
                  formSubmitted) &&
                newAgentForm.controls['HireDate'].errors &&
                newAgentForm.controls['HireDate'].errors['invalid']
              "
              class="text-danger"
            >
              Please select Hire Date
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="branchCode">Branch Code:</label>
            <select
              class="form-select select-size-med-small"
              id="branchCode"
              formControlName="BranchCode"
            >
              <option
                *ngFor="let code of branchCodes"
                [value]="code.branchCode"
              >
                {{ code.branchCode }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12">
            <mat-divider style="margin-bottom: 1rem"></mat-divider>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address1">Address 1:</label>
            <input
              type="text"
              class="form-control input-size-large"
              id="address1"
              formControlName="Address1"
              placeholder="Address 1"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="address2">Address 2:</label>
            <input
              type="text"
              class="form-control input-size-large"
              id="address2"
              formControlName="Address2"
              placeholder="Address 2"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="city">City:</label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="city"
              formControlName="City"
              placeholder="Address 1"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="zip">Zip:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="zip"
              formControlName="Zip"
              placeholder="#####-###"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="email">Email:</label>
            <input
              type="text"
              class="form-control input-size-medium"
              id="email"
              formControlName="Email"
              placeholder="Email"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="homePhone">Home Phone:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="homePhone"
              formControlName="Phone"
              placeholder="(###)###-####"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="workPhone">Work Phone:</label>
            <input
              type="text"
              class="form-control input-size-small"
              id="workPhone"
              formControlName="WorkPhone"
              placeholder="(###)###-####"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="fax">Fax Phone:</label>
            <input
              type="text"
              class="form-control input-size-med-small"
              id="fax"
              formControlName="Fax"
              placeholder="(###)###-####"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-divider style="margin-bottom: 1rem"></mat-divider>
      </div>
    </div>

    <div class="form-row">
      <!-- <div class="col"> -->
      <div class="form-group d-flex justify-content-end mt-3">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary ms-3 me-5"
          [disabled]="!newAgentForm.valid"
          (click)="onSubmit()"
        >
          Insert
        </button>
      </div>
      <!-- </div> -->
    </div>
  </form>
</div>
