<div class="container app-container  overflow-auto" style="background-color: whitesmoke; max-height: 75vh; overflow-x: hidden;">
  <div style="border-width: 1px; border-color: gray; border-radius: 0.5rem">
    <div class="row p-3 sticky-top" style="top: 0; background-color: white; z-index: 1020;">
      <div class="col">
        <label for="licenseTech">License Tech:</label>
        <select
          class="form-select select-size-med-small"
          type="text"
          id="licenseTech"
          (change)="changeStockTicklerItems($event)"
        >
          <option
            *ngFor="let item of licenseTechItems"
            [value]="item.licenseTechId"
          >
            {{ item.techName }}
          </option>
        </select>
      </div>
      <div class="col d-flex justify-content-center align-items-end">
        <button class="btn btn-success" type="button">
          Insert New Tickler
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <div
            *ngFor="let item of ticklerInfoItems"
            class="card m-2"
            style="width: 90%"
          >
            <div class="card-body">
              <h5 class="card-title">{{ item.ticklerId }}</h5>
              <p class="card-text">
                <strong>Date Due:</strong>
                {{ item.ticklerDueDate | date : "MM/dd/yyyy" }}<br />
                <strong>Message:</strong> {{ item.message }}
              </p>
              <div class="d-flex justify-content-between mb-3 me-4">
                <button
                  class="edit-button"
                  type="button"
                  (click)="modalService.open('modal-edit-tickler')"
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="btn btn-secondary" type="button">Close</button>
                <button class="edit-button" type="button">
                  <span class="material-symbols-outlined"> find_in_page </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- agentDataService.storeContEduHoursTaken('EDIT', diary); -->

  <!-- Modal: EDIT-TICKLER -->
  <modal id="modal-edit-tickler">
    <div class="modal-header">
      <h1 class="modal-title">TODO - mode... - Tickler Entry</h1>
      <!-- <button
            type="button"
            class="btn-close"
            (click)="modalService.close()"
          ></button> -->
    </div>
    <div class="modal-body">
      <div>
        <div>
          <!-- <app-edit-diary-entry></app-edit-diary-entry> -->
        </div>
      </div>
    </div>
  </modal>
</div>
