<div class="container app-component-container">
  <div class="row">
    <div
      class="col d-flex justify-content-start"
      style="color: grey; font-size: large; font-weight: 700"
    >
      Team Member Communication(s)
    </div>
  </div>

  <div class="row mt-3">
    <div class="col d-flex">
      <table class="table">
        <thead>
          <tr style="background-color: gainsboro">
            <th scope="col">LetterID</th>
            <th scope="col">Comunication Name</th>
            <th scope="col">CreateDate</th>
            <th scope="col">SentDate</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let comItem of agentInfo.employmentCommunicationItems">
            <td>{{ comItem.employmentCommunicationID }}</td>
            <td>{{ comItem.letterName }}</td>
            <td>{{ comItem.emailCreateDate | date }}</td>
            <td>{{ comItem.emailCreateDate | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
