select {
  height: 2.5rem;
  box-sizing: border-box;
  font-size: small;
}

input {
  height: 2.5rem;
  box-sizing: border-box;
}

table tr {
  border: none;
}

table td {
  border: none;
  font-size: small;
}

.btn-grey {
  color: grey;
}

.btn-dodger-blue {
  color: DodgerBlue;
}

.page-button {
  border-style: none;
  background-color: transparent;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
  transition: color 0.3s ease;
}

.page-button:hover {
  color: grey; 
}

.page-button:active {
  transform: scale(0.9);
  color: #ffa500;
}