<div class="container app-component-container">
  <div class="row mt-5 mb-3">
    <div class="col d-flex justify-content-start align-items-start">
      <button
        class="btn btn-success"
        type="button"
        (click)="
          adminDataService.storeJobTitle('INSERT', null);
          modalService.open('modal-edit-exam')
        "
      >
        Create New Job Title
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div class="col">
      <div class="table" *ngIf="jobTitles.length > 0">
        <thead>
          <tr class="sticky-top" style="background-color: gainsboro">
            <th scope="col">JobTitleID</th>
            <th scope="col">JobCode</th>
            <th scope="col">Job Title Name</th>
            <th scope="col">IsActive</th>
            <th scope="col">LicenseLevel</th>
            <th scope="col">LicenseIncentive</th>
            <th scope="col" class="text-center">ACTION</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let job of jobTitles">
            <td class="align-middle">
              {{ job.jobTitleId }}
            </td>
            <td class="align-middle">{{ job.jobCode }}</td>
            <td class="align-middle text-nowrap">
              {{ job.jobTitle1 }}
            </td>
            <td class="align-middle" style="width: max-content">
              {{ job.isActive }}
            </td>
            <td class="align-middle" style="width: max-content">
              {{ job.licenseLevel }}
            </td>
            <td class="align-middle" style="width: max-content">
              {{ job.licenseIncentive }}
            </td>
            <td
              class="align-middle justify-content-center text-center"
              style="width: 10rem"
            >
              <div class="d-flex justify-content-center mb-3 me-2">
                <button class="icon-edit-delete-button" type="button">
                  <span class="material-symbols-outlined"> save </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>
