<div class="container app-component-container">
  <div class="row mt-5 mb-3">
    <div class="col d-flex justify-content-start align-items-start">
      <button
        class="btn btn-success"
        type="button"
        (click)="
          adminDataService.storeJobTitle('INSERT', null);
          modalService.open('modal-edit-job-title')
        "
      >
        Create New Job Title
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="mt-5 mb-5 d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-primary"></div>
  </div>
  <div class="row mt-4" *ngIf="!isLoading">
    <div
      class="col-md-12 shadow-sm"
      style="
        max-height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
      "
    >
      <div
        class="table shadow-sm"
        style="width: 100% !important; border-collapse: collapse"
        *ngIf="jobTitles.length > 0"
      >
        <thead>
          <tr class="sticky-top" style="background-color: gainsboro">
            <th scope="col">JobTitleID</th>
            <th scope="col">JobCode</th>
            <th scope="col">Job Title Name</th>
            <th scope="col">IsActive</th>
            <th scope="col">LicenseLevel</th>
            <th scope="col">LicenseIncentive</th>
            <th scope="col" class="text-center">ACTION</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let job of paginationComService.paginatedResults">
            <td class="align-middle">
              {{ job.jobTitleId }}
            </td>
            <td class="align-middle">{{ job.jobCode }}</td>
            <td class="align-middle text-nowrap">
              {{ job.jobTitle1 }}
            </td>
            <td class="align-middle" style="width: max-content">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="job.isActive"
                  disabled
                />
              </div>
            </td>
            <td>
              <div class="d-flex align-middle mt-2">
                <select
                  class="form-select select-size-small align-middle"
                  [(ngModel)]="job.licenseLevel"
                  (change)="setDirty(job)"
                >
                  <option
                    *ngFor="let level of licenseLevels"
                    [value]="level.licenseLevel"
                  >
                    {{ level.licenseLevel }}
                  </option>
                </select>
              </div>
            </td>
            <td>
              <div class="d-flex align-middle mt-2">
                <select
                  class="form-select select-size-small"
                  [(ngModel)]="job.licenseIncentive"
                  (change)="setDirty(job)"
                >
                  <option
                    *ngFor="let incentive of licenseIncentives"
                    [value]="incentive.licenseIncentive"
                  >
                    {{ incentive.licenseIncentive }}
                  </option>
                </select>
              </div>
            </td>
            <td
              class="align-middle justify-content-center text-center"
              style="width: 10rem"
            >
              <div class="d-flex justify-content-center mb-3 me-2">
                <button
                  [ngClass]="{ 'btn-dodger-blue': job.isDirty }"
                  class="icon-edit-delete-button btn-grey"
                  type="button"
                  [disabled]="!job.isDirty"
                >
                  <span class="material-symbols-outlined"> save </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
    <div>
      <app-pagination
        *ngIf="!isLoading && jobTitles.length > 50"
        [currentPage]="paginationComService.currentPage"
        [totalItems]="paginationComService.displayItems.length"
        [itemsPerPage]="paginationComService.itemsPerPage"
        (pageChange)="
          paginationComService.currentPage = $event;
          paginationComService.updatePaginatedResults()
        "
      >
      </app-pagination>
    </div>
  </div>
</div>

<!-- Modal: EDIT-JOB-TITLE -->
<modal id="modal-edit-job-title">
  <div class="modal-header">
    <h1 class="modal-title">
      {{ adminComService.modes.jobTitle.mode }} - Job Title
    </h1>
    <!-- <button
                  type="button"
                  class="btn-close"
                  (click)="modalService.close()"
                ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-job-title></app-edit-job-title>
      </div>
    </div>
  </div>
</modal>
