<form [formGroup]="incentiveLicenseForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="preferredName">Preferred Name:</label><br />
    {{ agentName }}
    <!-- <input
      type="text"
      id="preferredName"
      name="preferredName"
      class="form-control input-size-medium"
      formControlName="preferredName"
      placeholder="Preferred Name"
    /> -->
  </div>

  <div class="form-group">
    <label for="licenseState">License State:</label>
    <select
      class="form-select select-size-x-small"
      type="text"
      id="licenseState"
    >
      <option *ngFor="let state of licenseStates" [value]="state">
        {{ state }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="licenseName">License Name:</label>
    <select class="form-select select-size-medium" type="text" id="licenseName">
      <option *ngFor="let name of licenseNames" [value]="name.value">
        {{ name.label }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="licenseStatus">License Status:</label><br />
    INCENTIVE
    <!-- <input
      type="text"
      id="licenseStatus"
      name="licenseStatus"
      class="form-control input-size-small"
      formControlName="licenseStatus"
      [value]="defaultLicenseStatus"
    /> -->
  </div>

  <div class="form-group">
    <label for="note">Note:</label>
    <textarea
      id="note"
      name="note"
      class="form-control"
      formControlName="note"
    ></textarea>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary cancel-button me-3"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary save-button"
        (click)="onSubmit()"
      >
        Save
      </button>
    </div>
  </div>
</form>
