<div class="container app-component-container">
  <div class="row mb-3">
    <div
      class="col d-flex justify-content-start mt-4"
      style="font-size: larger"
    >
      <strong style="margin-right: 1rem">License Name:</strong
      >{{ licenseMgmtData[currentIndex].licenseName }}
    </div>

    <div class="col d-flex justify-content-center mb-3 mt-1">
      <!-- <button
              class="btn btn-link page-button mb-5"
              *ngIf="isDisplayPrevious()"
              (click)="previousPage()"
            >
              <span class="material-symbols-outlined"> arrow_back_ios </span></button
            ><span class="page-info">{{ getPageInfo() }}</span>
            <button
              class="btn btn-link page-button mb-5"
              *ngIf="isDisplayNext()"
              (click)="nextPage()"
            >
              <span class="material-symbols-outlined"> arrow_forward_ios </span>
            </button> -->
    </div>

    <div class="col d-flex justify-content-end me-5">
      <!--   <button
              class="edit-button me-5"
              (click)="
                modalService.open('modal-edit-license-info')
              "
            >
              <span class="material-symbols-outlined"> edit </span>
            </button>
            <button class="edit-button">
              <span class="material-symbols-outlined"> delete </span>
            </button> -->
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <button
        class="btn btn-success"
        (click)="
          agentDataService.storeLicPreEdu('INSERT', null);
          modalService.open('modal-edit-lic-pre-edu')
        "
      >
        <span style="font-size: larger"> Insert - Renewal </span>
      </button>
    </div>
  </div>
  <div class="row">
    <div
      class="div d-flex justify-content-center"
      style="font-size: larger; color: gray"
      *ngIf="
        agentDataService.agentLicApplicationInfo.licensePreEducationItems
          .length === 0
      "
    >
      No records found
    </div>
    <!-- <table
      class="table"
      *ngIf="
        agentDataService.agentLicApplicationInfo.licensePreEducationItems
          .length !== 0
      "
    >
      <thead>
        <tr style="background-color: whitesmoke">
          <th scope="col">PreEdu Status</th>
          <th scope="col">PreEdu ID</th>
          <th scope="col">Class Name</th>
          <th scope="col">Scheduled Date</th>
          <th scope="col">Taken Date</th>
          <th scope="col">PreEdu Notes</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let licPreEdu of agentDataService.agentLicApplicationInfo
              .licensePreEducationItems
          "
        >
          <td class="align-middle">
            {{ licPreEdu.status }}
          </td>
          <td class="align-middle">
            {{ licPreEdu.employeeLicensePreEducationID }}
          </td>
          <td class="align-middle">
            {{ licPreEdu.educationName }}
          </td>
          <td class="align-middle">
            {{ licPreEdu.educationStartDate | date : "MM/dd/yyyy" }}
          </td>
          <td class="align-middle">
            {{ licPreEdu.educationEndDate | date : "MM/dd/yyyy" }}
          </td>
          <td class="align-middle">
            {{ licPreEdu.additionalNotes }}
          </td>
          <td>
            <div
              class="d-flex justify-content-between mb-3 me-4"
              style="min-width: 10rem; max-width: 10rem"
            >
              <button
                class="edit-button"
                (click)="
                  agentDataService.storeLicPreEdu('EDIT', licPreEdu);
                  modalService.open('modal-edit-lic-pre-edu')
                "
              >
                <span class="material-symbols-outlined"> edit </span>
              </button>
              <button class="edit-button">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>

<!-- Modal: EDIT-LIC-PRE-EXAM -->
<!-- <modal id="modal-edit-lic-pre-exam">
    <div class="modal-header">
      <h1 class="modal-title">
        <strong>{{ agentComService.modeLicPreExam }}</strong> - Pre Exam
      </h1>
    </div>
    <div class="modal-body">
      <div>
        <div>
          <app-edit-lic-pre-exam></app-edit-lic-pre-exam>
        </div>
      </div>
    </div>
  </modal> -->
