<div *ngIf="displayMode && displayMode == 'ATTACHMENT'; else chooseFileBlock">
  <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
  />
  <div class="file-upload">
    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="fileUpload.click()"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
    <span class="ms-3" style="font-size: larger; font-weight: 400">
      {{ fileName || "No file attached." }}
    </span>
  </div>
</div>

<ng-template #chooseFileBlock>
  <div>
    <input
      class="file-upload"
      type="file"
      (change)="onFileSelected($event)"
      #fileUpload
    />
  </div>
</ng-template>