<form
  [formGroup]="licPreEduForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
        <div class="mb-3" *ngIf="agentComService.modeLicPreEdu === 'EDIT'">
            <label for="preEducationID" class="form-label">Pre Edu ID:</label>
            <input
              class="form-control input-size-small"
              type="text"
              id="preEducationID"
              formControlName="preEducationID"
            />
          </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="status"
          formControlName="status"
        />
      </div>
      <div class="mb-3">
        <label for="educationStartDate" class="form-label">Start:</label>
        <input
          class="form-control input-size-small"
          type="date"
          id="educationStartDate"
          formControlName="educationStartDate"
        />
      </div>
      <div class="mb-3">
        <label for="educationEndDate" class="form-label">End:</label>
        <input
          class="form-control input-size-small"
          type="date"
          id="educationEndDate"
          formControlName="educationEndDate"
        />
      </div>
      
      <div class="mb-3">
        <label for="companyID" class="form-label">Company ID:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="companyID"
          formControlName="companyID"
        />
      </div>

      <div class="mb-3">
        <label for="educationName" class="form-label">Name:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="educationName"
          formControlName="educationName"
        />
      </div>

      <div class="mb-3">
        <label for="employeeLicenseID" class="form-label"
          >Employee License ID:</label
        >
        <input
          class="form-control input-size-small"
          type="text"
          id="employeeLicenseID"
          formControlName="employeeLicenseID"
        />
      </div>

      <div class="mb-3">
        <label for="additionalNotes" class="form-label"
          >Additional Notes:</label
        >
        <input
          class="form-control input-size-small"
          type="text"
          id="additionalNotes"
          formControlName="additionalNotes"
        />
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-3 cancel-button">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>
  </div>
</form>
