<div
  class="container app-container"
>
  <div class="row mt-3">
    <div class="col-md-12">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div id="search-filter">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="search">Social Security #:</label>
                <input
                  type="text"
                  class="form-control input-size-small"
                  id="EmployeeSSN"
                  formControlName="EmployeeSSN"
                  placeholder="####"
                />
                <br />
                <label for="search">Team Member ID:</label>
                <input
                  type="text"
                  class="form-control input-size-small"
                  id="TeamMemberGEID"
                  formControlName="TeamMemberGEID"
                />
                <br />
                <br />
                <label for="search">Last Name:</label>
                <input
                  type="text"
                  class="form-control input-size-medium"
                  id="LastName"
                  formControlName="LastName"
                />
                <br />
                <label for="search">First Name:</label>
                <input
                  type="text"
                  class="form-control input-size-medium"
                  id="FirstName"
                  formControlName="FirstName"
                />
              
                <!-- <mat-divider class="mt-5 mb-3"></mat-divider> -->
              
              </div>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Resident State</mat-label>
                <mat-select formControlName="ResState">
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let state of stateProvinces"
                    [value]="state"
                    >{{ state }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Work State</mat-label>
                <mat-select
                  formControlName="WrkState"
                  placeholder="Select Work State"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let state of stateProvinces"
                    [value]="state"
                    >{{ state }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              
              <!-- <mat-divider class="mt-2 mb-3"></mat-divider> -->
              
              <mat-form-field>
                <mat-label>License Status</mat-label>
                <mat-select
                  [(value)]="selectedLicenseStatuses"
                  formControlName="LicStatus"
                  multiple
                  (selectionChange)="onLicenseStatusSelectionChange($event)"
                  placeholder="Select License Status"
                >
                  <!-- <mat-option>None</mat-option> -->
                  <mat-option
                    *ngFor="let licenseStatus of licenseStatuses"
                    [value]="licenseStatus.value"
                    [disabled]="
                      selectedLicenseStatuses.includes('All') &&
                      licenseStatus.label !== 'All'
                    "
                    >{{ licenseStatus.label }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>License State</mat-label>
                <mat-select
                  formControlName="LicState"
                  placeholder="Select License State"
                >
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{
                    state
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>License Name</mat-label>
                <mat-select
                  formControlName="LicenseName"
                  placeholder="Select License Name"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let licenseName of licenseNames"
                    [value]="licenseName.value"
                    >{{ licenseName.label }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <label for="search">National Producer #:</label>
              <input
                type="text"
                class="form-control input-size-small"
                id="NationalProducerNumber"
                formControlName="NationalProducerNumber"
              />

              <mat-form-field class="mt-3">
                <mat-label>Employer/Agency</mat-label>
                <mat-select
                  formControlName="EmployerAgency"
                  placeholder="Select Emp-Agency"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let employerAgency of employerAgencies"
                    [value]="employerAgency.value"
                    >{{ employerAgency.label }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Agent Status</mat-label>
                <mat-select
                  [(value)]="selectedAgentStatuses"
                  formControlName="AgentStatus"
                  multiple
                  (selectionChange)="onAgentStatusSelectionChange($event)"
                  placeholder="Select Agent Status"
                >
                  <mat-option
                    *ngFor="let value of agentStatuses"
                    [value]="value"
                    [disabled]="
                      selectedAgentStatuses.includes('All') && value !== 'All'
                    "
                    >{{ value }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <!-- <mat-divider class="mt-2 mb-3"></mat-divider> -->

              <mat-form-field>
                <mat-label>Score Number</mat-label>
                <mat-select
                  formControlName="ScoreNumber"
                  placeholder="Select Score Num"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let scoreNumber of scoreNumbers"
                    [value]="scoreNumber.value"
                    >{{ scoreNumber.label }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <br />
              <mat-form-field>
                <mat-label>Branch Name</mat-label>
                <mat-select
                  formControlName="BranchCode"
                  placeholder="Select Branch Name"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let branchName of branchNames"
                    [value]="branchName.value"
                  >
                    {{ branchName.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <div class="col-md-5" *ngIf="isShowTickle">
              <app-tickler-mgmt></app-tickler-mgmt>
            </div> -->
          </div>
        </div>

        <mat-divider class="mt-1 mb-1"></mat-divider>

        <div class="row">
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-primary"
              style="font-size: large"
            >
              Search
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              style="font-size: large"
              (click)="onReset()"
            >
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <mat-divider *ngIf="isSubmitted && !loading"></mat-divider>

  <div
    class="row mt-3 mb-3"
    style="font-size: larger"
    *ngIf="isSubmitted && !loading"
  >
    <div class="col d-flex justify-content-center">
      <span class="me-2" style="font-weight: 700">{{
        searchEmployeeResult.length | number
      }}</span>
      - record(s) found
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12" *ngIf="isSubmitted && searchEmployeeResult">
      <div class="col-md-12 mb-3" *ngIf="loading">
        <div class="d-flex justify-content-center mt-5">
          <div class="spinner-border text-primary"></div>
        </div>
      </div>
      <app-search-list></app-search-list>
    </div>
    <div>
      <app-pagination
        *ngIf="isSubmitted && !loading && searchEmployeeResult.length > 50"
        [currentPage]="paginationComService.currentPage"
        [totalItems]="paginationComService.displayItems.length"
        [itemsPerPage]="paginationComService.itemsPerPage"
        (pageChange)="
          paginationComService.currentPage = $event;
          paginationComService.updatePaginatedResults()
        "
      >
      </app-pagination>
    </div>
  </div>
</div>
