<div class="container app-container">
  <!-- <h1>Search for Team Member</h1> -->
  <div class="row">
    <div class="col-md-12 p-3">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div
          id="search-filter"
          ngModelGroup="searchFilter"
          #searchFilter="ngModelGroup"
        >
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="search">Social Security #:</label>
                <input
                  type="text"
                  class="form-control input-size-small"
                  id="EmployeeSSN"
                  ngModel
                  name="EmployeeSSN"
                  placeholder="####"
                />
                <label for="search">Team Member ID:</label>
                <input
                  type="text"
                  class="form-control input-size-small"
                  id="TeamMemberGEID"
                  ngModel
                  name="TeamMemberGEID"
                />
                <label for="search">National Producer #:</label>
                <input
                  type="text"
                  class="form-control input-size-small"
                  id="NationalProducerNumber"
                  ngModel
                  name="NationalProducerNumber"
                />
                <label for="search">Last Name:</label>
                <input
                  type="text"
                  class="form-control input-size-medium"
                  id="LastName"
                  ngModel
                  name="LastName"
                />
                <label for="search">First Name:</label>
                <input
                  type="text"
                  class="form-control input-size-medium"
                  id="FirstName"
                  ngModel
                  name="FirstName"
                />
                <label for="search">Resident State:</label><br />
                <mat-form-field>
                  <mat-select
                    ngModel
                    name="ResState"
                    placeholder="Select Res State"
                  >
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let state of stateProvinces"
                      [value]="state"
                      >{{ state }}</mat-option
                    >
                  </mat-select> </mat-form-field
                ><br />
                <label for="search">Work State:</label><br />
                <mat-form-field>
                  <mat-select
                    ngModel
                    name="WrkState"
                    placeholder="Select Work State"
                  >
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let state of stateProvinces"
                      [value]="state"
                      >{{ state }}</mat-option
                    >
                  </mat-select> </mat-form-field
                ><br />
                <label for="search">Branch Name:</label><br />
                <mat-form-field>
                  <mat-select
                    ngModel
                    name="BranchCode"
                    placeholder="Select Branch Name"
                  >
                    <mat-option>None</mat-option>
                    <mat-option
                      *ngFor="let branchName of branchNames"
                      [value]="branchName.value"
                      >{{ branchName.label }}</mat-option
                    >
                  </mat-select> </mat-form-field
                ><br />
              </div>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Agent Status</mat-label>
                <!-- <mat-select ngModel name="agentStatus" multiple>
                  @for (value of agentStatuses; track value) {
                  <mat-option [value]="value">{{ value }}</mat-option>
                  }
                </mat-select>  -->
                <mat-select
                  [(value)]="defaultAgentStatus"
                  ngModel
                  name="AgentStatus"
                  multiple
                >
                  <mat-option *ngFor="let value of agentStatuses" [value]="value">{{
                    value
                  }}</mat-option>
                </mat-select> </mat-form-field
              ><br />
              <label for="search">Score Number:</label><br />
              <mat-form-field>
                <mat-select
                  ngModel
                  name="ScoreNumber"
                  placeholder="Select Score Num"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let scoreNumber of scoreNumbers"
                    [value]="scoreNumber.value"
                    >{{ scoreNumber.label }}</mat-option
                  >
                </mat-select> </mat-form-field
              ><br />
              <label for="search">Employer/Agency:</label><br />
              <mat-form-field>
                <mat-select
                  ngModel
                  name="EmployerAgency"
                  placeholder="Select Emp-Agency"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let employerAgency of employerAgencies"
                    [value]="employerAgency.value"
                    >{{ employerAgency.label }}</mat-option
                  >
                </mat-select> </mat-form-field
              ><br /><br />
              <label for="search">License Status:</label><br />
              <mat-form-field>
                <mat-select
                  ngModel
                  name="LicStatus"
                  placeholder="Select License Status"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let licenseStatus of licenseStatuses"
                    [value]="licenseStatus"
                    >{{ licenseStatus }}</mat-option
                  >
                </mat-select> </mat-form-field
              ><br />
              <label for="search">License State:</label><br />
              <mat-form-field>
                <mat-select
                  ngModel
                  name="LicState"
                  placeholder="Select License State"
                >
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{
                    state
                  }}</mat-option>
                </mat-select> </mat-form-field
              ><br />
              <label for="search">License Name:</label><br />
              <mat-form-field>
                <mat-select
                  ngModel
                  name="LicenseName"
                  placeholder="Select License Name"
                >
                  <mat-option>None</mat-option>
                  <mat-option
                    *ngFor="let licenseName of licenseNames"
                    [value]="licenseName"
                    >{{ licenseName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-5" *ngIf="isShowTickle">
              <app-tickler-mgmt></app-tickler-mgmt>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

  <mat-divider *ngIf="isSubmitted"></mat-divider>

  <div class="row mt-3 mb-3" style="font-size: larger" *ngIf="isSubmitted">
    <div class="col d-flex justify-content-center">
      <span class="me-2" style="font-weight: 700">{{
        searchEmployeeResult.length
      }}</span>
      - record(s) found
    </div>
  </div>

  <div class="row" *ngIf="isSubmitted">
    <div class="col-md-12">
      <app-search-list></app-search-list>
    </div>
  </div>

</div>
