<div class="container" style="margin-left: 5rem; margin-right: 5rem;">
  <div class="row mt-5 mb-3">
    <div class="col d-flex justify-content-start align-items-start">
      <button
        class="btn btn-success"
        type="button"
        (click)="
          adminDataService.storeLicenseTech('INSERT', null);
          modalService.open('modal-edit-license-tech')
        "
      >
        Create New License Tech
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-5 mb-5 d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border text-primary"></div>
  </div>
  <div class="row mt-4" *ngIf="!loading">
    <div class="col">
      <table class="table w-100" *ngIf="licenseTechs.length > 0">
        <thead>
          <tr class="sticky-top" style="background-color: gainsboro">
            <th scope="col" *ngIf="appComService.isShowEditID">
              LicenseTechID
            </th>
            <th scope="col">TeamNum</th>
            <th scope="col">LastName</th>
            <th scope="col">FirstName</th>
            <th scope="col">Phone</th>
            <th scope="col">Fax</th>
            <th scope="col">LicenseTechEmail</th>
            <th scope="col">SOEID</th>
            <th scope="col">IsActive</th>
            <th scope="col" class="text-center">ACTION</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let tech of licenseTechs">
            <td
              class="align-middle text-center"
              *ngIf="appComService.isShowEditID"
            >
              {{ tech.licenseTechId }}
            </td>
            <td class="align-middle">{{ tech.teamNum }}</td>
            <td class="align-middle text-nowrap">
              {{ tech.lastName }}
            </td>
            <td class="align-middle text-nowrap">
              {{ tech.firstName }}
            </td>
            <td class="align-middle text-nowrap">
              {{ tech.licenseTechPhone }}
            </td>
            <td class="align-middle text-nowrap">
              {{ tech.licenseTechFax }}
            </td>
            <td class="align-middle text-nowrap">
              {{ tech.licenseTechEmail }}
            </td>
            <td class="align-middle text-nowrap">
              {{ tech.soeid }}
            </td>
            <td class="align-middle" style="width: max-content">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="tech.isActive"
                  disabled
                />
              </div>
            </td>
            <td class="align-middle" style="width: 10rem">
              <div class="d-flex justify-content-between mb-3 me-4">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  (click)="
                    adminDataService.storeLicenseTech('EDIT', tech);
                    modalService.open('modal-edit-license-tech')
                  "
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="icon-edit-delete-button" type="button">
                  <span
                    class="material-symbols-outlined"
                    (click)="
                      openConfirmDialog(
                        'deleteLicenseTechItem',
                        'Exam Delete',
                        tech
                      )
                    "
                  >
                    delete
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal: EDIT-LICENSE-ITEM -->
<modal id="modal-edit-license-tech">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ adminComService.modes.licenseTech.mode }}</strong> - License
      Tech
    </h1>
    <!-- <button
                    type="button"
                    class="btn-close"
                    (click)="modalService.close()"
                  ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-license-tech
          (callParentRefreshData)="onChildCallRefreshData()"
        ></app-edit-license-tech>
      </div>
    </div>
  </div>
</modal>
