<form
  [formGroup]="coRequirementsForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div class="mb-3" *ngIf="appComService.isShowEditID">
        <label for="companyRequirementID" class="form-label"
          >Co. Requirement ID:</label
        >
        <input
          class="form-control input-size-small"
          type="text"
          id="companyRequirementID"
          formControlName="companyRequirementID"
        />
      </div>

      <div class="mb-3">
        <label for="assetIdString" class="form-label">
          Asset ID: <span class="text-danger">*</span></label
        >
        <select
          class="form-select select-size-medium"
          type="text"
          id="assetIdString"
          formControlName="assetIdString"
          [value]="coRequirementsForm.get('assetIdString')?.value"
        >
          <option *ngFor="let id of coReqAssetIDs" [value]="id.lkpValue">
            {{ id.lkpValue }}
          </option>
        </select>
        <div
          *ngIf="
            (coRequirementsForm.controls['assetIdString'].touched ||
              isFormSubmitted) &&
            coRequirementsForm.controls['assetIdString'].errors &&
            (coRequirementsForm.controls['assetIdString'].errors['invalid'] ||
              coRequirementsForm.controls['assetIdString'].errors['required'])
          "
          class="text-danger"
        >
          Please select AssetID
        </div>
      </div>

      <!-- <div class="mb-3">
        <label for="learningProgramEnrollmentDate" class="form-label"
          >Enrollment Date: <span class="text-danger">*</span></label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="learningProgramEnrollmentDate"
          formControlName="learningProgramEnrollmentDate"
        />
        <div
          *ngIf="
            (coRequirementsForm.controls['learningProgramEnrollmentDate']
              .touched ||
              isFormSubmitted) &&
            coRequirementsForm.controls['learningProgramEnrollmentDate']
              .errors &&
            coRequirementsForm.controls['learningProgramEnrollmentDate'].errors[
              'invalid'
            ]
          "
          class="text-danger"
        >
          Please select Enrollment Date
        </div>
      </div> -->
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="learningProgramStatus" class="form-label"
          >Status: <span class="text-danger">*</span>
        </label>
        <select
          class="form-select select-size-small"
          type="text"
          id="learningProgramStatus"
          formControlName="learningProgramStatus"
          [value]="coRequirementsForm.get('learningProgramStatus')?.value"
        >
          <option *ngFor="let code of coReqStatuses" [value]="code.lkpValue">
            {{ code.lkpValue }}
          </option>
        </select>
        <div
          *ngIf="
            (coRequirementsForm.controls['learningProgramStatus'].touched ||
              isFormSubmitted) &&
            coRequirementsForm.controls['learningProgramStatus'].errors &&
            coRequirementsForm.controls['learningProgramStatus'].errors[
              'invalid'
            ]
          "
          class="text-danger"
        >
          Please select Status
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="learningProgramCompletionDate" class="form-label"
          >Completion Date:</label
        ><br />
        <input
          class="form-control input-size-small"
          type="date"
          id="learningProgramCompletionDate"
          formControlName="learningProgramCompletionDate"
        />
        <div
          *ngIf="
            isFormSubmitted &&
            coRequirementsForm.controls['learningProgramCompletionDate']
              .errors &&
            coRequirementsForm.controls['learningProgramCompletionDate'].errors[
              'invalid'
            ]
          "
          class="text-danger"
        >
          Please select Date
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="onCloseModal()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary save-button"
        [disabled]="coRequirementsForm.pristine"
      >
        Save
      </button>
    </div>
  </div>
</form>
