<div class="container app-component-container">
  <div class="row">
    <div class="col">
      <label for="createdBy">Created By:</label>
      <select
        class="form-select form-select-lg select-size-small"
        type="text"
        id="createdBy"
        (change)="agentDataService.filterBySOEID($event)"
      >
        <option
          *ngFor="let createdBy of agentInfo.diaryCreatedByItems"
          [value]="createdBy.soeid"
        >
          {{ createdBy.techName }}
        </option>
      </select>
    </div>

    <div class="col d-flex align-items-end justify-content-end">
      <button
        class="btn btn-success"
        type="button"
        (click)="
          agentDataService.storeContEduHoursTaken('INSERT', null);
          modalService.open('modal-edit-diary-entry')
        "
      >
        Insert New Diary Entry
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="table">
        <thead>
          <tr style="background-color: gainsboro">
            <th scope="col">TechName</th>
            <th scope="col">DiaryID</th>
            <th scope="col">DiaryDate</th>
            <th scope="col">Notes</th>
            <th scope="col" class="text-center" style="width: 10rem;">Action</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let diary of diaryItems">
            <td class="align-middle" style="font-size: larger">
              {{ diary.soeid }}
            </td>
            <td class="align-middle">{{ diary.diaryID }}</td>
            <td class="align-middle text-nowrap">
              {{ diary.diaryDate | date }}
            </td>
            <td class="align-middle" style="width: max-content">
              {{ diary.notes }}
            </td>
            <td class="align-middle" style="width: 10rem">
              <div class="d-flex justify-content-between mb-3 me-4">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  (click)="
                    agentDataService.storeDiaryEntry('EDIT', diary);
                    modalService.open('modal-edit-diary-entry')
                  "
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="icon-edit-delete-button" type="button">
                  <span class="material-symbols-outlined"> delete </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>

<!-- Modal: EDIT-DIARY-ENTRY -->
<modal id="modal-edit-diary-entry">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeContEduHoursTaken }}</strong> - Diary Entry
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-diary-entry></app-edit-diary-entry>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modalService.close()"
        >
          Close
        </button>
      </div> -->
</modal>
