.centered-title {
    text-align: center;
  }

.dialog-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  
  .dialog-actions button {
    flex-grow: 1;
  }