<div class="container app-modal-container">
  <div class="row">
    <div class="col" style="max-height: 500px; overflow-y: auto">
      <table class="table selected-row">
        <thead
          style="
            position: sticky;
            top: 0;
            background-color: whitesmoke;
            z-index: 1;
          "
        >
          <tr>
            <th scope="col">List Name</th>
            <th scope="col">Create Date</th>
            <th scope="col">Agent Name</th>
            <th scope="col">License Tech</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody style="font-size: smaller">
          <tr
            *ngFor="let data of techWorklistItems; let i = index"
            [class.selected]="selectedRowIndex === i"
            (click)="
              selectRow(
                $event,
                data.workListName,
                data.workListData.split('|')[0],
                data.workListData.split('|')[1]
              )
            "
          >
            <td class="align-middle">
              {{ data.workListName }}
            </td>
            <td class="align-middle">
              {{ data.createDate | date : "MM/dd/yyyy" }}
            </td>
            <td class="align-middle">
              <!-- {{ data.agentName }} -->
              {{ getWorkListDataField(data.workListData, 4) }}
              <!-- {{ getWorkListDataField(data.workListData, 9) }} -->
              <span
                class="ms-2"
                *ngIf="data.workListName === 'In Process Status'"
              >
                ( {{ getWorkListDataField(data.workListData, 9) }} )
              </span>
            </td>
            <td class="align-middle">
              {{ data.licenseTech }}
            </td>
            <td class="align-middle" style="width: 10rem">
              <div class="d-flex align-middle justify-content-between mb-3">
                <button
                  class="icon-close-button me-5"
                  (click)="onCloseWorklistItem(data)"
                  title="Close Item"
                >
                  <span class="material-symbols-outlined"> close </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary cancel-button me-3"
        (click)="forceCloseModal()"
      >
        Close
      </button>
    </div>
  </div>
</div>
