<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>OneTrakV2</span>
  <span class="toolbar-item-spacer"></span>
  <!-- <button mat-icon-button matTooltip="Like">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Share">
      <mat-icon>share</mat-icon>
    </button> -->
  <button
    mat-icon-button
    matTooltip="Notifications"
    (click)="appComService.toggleTickler()"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  <!-- <button
      mat-icon-button
      matTooltip="My Account"
      [matMenuTriggerFor]="userAccountMenu"
    >
      <mat-icon>account_circle</mat-icon>
    </button> -->
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#">
      <mat-icon>person</mat-icon><span>My Account</span>
    </button>
    <button mat-menu-item routerLink="#">
      <mat-icon>settings</mat-icon><span>Settings</span>
    </button>
    <button mat-menu-item routerLink="#">
      <mat-icon>help</mat-icon><span>Help</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="#">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    [class.mat-elevation-z4]="true"
    class="app-sidenav"
  >
    <mat-nav-list>
      <mat-list-item
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [disabled]="!appComService.isLoggedIn"
        (click)="onDashboardClick($event)"
      >
        <mat-icon>dashboard</mat-icon><span>Dashboard</span>
      </mat-list-item>

      <mat-expansion-panel
        (opened)="onPanelOpened('ADMINISTRATION')"
        [class.mat-elevation-z0]="true"
        [disabled]="!appComService.isLoggedIn"
      >
        <mat-expansion-panel-header >
          <mat-icon>business</mat-icon><span>Administration</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onCompanyEditClick($event)"
            >Company Edit</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onCompanyRequirementsClick($event)"
            >Company Requirements</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onConEduEditClick($event)"
            >Con-Education Edit</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onDropdownListEditClick($event)"
            >DropDown List Edit</a
          >
          <a
            mat-list-item
            routerLink="/admin/examp-edit"
            routerLinkActive="active"
            (click)="onExamEditClick($event)"
            >Exam Edit</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onJobTitleLicensedClick($event)"
            >Job Title Licensed</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onLicenseEditClick($event)"
            >License Edit</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onLicenseTechEditClick($event)"
            >License Tech Edit</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onPreEduEditClick($event)"
            >Pre Education Edit</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onProductEditClick($event)"
            >Product Edit</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onStateLicenseRequirementsClick($event)"
            >State License Requirements</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onStateProvinceEditClick($event)"
            >State Province Edit</a
          >
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onXBorLicenseRequirementsClick($event)"
            >XBor License Requirements</a
          >
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel
        (opened)="onPanelOpened('TEAM')"
        [class.mat-elevation-z0]="true"
        [disabled]="!appComService.isLoggedIn"
      >
        <mat-expansion-panel-header>
          <mat-icon>group</mat-icon><span>Team Members</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onAddMemberClick($event)"
          >
            <mat-icon>person_add</mat-icon><span>Add Member</span>
          </a>
          <a
            mat-list-item
            routerLinkActive="active"
            (click)="onSearchMemberClick($event)"
          >
            <mat-icon>search</mat-icon><span>Search Members</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-list-item [disabled]="!appComService.isLoggedIn">
        <a href="https://omsbi/Reports/browse/Licensing" target="_blank">
          <mat-icon>library_books</mat-icon>
          <span style="font-size: 1.5rem; font-weight: 500">Reports</span>
        </a>
      </mat-list-item>

      <mat-list-item
        [disabled]="!appComService.isLoggedIn"
        (click)="onWorklistClick($event)"
      >
        <mat-icon>list_alt</mat-icon>
        <span style="font-size: 1.5rem; font-weight: 500" class="text-center">
          Work Lists
        </span>
      </mat-list-item>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <app-login *ngIf="!appComService.isLoggedIn"></app-login>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: aliceblue">
    <div
      *ngIf="errorMessageService.errorMessage"
      class="alert alert-danger"
      style="font-size: larger; font-weight: 500"
    >
      {{ errorMessageService.errorMessage }}
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
