<div class="mt-auto justify-content-end">
  <div class="ms-3 justify-content-start">
    <div>
      <label for="devLogin">Impersonate:</label><br />
      <select
        class="form-select select-size-med-small"
        type="text"
        id="licTech"
        (change)="onImpersonateChange($event)"
      >
        <option *ngFor="let tech of licenseTechs" [value]="tech.value">
          {{ tech.label }}
        </option>
      </select>
    </div>
    <div>
      <label class="mt-2" for="devLogin">As</label><br />
      <select
        class="form-select select-size-small"
        type="text"
        id="licTech"
        (change)="onRoleChange($event)"
      >
        <option>Select</option>
        <option>ADMIN</option>
        <option>TECH</option>
        <option>READ</option>
        <!-- <option>QA</option> -->
        <!-- <option>DVLPER</option> -->
      </select>
    </div>
    <div>
      <button
        class="btn btn-primary mt-2"
        (click)="onImpersonate()"
      >
        Impersonate
      </button>
    </div>
  </div>
</div>
