<form [formGroup]="ticklerForm" (ngSubmit)="onSubmit()">
  <div class="row ms-1">
    <div class="col">
      <div class="form-group">
        <!-- <label for="licenseTechId">Assignment:</label> -->
        <select
          class="form-select select-size-medium"
          type="text"
          id="licenseTechId"
          formControlName="licenseTechId"
        >
          <option *ngFor="let tech of licenseTechs" [value]="tech.value">
            {{ tech.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="memberNumber">Team Member Number:</label><br />
        {{ agentInfo?.geid }}
      </div>

      <div class="form-group">
        <label for="memberName">Team Member Name:</label><br />
        {{ agentInfo?.lastName }}, {{ agentInfo?.firstName }}
      </div>

      <div class="form-group" *ngIf="isDisplayOtherMsg">
        <label for="message">Other Tickler:</label><span class="required ms-2" style="color: red">*</span><br />
        <textarea
          class="form-control ms-3"
          id="message"
          
          formControlName="message"
        ></textarea>
        <div
          *ngIf="
            ticklerForm.controls['message'].errors &&
            ticklerForm.controls['message'].errors['incorrect']
          "
          class="text-danger"
        >
          Please enter Message
        </div>
      </div>

    </div>
    <div class="col">
      <div class="form-group" *ngIf="typeTickler.type == 'LOA'">
        <label for="memberName">Line of Authority:</label><br />
        {{ typeTickler.loa }}
      </div>

      <div class="form-group">
        <label for="ticklerDueDate">Due Date:</label>
        <span class="required ms-2" style="color: red">*</span>
        <input
          id="ticklerDueDate"
          type="date"
          class="form-control input-size-small"
          formControlName="ticklerDueDate"
          [min]="today"
        />
        <div
          *ngIf="
            ticklerForm.controls['ticklerDueDate'].errors &&
            ticklerForm.controls['ticklerDueDate'].errors['incorrect']
          "
          class="text-danger"
        >
          Please enter a Due Date
        </div>
      </div>

      <div class="form-group">
        <label for="stockTicker">Stock Tickler Message:</label>
        <span class="required ms-2" style="color: red">*</span>
        <select
          class="form-select select-size-med-small"
          type="text"
          id="stockTicker"
          (change)="onTicklerMsgChange($event)"
          formControlName="lkpValue"
        >
          <option
            *ngFor="let item of stockTicklerItems"
            [value]="item.lkpValue"
          >
            {{ item.lkpValue }}
          </option>
        </select>
        <div
          *ngIf="
            ticklerForm.controls['lkpValue'].errors &&
            ticklerForm.controls['lkpValue'].errors['incorrect']
          "
          class="text-danger"
        >
          Please select a Stock Tickler Message
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-3">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-4" (click)="onCancel()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="ticklerForm.pristine"
      >
        Insert
      </button>
    </div>
  </div>
</form>
