<form
  [formGroup]="jobTitleForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div
        class="mb-3"
        *ngIf="
          agentComService.modeEmploymentJobTitleHist === 'EDIT' &&
          appComService.isShowEditID
        "
      >
        <label for="employmentJobTitleID" class="form-label"
          >Employment JobTitle ID:</label
        >
        <input
          class="form-control input-size-small"
          type="text"
          id="employmentJobTitleID"
          formControlName="employmentJobTitleID"
        />
      </div>

      <div class="mb-3">
        <label for="jobTitleDate" class="form-label"
          >Job Title Date: <span class="text-danger">*</span></label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="jobTitleDate"
          formControlName="jobTitleDate"
        />
        <div
          *ngIf="
            (jobTitleForm.controls['jobTitleDate'].touched ||
              isFormSubmitted) &&
            jobTitleForm.controls['jobTitleDate'].errors &&
            jobTitleForm.controls['jobTitleDate'].errors['invalid']
          "
          class="text-danger"
        >
          Please select Title Date
        </div>
      </div>

      <div class="mb-3">
        <label for="jobTitleID" class="form-label"
          >Job Title: <span class="text-danger">*</span></label
        >
        <select
          class="form-select select-size-large"
          type="text"
          id="jobTitleID"
          formControlName="jobTitleID"
        >
          <option *ngFor="let title of jobTitles" [value]="title.value">
            {{ title.label }}
          </option>
        </select>
        <div
          *ngIf="
            (jobTitleForm.controls['jobTitleID'].touched || isFormSubmitted) &&
            jobTitleForm.controls['jobTitleID'].errors &&
            jobTitleForm.controls['jobTitleID'].errors['required']
          "
          class="text-danger"
        >
          Please select Job Title
        </div>
      </div>

      <div class="mb-3">
        <input
          class="form-check-input me-2"
          type="checkbox"
          id="isCurrent"
          formControlName="isCurrent"
        />
        <label for="isCurrent" class="form-label">Is Current Record</label>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary save-button"
        [disabled]="jobTitleForm.pristine"
      >
        Save
      </button>
    </div>
  </div>
</form>
