<div class="container app-component-container">
  <mat-expansion-panel class="mat-elevation-z4 mt-3 mb-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="app-panel-title mt-3">
          <h2>Employment History</h2>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        {{ employmentHistory.length }} - record(s) found
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-description">
      <div class="row mb-3">
        <div class="col">
          <button
            class="btn btn-success"
            (click)="
              agentDataService.storeEmploymentTransferHistory('INSERT', null);
              modalService.open('modal-edit-emp-history')
            "
          >
            <span style="font-size: larger"> Insert - Employment History </span>
          </button>
        </div>
      </div>
      <div
        class="div d-flex justify-content-center mt-5"
        style="font-size: larger; color: gray"
        *ngIf="employmentHistory.length === 0"
      >
        No records found
      </div>
      <div class="row" *ngIf="employmentHistory.length !== 0">
        <div class="col">
          <table class="table">
            <thead>
              <tr style="background-color: whitesmoke">
                <th scope="col" *ngIf="appComService.isShowEditID">
                  History ID
                </th>
                <th scope="col">Hire Date</th>
                <th scope="col">Rehire Date</th>
                <th scope="col">Notified Term Date</th>
                <th scope="col">HR Term Date</th>
                <th scope="col">HR Term Code</th>
                <th scope="col">For Cause</th>
                <th scope="col">Background Check Status</th>
                <th scope="col">Background Check Notes</th>
                <th scope="col">Is Current</th>
                <th scope="col" class="text-center" style="width: 10rem">
                  ACTION
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of employmentHistory">
                <td class="align-middle" *ngIf="appComService.isShowEditID">
                  {{ emp.employmentHistoryID }}
                </td>
                <td class="align-middle">
                  {{ emp.hireDate | date : "MM/dd/yyyy" }}
                </td>
                <td class="align-middle">
                  {{ emp.rehireDate | date : "MM/dd/yyyy" }}
                </td>
                <td class="align-middle">
                  {{ emp.notifiedTermDate | date : "MM/dd/yyyy" }}
                </td>
                <td class="align-middle">
                  {{ emp.hrTermDate | date : "MM/dd/yyyy" }}
                </td>
                <td class="align-middle">{{ emp.hrTermCode }}</td>
                <td class="align-middle">
                  {{ emp.isForCause ? "Yes" : "No" }}
                </td>
                <td class="align-middle">{{ emp.backgroundCheckStatus }}</td>
                <td class="align-middle">{{ emp.backGroundCheckNotes }}</td>
                <td class="align-middle">{{ emp.isCurrent ? "Yes" : "No" }}</td>
                <td style="width: 10rem">
                  <div
                    class="d-flex justify-content-between mb-3 me-4"
                    style="min-width: 10rem; max-width: 10rem"
                  >
                    <button
                      class="icon-edit-delete-button"
                      (click)="
                        agentDataService.storeEmploymentTransferHistory(
                          'EDIT',
                          emp
                        );
                        modalService.open('modal-edit-emp-history')
                      "
                    >
                      <span class="material-symbols-outlined"> edit </span>
                    </button>
                    <button
                      class="icon-edit-delete-button"
                      (click)="
                        openConfirmDialog(
                          'deleteEmploymentHistory',
                          'Employment History Item',
                          emp
                        )
                      "
                    >
                      <span class="material-symbols-outlined"> delete </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z4 mb-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="app-panel-title mt-3">
          <h2>Transfer History</h2>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        {{ transferHistory.length }} - record(s) found
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-description">
      <div class="row mb-3">
        <div class="col">
          <button
            class="btn btn-success"
            (click)="
              agentDataService.storeTransferHistory('INSERT', null);
              modalService.open('modal-edit-tran-history')
            "
          >
            <span style="font-size: larger"> Insert - Transfer History </span>
          </button>
        </div>
      </div>
      <div
        class="div d-flex justify-content-center mt-5"
        style="font-size: larger; color: gray"
        *ngIf="transferHistory.length === 0"
      >
        No records found
      </div>
      <div class="row" *ngIf="transferHistory.length !== 0">
        <table class="table">
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col" *ngIf="appComService.isShowEditID">Trans. ID</th>
              <th scope="col">Branch Code</th>
              <th scope="col">Res. St. Code</th>
              <th scope="col">Work St. Code</th>
              <th scope="col">Trans. Date</th>
              <th scope="col">Is Current</th>
              <th scope="col" class="text-center" style="width: 10rem">
                ACTION
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transfer of transferHistory">
              <td class="align-middle" *ngIf="appComService.isShowEditID">
                {{ transfer.transferHistoryID }}
              </td>
              <td class="align-middle">
                {{ transfer.branchCode }}
              </td>
              <td class="align-middle">
                {{ transfer.resStateAbv }}
              </td>
              <td class="align-middle">
                {{ transfer.workStateAbv }}
              </td>
              <td class="align-middle">
                {{ transfer.transferDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">
                {{ transfer.isCurrent ? "Yes" : "NO" }}
              </td>
              <td style="width: 10rem">
                <div
                  class="d-flex justify-content-between mb-3 me-4"
                  style="min-width: 10rem; max-width: 10rem"
                >
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      agentDataService.storeTransferHistory('EDIT', transfer);
                      modalService.open('modal-edit-tran-history')
                    "
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <button class="icon-edit-delete-button" (click)="
                  openConfirmDialog(
                    'deleteTransferHistory',
                    'Transfer History Item',
                    transfer
                  )
                ">
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z4 mb-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="app-panel-title mt-3">
          <h2>Company Requirements History</h2>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        {{ companyRequirementsHistory.length }} - record(s) found
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-description">
      <div class="row mb-3">
        <div class="col">
          <button
            class="btn btn-success"
            (click)="
              agentDataService.storeCompanyRequirementsHistory('INSERT', null);
              modalService.open('modal-edit-co-req-history')
            "
          >
            <span style="font-size: larger"> Insert - Co. Requirement</span>
          </button>
        </div>
      </div>
      <div
        class="div d-flex justify-content-center mt-5"
        style="font-size: larger; color: gray"
        *ngIf="companyRequirementsHistory.length === 0"
      >
        No records found
      </div>
      <div class="row" *ngIf="companyRequirementsHistory.length !== 0">
        <table class="table">
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col" *ngIf="appComService.isShowEditID">
                Emp. Co. Req. ID
              </th>
              <th scope="col">Asset ID</th>
              <th scope="col">Status</th>
              <th scope="col">Comp. Date</th>
              <th scope="col" class="text-center" style="width: 10rem">
                ACTION
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coReq of companyRequirementsHistory">
              <td class="align-middle" *ngIf="appComService.isShowEditID">
                {{ coReq.employmentCompanyRequirementID }}
              </td>
              <td class="align-middle">
                {{ coReq.assetIdString }} -
                <span style="font-weight: 700; color: red"
                  >TBD: DATA PROBLEM</span
                >
              </td>
              <td class="align-middle">
                {{ coReq.learningProgramStatus }}
              </td>
              <td class="align-middle">
                {{ coReq.learningProgramCompletionDate | date : "MM/dd/yyyy" }}
              </td>
              <td style="width: 10rem">
                <div
                  class="d-flex justify-content-between mb-3 me-4"
                  style="min-width: 10rem; max-width: 10rem"
                >
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      agentDataService.storeCompanyRequirementsHistory(
                        'EDIT',
                        coReq
                      );
                      modalService.open('modal-edit-co-req-history')
                    "
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <button class="icon-edit-delete-button">
                    <span class="material-symbols-outlined" (click)="
                    openConfirmDialog(
                      'deleteCoRequirementItem',
                      'Co. RequirementItem',
                      coReq
                    )
                    "> delete </span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z4 mb-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="app-panel-title mt-3">
          <h2>Job Title History</h2>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        {{ employmentJobTitleHistory.length }} - record(s) found
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row mb-3">
      <div class="col">
        <button
          class="btn btn-success"
          (click)="
            agentDataService.storeEmploymentJobTitleHistory('INSERT', null);
            modalService.open('modal-edit-jobTitle-history')
          "
        >
          <span style="font-size: larger"> Insert - Job Title </span>
        </button>
      </div>
    </div>
    <div
      class="div d-flex justify-content-center mt-5"
      style="font-size: larger; color: gray"
      *ngIf="employmentJobTitleHistory.length === 0"
    >
      No records found
    </div>
    <div class="row" *ngIf="employmentJobTitleHistory.length !== 0">
      <table class="table">
        <thead>
          <tr style="background-color: whitesmoke">
            <th scope="col" *ngIf="appComService.isShowEditID">
              Emp. JobTitle ID
            </th>
            <th scope="col">JobTitle Date</th>
            <th scope="col">Job Title</th>
            <th scope="col">Job Code</th>
            <th scope="col">Is Current</th>
            <th scope="col" class="text-center" style="width: 10rem">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jobTitle of employmentJobTitleHistory">
            <td class="align-middle" *ngIf="appComService.isShowEditID">
              {{ jobTitle.employmentJobTitleID }}
            </td>
            <td class="align-middle">
              {{ jobTitle.jobTitleDate | date : "MM/dd/yyyy" }}
            </td>
            <td class="align-middle">
              {{ jobTitle.jobTitle }}
            </td>
            <td class="align-middle">
              {{ jobTitle.jobCode }}
            </td>
            <td class="align-middle">
              {{ jobTitle.isCurrent ? "Yes" : "No" }}
            </td>
            <td style="width: 10rem">
              <div
                class="d-flex justify-content-between mb-3 me-4"
                style="min-width: 10rem; max-width: 10rem"
              >
                <button
                  class="icon-edit-delete-button"
                  (click)="
                    agentDataService.storeEmploymentJobTitleHistory(
                      'EDIT',
                      jobTitle
                    );
                    modalService.open('modal-edit-jobTitle-history')
                  "
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="icon-edit-delete-button" (click)="
                openConfirmDialog(
                  'deleteJobTitleItem',
                  'Job Title Item',
                  jobTitle
                )
                ">
                  <span class="material-symbols-outlined"> delete </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-expansion-panel>
</div>

<!-- Modal: EDIT-EMP-TRAN-HISTORY -->
<modal id="modal-edit-emp-history">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeEmploymentHist }}</strong> - Employment
      History
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-employment-hist
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
        ></app-edit-employment-hist>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: EDIT-TRAN-HISTORY -->
<modal id="modal-edit-tran-history">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeTransferHist }}</strong> - Transfer History
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-transfer-hist
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
        ></app-edit-transfer-hist>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: EDIT-CO-REQ-HISTORY -->
<modal id="modal-edit-co-req-history">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeCompanyRequirementsHist }}</strong> -
      Company Requirement History
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-corequirement-hist
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
        ></app-edit-corequirement-hist>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: EDIT-JOBTITLE-HISORY -->
<modal id="modal-edit-jobTitle-history">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeEmploymentJobTitleHist }}</strong> - Job
      Title History
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-jobtitle-hist
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
        ></app-edit-jobtitle-hist>
      </div>
    </div>
  </div>
</modal>
