<form
  [formGroup]="transferHistoryForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div
        class="mb-3"
        *ngIf="
          agentComService.modeTransferHist === 'EDIT' &&
          appComService.isShowEditID
        "
      >
        <label for="transferHistoryID" class="form-label"
          >Transfer History ID:</label
        >
        <input
          class="form-control input-size-small"
          type="text"
          id="transferHistoryID"
          formControlName="transferHistoryID"
        />
      </div>
      <div class="mb-3">
        <label for="branchCode" class="form-label">Branch Code:</label>
        <select
          class="form-select select-size-small"
          type="text"
          id="branchCode"
          formControlName="branchCode"
          [value]="transferHistoryForm.get('branchCode')?.value"
        >
          <option *ngFor="let code of branchCodes" [value]="code.branchCode">
            {{ code.branchCode }}
          </option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="workStateAbv" class="form-label">Work State:</label>
        <select
          class="form-select select-size-x-small"
          type="text"
          id="workStateAbv"
          formControlName="workStateAbv"
          [value]="transferHistoryForm.get('workStateAbv')?.value"
        >
          <option *ngFor="let state of states" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="resStateAbv" class="form-label">Resident State:</label>
        <select
          class="form-select select-size-x-small"
          type="text"
          id="resStateAbv"
          formControlName="resStateAbv"
          [value]="transferHistoryForm.get('resStateAbv')?.value"
        >
          <option *ngFor="let state of states" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="transferDate" class="form-label">Transfer Date:</label>
        <input
          class="form-control input-size-small"
          type="date"
          id="transferDate"
          formControlName="transferDate"
        />
      </div>

      <div class="mb-3">
        <input
          class="form-check-input me-2"
          type="checkbox"
          id="isCurrent"
          formControlName="isCurrent"
        />
        <label for="isCurrent" class="form-label">Is Current</label>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button" [disabled]="!transferHistoryForm.valid">Save</button>
    </div>
  </div>
</form>
