<form [formGroup]="licenseForm">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="agentName" class="form-label">
          Agent Name:
          <input
            type="text"
            id="agentName"
            class="form-control input-size-medium"
            formControlName="agentName"
          />
        </label>
      </div>

      <div class="mb-3">
        <label for="employeeLicenseId" class="form-label">
          License ID:
          <input
            type="text"
            id="employeeLicenseId"
            class="form-control input-size-small"
            formControlName="employeeLicenseId"
          />
        </label>
      </div>

      <div class="mb-3">
        <label for="licenseState" class="form-label">License State:</label>
        <input
          class="form-select form-select-lg select-size-small"
          type="text"
          id="licenseState"
          formControlName="licenseState"
        />
      </div>

      <div class="mb-3">
        <label for="licenseName" class="form-label">License Name:</label>
        <input
          class="form-select form-select-lg select-size-small"
          type="text"
          id="licenseName"
          formControlName="licenseName"
        />
      </div>

      <div class="mb-3">
        <label for="licenseNumber" class="form-label">
          License Number:
          <input
            type="text"
            id="licenseNumber"
            class="form-control input-size-small"
            formControlName="licenseNumber"
          />
        </label>
      </div>

      <div class="mb-3">
        <label for="licenseStatus" class="form-label">License Status:</label>
        <input
          class="form-select form-select-lg select-size-small"
          type="text"
          id="licenseStatus"
          formControlName="licenseStatus"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="licenseStatus" class="form-label">Affiliated License:</label>
        <input
          class="form-select form-select-lg select-size-small"
          type="text"
          id="licenseStatus"
          formControlName="licenseStatus"
        />
      </div>

      <div class="mb-3">
        <label for="originalIssueDate" class="form-label"
          >Original Issue Date:</label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="originalIssueDate"
          formControlName="originalIssueDate"
        />
      </div>

      <div class="mb-3">
        <label for="lineOfAuthIssueDate" class="form-label"
          >Line Of Auth. Date:</label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="lineOfAuthIssueDate"
          formControlName="lineOfAuthIssueDate"
        />
      </div>

      <div class="mb-3">
        <label for="licenseEffectiveDate" class="form-label"
          >Effective Date:</label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="licenseEffectiveDate"
          formControlName="licenseEffectiveDate"
        />
      </div>

      <div class="mb-3">
        <label for="licenseExpirationDate" class="form-label"
          >Expiration Date:</label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="licenseExpirationDate"
          formControlName="licenseExpirationDate"
        />
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-secondary cancel-button me-3">Cancel</button>
      <button
        type="submit"
        class="btn btn-primary save-button"
        [disabled]="!licenseForm.valid"
      >
        Save
      </button>
    </div>
  </div>
</form>
