<form [formGroup]="licenseForm" (ngSubmit)="onSubmit()" style="padding: 0.5rem">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="agentName" class="form-label"> Agent Name: </label><br />
        <span>{{
          this.agentDataService.agentInformation.lastName +
            ", " +
            this.agentDataService.agentInformation.firstName
        }}</span>
      </div>

      <div
        class="mb-3"
        *ngIf="
          agentComService.modeLicenseMgmt !== 'ADD' &&
          appComService.isShowEditID
        "
      >
        <label for="employeeLicenseId" class="form-label">
          Employee License ID:
          <input
            type="text"
            id="employeeLicenseId"
            class="form-control input-size-small"
            formControlName="employeeLicenseId"
            hidden
          /> </label
        ><br />
        <span>{{ licenseForm.get("employeeLicenseId")?.value }}</span>
      </div>

      <div class="mb-3">
        <label for="licenseState" class="form-label">License State:</label>
        <select
          class="form-select select-size-x-small"
          type="text"
          id="licenseState"
          formControlName="licenseState"
          (change)="onChangeLicenseState($event)"
        >
          <option *ngFor="let state of licenseStates" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="licenseID" class="form-label"
          >License Name: <span class="text-danger">*</span></label
        >
        <select
          class="form-select select-size-medium"
          type="text"
          id="licenseID"
          formControlName="licenseID"
          [value]="licenseForm.get('licenseID')?.value"
        >
          <option *ngFor="let name of licenseNames" [value]="name.value">
            {{ name.label }}
          </option>
        </select>
        <div
          *ngIf="
            (licenseForm.controls['licenseID'].touched || isFormSubmitted) &&
            licenseForm.controls['licenseID'].errors &&
            licenseForm.controls['licenseID'].errors['invalid']
          "
          class="text-danger"
        >
          Please select License Name
        </div>
      </div>

      <div class="mb-3">
        <label for="licenseNumber" class="form-label">
          License Number:
          <input
            type="text"
            id="licenseNumber"
            class="form-control input-size-small"
            formControlName="licenseNumber"
          />
        </label>
      </div>
    </div>

    <div class="col">
      <div class="mb-3 d-flex align-items-center">
        <input
          class="form-check-input me-2"
          type="checkbox"
          id="required"
          formControlName="required"
        />
        <label for="required" class="form-label d-flex align-items-center mt-3"
          >Required
        </label>
      </div>

      <div class="mb-3 d-flex align-items-center">
        <input
          class="form-check-input me-2"
          type="checkbox"
          id="reinstatement"
          formControlName="reinstatement"
        />
        <label
          for="reinstatement"
          class="form-label d-flex align-items-center mt-3"
          >Reinstatement
        </label>
      </div>

      <div class="mb-3 d-flex align-items-center">
        <input
          class="form-check-input me-2"
          type="checkbox"
          id="nonResident"
          formControlName="nonResident"
        />
        <label
          for="nonResident"
          class="form-label d-flex align-items-center mt-3"
          >Non-Resident
        </label>
      </div>

      <div class="mb-3">
        <label for="licenseStatus" class="form-label"
          >License Status: <span class="text-danger">*</span></label
        >
        <select
          class="form-select select-size-x-small"
          type="text"
          id="licenseStatus"
          formControlName="licenseStatus"
        >
          <option *ngFor="let status of licenseStatuses" [value]="status.value">
            {{ status.label }}
          </option>
        </select>
        <div
          *ngIf="
            (licenseForm.controls['licenseStatus'].touched ||
              isFormSubmitted) &&
            licenseForm.controls['licenseStatus'].errors &&
            licenseForm.controls['licenseStatus'].errors['invalid']
          "
          class="text-danger"
        >
          Please select License Status
        </div>
      </div>

      <!-- <div class="mb-3">
        <label for="affiliatedLicense" class="form-label"
          >Affiliated License:</label
        >
        <select
          class="form-select select-size-x-small"
          type="text"
          id="affiliatedLicense"
        >
          <option *ngFor="let affLic of affiliatedLicenses" [value]="affLic">
            {{ affLic }}
          </option>
        </select>
      </div> -->
    </div>

    <div class="col">
      <div class="mb-3" *ngIf="agentComService.modeLicenseMgmt == 'ADD'">
        <label for="sentToAgentDate" class="form-label"
          >Sent to Agent Date: <span class="text-danger">*</span>
        </label>
        <input
          class="form-control input-size-small"
          type="date"
          id="sentToAgentDate"
          formControlName="sentToAgentDate"
        />
        <div
          *ngIf="
            (licenseForm.controls['sentToAgentDate'].touched ||
              isFormSubmitted) &&
            licenseForm.controls['sentToAgentDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="licenseForm.controls['sentToAgentDate'].errors['required']"
          >
            Please select Sent to Agent Date
          </div>
          <div
            *ngIf="
              licenseForm.controls['sentToAgentDate'].errors['invalidFormat']
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="licenseIssueDate" class="form-label"
          >Original Issue Date:
          <!-- <span class="text-danger">*</span> -->
        </label>
        <input
          class="form-control input-size-small"
          type="date"
          id="licenseIssueDate"
          formControlName="licenseIssueDate"
        />
        <!-- <div
          *ngIf="
            (licenseForm.controls['licenseIssueDate'].touched ||
              isFormSubmitted) &&
            licenseForm.controls['licenseIssueDate'].errors &&
            licenseForm.controls['licenseIssueDate'].errors['invalid']
          "
          class="text-danger"
        >
          Please select Issue Date
        </div> -->
        <div
          *ngIf="
            (licenseForm.controls['licenseIssueDate'].touched ||
              isFormSubmitted) &&
            licenseForm.controls['licenseIssueDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseForm.controls['licenseIssueDate'].errors['invalidFormat']
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="lineOfAuthorityIssueDate" class="form-label"
          >Line Of Auth. Issue Date:</label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="lineOfAuthorityIssueDate"
          formControlName="lineOfAuthorityIssueDate"
        />
        <div
          *ngIf="
            (licenseForm.controls['lineOfAuthorityIssueDate'].touched ||
              isFormSubmitted) &&
            licenseForm.controls['lineOfAuthorityIssueDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseForm.controls['lineOfAuthorityIssueDate'].errors[
                'invalidFormat'
              ]
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="agentComService.modeLicenseMgmt == 'EDIT'">
        <label for="licenseEffectiveDate" class="form-label"
          >Effective Date:</label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="licenseEffectiveDate"
          formControlName="licenseEffectiveDate"
        />
        <div
          *ngIf="
            (licenseForm.controls['licenseEffectiveDate'].touched ||
              isFormSubmitted) &&
            licenseForm.controls['licenseEffectiveDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseForm.controls['licenseEffectiveDate'].errors[
                'invalidFormat'
              ]
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="agentComService.modeLicenseMgmt !== 'EDIT'">
        <label for="renewalDate" class="form-label">Renewal Date:</label>
        <input
          class="form-control input-size-small"
          type="date"
          id="renewalDate"
          formControlName="licenseEffectiveDate"
        />
        <div
          *ngIf="
            (licenseForm.controls['licenseEffectiveDate'].touched ||
              isFormSubmitted) &&
            licenseForm.controls['licenseEffectiveDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseForm.controls['licenseEffectiveDate'].errors[
                'invalidFormat'
              ]
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="licenseExpireDate" class="form-label"
          >Expiration Date:</label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="licenseExpireDate"
          formControlName="licenseExpireDate"
        />
        <div
          *ngIf="
            (licenseForm.controls['licenseExpireDate'].touched ||
              isFormSubmitted) &&
            licenseForm.controls['licenseExpireDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseForm.controls['licenseExpireDate'].errors[
                'invalidFormat'
              ]
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="licenseNote">Notes:</label>
        <textarea
          rows="5"
          id="licenseNote"
          type="text"
          formControlName="licenseNote"
          class="form-control"
        ></textarea>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary cancel-button me-3"
        (click)="onCloseModal()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary save-button"
        [disabled]="licenseForm.pristine || licenseForm.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>
