<form
  [formGroup]="licenseApptForm"
  (ngSubmit)="onSubmit()"
  style="padding: 0.5rem"
>
  <div class="row">
    <div class="col">
      <!-- <div class="mb-3" *ngIf="agentComService.modeLicenseMgmt !== 'ADD' && appComService.isShowEditID">
          <label for="employeeLicenseId" class="form-label">License ID:</label
          ><br />
          <span>{{ licenseForm.get("employeeLicenseId")?.value }}</span>
        </div> -->

      <div class="mb-3">
        <label for="appointmentStatus" class="form-label"
          >Status: <span class="text-danger">*</span></label
        >
        <select
          class="form-select select-size-small"
          type="text"
          id="appointmentStatus"
          formControlName="appointmentStatus"
        >
          <option *ngFor="let status of appointmentStatuses" [value]="status">
            {{ status }}
          </option>
        </select>
        <div
          *ngIf="
            (licenseApptForm.controls['appointmentStatus'].touched ||
              isFormSubmitted) &&
            licenseApptForm.controls['appointmentStatus'].errors &&
            licenseApptForm.controls['appointmentStatus'].errors['invalid']
          "
          class="text-danger"
        >
          Please select Appointment Status
        </div>
      </div>
      <div class="mb-3">
        <label for="companyID" class="form-label"
          >Company Abv: <span class="text-danger">*</span></label
        >
        <select
          class="form-select select-size-small"
          type="text"
          id="companyID"
          formControlName="companyID"
        >
          <option
            *ngFor="let abbr of companyAbbreviations"
            [value]="abbr.value"
          >
            {{ abbr.label }}
          </option>
        </select>
        <div
          *ngIf="
            (licenseApptForm.controls['companyID'].touched ||
              isFormSubmitted) &&
            licenseApptForm.controls['companyID'].errors &&
            licenseApptForm.controls['companyID'].errors['required']
          "
          class="text-danger"
        >
          Please select Company Name
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="carrierDate" class="form-label">Carrier Date: </label>
        <input
          class="form-control input-size-small"
          type="date"
          id="carrierDate"
          formControlName="carrierDate"
        />
        <div
          *ngIf="
            (licenseApptForm.controls['carrierDate'].touched ||
              isFormSubmitted) &&
            licenseApptForm.controls['carrierDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseApptForm.controls['carrierDate'].errors['invalidFormat']
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="appointmentEffectiveDate" class="form-label"
          >Effective Date:
        </label>
        <input
          class="form-control input-size-small"
          type="date"
          id="appointmentEffectiveDate"
          formControlName="appointmentEffectiveDate"
        />
        <div
          *ngIf="
            (licenseApptForm.controls['appointmentEffectiveDate'].touched ||
              isFormSubmitted) &&
            licenseApptForm.controls['appointmentEffectiveDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseApptForm.controls['appointmentEffectiveDate'].errors[
                'invalidFormat'
              ]
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="appointmentExpireDate" class="form-label"
          >Expire Date:
        </label>
        <input
          class="form-control input-size-small"
          type="date"
          id="appointmentExpireDate"
          formControlName="appointmentExpireDate"
        />
        <div
          *ngIf="
            (licenseApptForm.controls['appointmentExpireDate'].touched ||
              isFormSubmitted) &&
            licenseApptForm.controls['appointmentExpireDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseApptForm.controls['appointmentExpireDate'].errors[
                'invalidFormat'
              ]
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="appointmentTerminationDate" class="form-label"
          >Termination Date:
        </label>
        <input
          class="form-control input-size-small"
          type="date"
          id="appointmentTerminationDate"
          formControlName="appointmentTerminationDate"
        />
        <div
          *ngIf="
            (licenseApptForm.controls['appointmentTerminationDate'].touched ||
              isFormSubmitted) &&
            licenseApptForm.controls['appointmentTerminationDate'].errors
          "
          class="text-danger"
        >
          <div
            *ngIf="
              licenseApptForm.controls['appointmentTerminationDate'].errors[
                'invalidFormat'
              ]
            "
          >
            Date must be in mm/dd/yyyy format
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary cancel-button me-3"
        (click)="onCloseModal()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary save-button"
        [disabled]="licenseApptForm.pristine || licenseApptForm.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>
