<div class="d-flex justify-content-center align-items-center mt-3 mb-3">
  Find by
  <input
    type="text"
    class="form-control ms-3 me-3"
    placeholder="TM Number"
    [(ngModel)]="tmNumber"
    (change)="onChangeByTmNumber()"
    [disabled]="isByTMDisabled"
  />
  or
  <input
    type="text"
    class="form-control ms-2 ms-3 me-2"
    placeholder="Agent Name"
    [(ngModel)]="agentName"
    (change)="onChangeByAgentName()"
    [disabled]="isByAgentNameDisabled"
  />
  <div class="spinner-border align-items-center" *ngIf="isLoading"></div>
  <button class="btn" *ngIf="isLoading == false" (click)="onSearch()">
    <span class="material-symbols-outlined align-items-center" style="color: white; font-size: 3.5rem;"> search </span>
  </button>
</div>

<!-- Modal: DISPLAY-AGENT-ITEMS -->
<modal id="modal-agent-find-info">
  <div class="modal-header">
    <h1 class="modal-title">Agents</h1>
  </div>
  <div class="modal-body">
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>TM Number</th>
            <th>Agent Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let agent of agents">
            <td>{{ agent.geid }}</td>
            <td>{{ agent.name }}</td>
            <td>
              <!-- <button
                mat-icon-button
                [ngStyle]="{
                  color: '#228B22'
                }"
                (click)="modalService.open('modal-agent-worklist-info')"
                [matTooltip]="'View Worklist Item(s)'"
              >
                <mat-icon
                  [matBadge]="worklistCount"
                  matBadgeColor="warn"
                  aria-hidden="false"
                >
                  assignment
                </mat-icon>
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</modal>


