  .selected {
    background-color: lightblue;
  }
  
  .selected-row tbody tr:hover {
    cursor: pointer;
    color: blue;
  }
  
  .selected-row tbody tr.no-pointer:hover {
    cursor: default;
    color: red;
  }