<form
  [formGroup]="preEducationForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="educationName" class="form-label"
          >Pre-Education Name:</label
        >
        <input
          class="form-control input-size-large"
          type="text"
          id="educationName"
          formControlName="educationName"
        />
      </div>

      <div class="mb-3">
        <label for="creditHours" class="form-label">Credit Hours:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="creditHours"
          formControlName="creditHours"
        />
      </div>

      <div class="mb-3">
        <label for="deliveryMethod" class="form-label">Delivery Method:</label>
        <select
          class="form-select select-size-small"
          id="deliveryMethod"
          formControlName="deliveryMethod"
        >
          <option *ngFor="let method of deliveryMethods" [value]="method">
            {{ method }}
          </option>
        </select>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label for="educationProviderID" class="form-label"
          >Pre-Education Provider:</label
        >
        <select
          class="form-select select-size-medium"
          id="educationProviderID"
          formControlName="educationProviderID"
        >
          <option *ngFor="let provider of providers" [value]="provider.value">
            {{ provider.label }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="stateProvinceAbv" class="form-label"
          >Pre-Education State:</label
        >
        <select
          class="form-select select-size-x-small"
          id="stateProvinceAbv"
          formControlName="stateProvinceAbv"
        >
          <option *ngFor="let state of stateProvinces" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>
  </div>
</form>
