<form
  [formGroup]="preEducationForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="preEducationId" class="form-label">Pre-Education ID:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="preEducationId"
          formControlName="preEducationId"
        />
      </div>

      <div class="mb-3">
        <label for="educationName" class="form-label">Education Name:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="educationName"
          formControlName="educationName"
        />
      </div>

      <!-- Add more form controls for the rest of the properties in the PreEducation interface -->

    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-3 cancel-button">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>
  </div>
</form>
