<div class="container app-component-container">
  <div class="row">
    <div class="col">
      <h1 class="text-end" style="font-style: italic; color: lightgrey">
        Company Edit
      </h1>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col">
      <label for="companyType">Company Type:</label><br />
      <select
        class="form-select select-size-med-small"
        type="text"
        id="companyType"
        (change)="changeCompanyType($event)"
      >
        <option *ngFor="let item of companyTypes" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="col d-flex justify-content-center align-items-end">
      <button
        class="btn btn-success button-font-size"
        type="button"
        (click)="
          adminDataService.storeCompany('INSERT', null);
          modalService.open('modal-edit-company')
        "
      >
        Create New Company
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div
      class="col-md-12 d-flex justify-content-center align-items-center mt-5"
      *ngIf="selectedCompanyType == 'Select Company Type'"
    >
      <h1>No Company Type Selected...</h1>
    </div>
    <div
      class="col-md-12 d-flex justify-content-center align-items-center mt-5"
      *ngIf="
        selectedCompanyType !== 'Select Company Type' && companies.length == 0
      "
    >
      <h1>No Record(s) Found</h1>
    </div>
    <div class="col-md-12">
      <table class="table" *ngIf="companies.length > 0" style="width: 100%">
        <thead>
          <tr
            class="sticky-top"
            style="background-color: gainsboro; width: 100%"
          >
            <th scope="col">Type</th>
            <th scope="col" *ngIf="appComService.isShowEditID">ID</th>
            <th scope="col">Abv</th>
            <th scope="col">Name</th>
            <th scope="col">TIN</th>
            <th scope="col">NAIC #</th>
            <th scope="col">Street Address</th>
            <th scope="col" class="text-center" style="width: 10rem">ACTION</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let company of companies">
            <td class="align-middle" style="font-size: larger">
              {{ company.companyType }}
            </td>
            <td class="align-middle" *ngIf="appComService.isShowEditID">
              {{ company.companyId }}
            </td>
            <td class="align-middle text-nowrap">
              {{ company.companyAbv }}
            </td>
            <td class="align-middle" style="width: max-content">
              {{ company.companyName }}
            </td>
            <td class="align-middle">
              {{ company.tin }}
            </td>
            <td class="align-middle" style="width: max-content">
              {{ company.naicnumber }}
            </td>
            <td class="align-middle" style="width: max-content">
              {{ company.address1 }}
            </td>
            <td class="align-middle" style="width: 10rem">
              <div class="d-flex justify-content-between mb-3 me-4">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  (click)="
                    adminDataService.storeCompany('EDIT', company);
                    modalService.open('modal-edit-company')
                  "
                  title="Edit Company"
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="icon-edit-delete-button" type="button">
                  <span
                    class="material-symbols-outlined"
                    (click)="
                      openConfirmDialog('deleteCoEdit', 'Compay Edit', company)
                    "
                    title="Delete Company"
                  >
                    delete
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal: EDIT-COMPANY -->
<modal id="modal-edit-company">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ adminComService.modes.company.mode }}</strong> - Company
    </h1>
    <!-- <button
              type="button"
              class="btn-close"
              (click)="modalService.close()"
            ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-company
          [companyTypes]="companyTypes"
          (callParentRefreshData)="onChildCallRefreshData()"
        ></app-edit-company>
      </div>
    </div>
  </div>
</modal>
