<div class="contain">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-start">
        <button
          class="btn btn-primary me-2"
          (click)="modalService.open('modal-edit-tm-info')"
        >
          Edit
        </button>
      </div>
      <div class="row row-1rem-top-margin">
        <div class="col">
          <p>
            <strong>Job Title:</strong>
            {{ agentInfo.jobTitle || "N/A" }}
          </p>
          <p>
            <strong>Job Date:</strong>
            {{ agentInfo.jobDate || "N/A" }}
          </p>
          <div>
            <strong>Diary:</strong>
            <div>
              {{ agentInfo.diaryEntryName }} - {{ agentInfo.diaryEntryDate
              }}<br />
              {{ agentInfo.diaryEntryDescription }}
            </div>
          </div>
        </div>
        <div class="col">
          <p>
            <strong>Team Member Status:</strong>
            {{ agentInfo.employeeStatus || "N/A" }}
          </p>
          <p>
            <strong>Requires Cont. Edu.:</strong>
            {{ agentInfo.ceRequired ? "Yes" : "No" }}
          </p>
          <p>
            <strong>Exclude From Reports:</strong>
            {{ agentInfo.excludeFromReports ? "Yes" : "No" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-1rem-top-margin">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <p><strong>Agent License & Appointments:</strong></p>
          <mat-expansion-panel
            *ngFor="let license of agentInfo.agentLicenseAppointments"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="mat-title">
                  <div class="row">
                    <div class="col-md-12">
                      {{ license.licenseName }}
                    </div>
                  </div>
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div
                  *ngIf="license.licenseAppointments.length > 0"
                  class="row d-flex justify-content-end"
                >
                  {{ license.licenseAppointments.length }} appointments
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="mat-description">
              <div class="row">
                <div class="col">
                  <strong>State:</strong> <br />
                  {{ license.licenseState }}
                </div>
                <div class="col">
                  <strong>ID:</strong> <br />
                  {{ license.employeeLicenseId }}
                </div>
                <div class="col">
                  <strong>Status:</strong> <br />
                  {{ license.licenseStatus }}
                </div>
                <div class="col">
                  <strong>Number:</strong> <br />
                  {{ license.licenseNumber }}
                </div>
                <div class="col">
                  <strong>Res:</strong> <br />
                  {{ license.resNoneRes ? "Yes" : "No" }}
                </div>
                <div class="col">
                  <strong>Org Issue Date:</strong> <br />
                  {{ license.originalIssueDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>LOA Issue Date:</strong> <br />
                  {{ license.lineOfAuthIssueDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>Effective Date:</strong> <br />
                  {{ license.licenseEffectiveDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>Expire Date:</strong> <br />
                  {{ license.licenseExpirationDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col d-flex justify-content-end">
                  <button class="edit-button appointment-edit-button">
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                </div>
              </div>
              <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th>License ID</th>
                      <th>Appt ID</th>
                      <th>Appointment Status</th>
                      <th>Company ID</th>
                      <th>Co. Abv.</th>
                      <th>Carrier Date</th>
                      <th>Eff. Date</th>
                      <th>Exp. Date</th>
                      <th>Term Date</th>
                      <th>ACTTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let license of license.licenseAppointments">
                      <td>{{ license.licenseID }}</td>
                      <td>{{ license.employeeAppointmentID }}</td>
                      <td>{{ license.appointmentStatus }}</td>
                      <td>{{ license.companyID }}</td>
                      <td>TBD...</td>
                      <td>TBD...</td>
                      <td>TBD...</td>
                      <td>TBD...</td>
                      <td>TBD...</td>
                      <td>
                        <button class="edit-button">
                          <span class="material-symbols-outlined"> edit </span>
                        </button>
                        <button class="edit-button">
                          <span class="material-symbols-outlined">
                            delete
                          </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: TM-INFO -->
  <modal id="modal-edit-tm-info">
    <div class="modal-header">
      <h1 class="modal-title">Edit - Team Member Information</h1>
      <!-- <button
        type="button"
        class="btn-close"
        (click)="modalService.close()"
      ></button> -->
    </div>
    <div class="modal-body">
      <div>
        <div class="container-flud">
          <app-edit-tm-information></app-edit-tm-information>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modalService.close()"
      >
        Close
      </button>
    </div> -->
  </modal>
</div>
