<div class="contain">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-start">
        <button
          class="btn btn-primary me-2"
          (click)="modalService.open('modal-2')"
        >
          Edit
        </button>
      </div>
      <div class="row  row-1rem-top-margin">
        <div class="col">
          <p>
            <strong>Job Title:</strong>
            {{ agentInfo.jobTitle || "N/A" }}
          </p>
          <p>
            <strong>Job Date:</strong>
            {{ agentInfo.jobDate || "N/A" }}
          </p>
          <div>
            <strong>Diary:</strong>
            <div>
              {{ agentInfo.diaryEntryName }} - {{ agentInfo.diaryEntryDate
              }}<br />
              {{ agentInfo.diaryEntryDescription }}
            </div>
          </div>
        </div>
        <div class="col">
          <p>
            <strong>Team Member Status:</strong>
            {{ agentInfo.employeeStatus || "N/A" }}
          </p>
          <p>
            <strong>Requires Cont. Edu.:</strong>
            {{ agentInfo.ceRequired ? "Yes" : "No" }}
          </p>
          <p>
            <strong>Exclude From Reports:</strong>
            {{ agentInfo.excludeFromReports ? "Yes" : "No" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>

<!-- The Modal -->
<modal id="modal-2">
  <div class="modal-header">
    <h5 class="modal-title">Angular + Bootstrap Modal #2</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modalService.close()"
    ></button>
  </div>
  <div class="modal-body">
    <p style="padding-bottom: 500px">
      This is a tall modal to demonstrate scrolling modal content.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modalService.close()"
    >
      Close
    </button>
  </div>
</modal>
