<div class="container app-component-container">
  <div class="row">
    <div class="col">
      <h1 class="text-end" style="font-style: italic; color: lightgrey">
        Exam Edit
      </h1>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col">
      <label for="companyType">Exam State/Province:</label><br />
      <select
        class="form-select select-size-x-small"
        type="text"
        id="companyType"
        (change)="changeStateProvince($event)"
      >
        <option *ngFor="let state of stateProvinces" [value]="state">
          {{ state }}
        </option>
      </select>
    </div>
    <div
      class="col d-flex justify-content-center align-items-end"
      *ngIf="
        userAcctInfoDataService.userAcctInfo.isSuperUser ||
        userAcctInfoDataService.userAcctInfo.isQARole ||
        userAcctInfoDataService.userAcctInfo.isAdminRole
      "
    >
      <button
        class="btn btn-success button-font-size"
        type="button"
        (click)="
          adminDataService.storeExamItem('INSERT', null);
          modalService.open('modal-edit-exam')
        "
      >
        Create New Exam
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div
      class="col-md-12 d-flex justify-content-center align-items-center mt-5"
      *ngIf="selectedStateProvince == 'Select'"
    >
      <h1>No State Province Selected</h1>
    </div>
    <div
      class="col-md-12 d-flex justify-content-center align-items-center mt-5"
      *ngIf="selectedStateProvince !== 'Select' && examItems.length == 0"
    >
      <h1>No Record(s) Found</h1>
    </div>
    <div class="col">
      <div class="table" *ngIf="examItems.length > 0">
        <thead>
          <tr class="sticky-top" style="background-color: gainsboro">
            <th
              scope="col"
              *ngIf="appComService.isShowEditID"
              style="width: 10rem"
            >
              ExamID
            </th>
            <th scope="col">Exam Name</th>
            <th scope="col">Delivery Method</th>
            <th scope="col">Exam Provider</th>
            <th
              scope="col"
              class="text-center"
              *ngIf="
                userAcctInfoDataService.userAcctInfo.isSuperUser ||
                userAcctInfoDataService.userAcctInfo.isQARole ||
                userAcctInfoDataService.userAcctInfo.isAdminRole
              "
            >
              ACTION
            </th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let exam of examItems">
            <td
              class="align-middle"
              *ngIf="appComService.isShowEditID"
              style="width: 10rem"
            >
              {{ exam.examId }}
            </td>
            <td class="align-middle">{{ exam.examName }}</td>
            <td class="align-middle text-nowrap">
              {{ exam.deliveryMethod }}
            </td>
            <td class="align-middle" style="width: 100rem">
              {{ exam.companyName }}
            </td>
            <td
              class="align-middle"
              style="width: 10rem"
              *ngIf="
                userAcctInfoDataService.userAcctInfo.isSuperUser ||
                userAcctInfoDataService.userAcctInfo.isQARole ||
                userAcctInfoDataService.userAcctInfo.isAdminRole
              "
            >
              <div class="d-flex justify-content-between mb-3 me-4">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  (click)="
                    adminDataService.storeExamItem('EDIT', exam);
                    modalService.open('modal-edit-exam')
                  "
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="icon-edit-delete-button" type="button">
                  <span
                    class="material-symbols-outlined"
                    (click)="
                      openConfirmDialog('deleteExamItem', 'Exam Delete', exam)
                    "
                  >
                    delete
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>

<!-- Modal: EDIT-EXAAM -->
<modal id="modal-edit-exam">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ adminComService.modes.examItem.mode }}</strong> - Exam
    </h1>
    <!-- <button
                type="button"
                class="btn-close"
                (click)="modalService.close()"
              ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-exam
          [stateProvinces]="stateProvinces"
          [examDeliveryMethods]="examDeliveryMethods"
          [examProviders]="examProviders"
          (callParentRefreshData)="onChildCallRefreshData()"
        ></app-edit-exam>
      </div>
    </div>
  </div>
</modal>
