<form
  [formGroup]="licenseForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="stateProvinceAbv" class="form-label">License State:</label>
        <select
          class="form-select select-size-x-small"
          type="text"
          id="stateProvinceAbv"
          formControlName="stateProvinceAbv"
        >
          <option *ngFor="let state of stateProvinces" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="licenseName" class="form-label">License Name:</label>
        <input
          class="form-control input-size-large"
          type="text"
          id="licenseName"
          formControlName="licenseName"
          placeholder="Enter License Name"
        />
      </div>
      <div class="mb-3">
        <label for="licenseAbv" class="form-label">License Abv:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="licenseAbv"
          formControlName="licenseAbv"
          placeholder="Enter Abv"
        />
      </div>
      <div class="mb-3">
        <label for="lineOfAuthorityId" class="form-label">Line of Authority:</label>
        <select
          class="form-select select-size-medium"
          type="text"
          id="lineOfAuthorityId"
          formControlName="lineOfAuthorityId"
        >
          <option *ngFor="let authority of lineOfAuthorities" [value]="authority.value">
            {{ authority.label }}
          </option>
        </select>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label for="plS_Incentive1TMPay" class="form-label">PLS Incentive1 TMPay:</label>
        <input
          class="form-control input-size-x-small"
          type="number"
          id="plS_Incentive1TMPay"
          formControlName="plS_Incentive1TMPay"
          min="0"
          step="5.00"
        />
      </div>
      <div class="mb-3">
        <label for="plS_Incentive1MRPay" class="form-label">PLS Incentive1 MRPay:</label>
        <input
          class="form-control input-size-x-small"
          type="number"
          id="plS_Incentive1MRPay"
          formControlName="plS_Incentive1MRPay"
          min="0"
          step="5.00"
        />
      </div>
      <div class="mb-3">
        <label for="incentive2_PlusTMPay" class="form-label">Incentive2 Plus TMPay:</label>
        <input
          class="form-control input-size-x-small"
          type="number"
          id="incentive2_PlusTMPay"
          formControlName="incentive2_PlusTMPay"
          min="0"
          step="5.00"
        />
      </div>
      <div class="mb-3">
        <label for="incentive2_PlusMRPay" class="form-label">Incentive2 Plus MRPay:</label>
        <input
          class="form-control input-size-x-small"
          type="number"
          id="incentive2_PlusMRPay"
          formControlName="incentive2_PlusMRPay"
          min="0"
          step="5.00"
        />
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>
  </div>
</form>
