<div class="container app-component-container">
  <div class="row mt-5">
    <div
      class="col d-flex justify-content-start"
      style="font-size: large; font-weight: 700"
    >
      Cont. Education Required Hours
    </div>
  </div>

  <div class="row mt-3">
    <div class="col d-flex">
      <table class="table">
        <thead>
          <tr style="background-color: gainsboro">
            <th scope="col">Cont. Ed. ID</th>
            <th scope="col">Ed. Start Date</th>
            <th scope="col">Ed. End Date</th>
            <th scope="col">Required Hours</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let ce of agentInfo.contEduRequiredItems">
            <td>{{ ce.contEducationRequirementID }}</td>
            <td>{{ ce.educationStartDate | date }}</td>
            <td>{{ ce.educationEndDate | date }}</td>
            <td style="font-size: large">{{ ce.requiredCreditHours }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <table class="bg-body">
      <thead>
        <tr>
          <th class="p-3" style="color: dodgerblue">Hours Required</th>
          <th class="p-3" style="color: dodgerblue">- Hours Taken</th>
          <th class="p-3" style="color: dodgerblue">= Hours Remaining</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ps-3 pb-3" style="font-size: large">
            {{ sumHoursRequired }}
          </td>
          <td class="ps-3 pb-3" style="font-size: large">
            {{ sumHoursTaken }}
          </td>
          <td class="ps-3 pb-3" style="font-size: large">
            {{ totalHoursRemaining }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row mt-5">
    <div class="col" style="font-size: large; font-weight: 700">
      Cont. Education Hours Taken Details
    </div>
    <div class="col">
      <div class="d-flex justify-content-start">
        <button class="btn btn-success" 
        (click)="agentDataService.storeContEduHoursTaken('INSERT', null); modalService.open('modal-edit-edu-hours-taken')"
        >Add Hours Taken</button>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col d-flex">
      <div class="table">
        <thead>
          <tr style="background-color: gainsboro">
            <th scope="col">Taken ID</th>
            <th scope="col">Class Taken</th>
            <th scope="col">Taken Date</th>
            <th scope="col">Hours Taken</th>
            <th scope="col">Notes</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let ce of agentInfo.contEduCompletedItems">
            <td>{{ ce.contEducationRequirementID }}</td>
            <td>{{ ce.educationName }}</td>
            <td>{{ ce.contEducationTakenDate | date }}</td>
            <td class="text-center" style="font-size: larger">
              {{ ce.creditHoursTaken }}
            </td>
            <td>{{ ce.additionalNotes }}</td>
            <td style="width: 15rem">
              <div class="d-flex justify-content-between mb-3 me-4">
                <button
                  class="icon-edit-delete-button"
                  (click)="agentDataService.storeContEduHoursTaken('EDIT', ce); modalService.open('modal-edit-edu-hours-taken')"
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="icon-edit-delete-button">
                  <span class="material-symbols-outlined"> delete </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>

<!-- Modal: EDIT-TM-HOURS-TAKEN -->
<modal id="modal-edit-edu-hours-taken">
  <div class="modal-header">
    <h1 class="modal-title">{{ agentComService.modeContEduHoursTaken }} - Education Hours Taken</h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-hours-taken></app-edit-hours-taken>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modalService.close()"
        >
          Close
        </button>
      </div> -->
</modal>
