<div class="container app-component-container">
  <div class="row mt-5 mb-3">
    <div class="col">
      <label for="dropdownType">Dropdown Type:</label><br />
      <select
        class="form-select select-size-med-small"
        type="text"
        id="dropdownType"
        (change)="changeDropdownListType($event)"
      >
        <option *ngFor="let item of dropdownListTypes" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="col d-flex justify-content-center align-items-end">
      <button
        class="btn btn-success"
        type="button"
        (click)="
          adminDataService.storeDopdownItem('INSERT', null);
          modalService.open('modal-edit-dropdown-item')
        "
      >
        Create New Value
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div
      class="col-md-12 d-flex justify-content-center align-items-center mt-5"
      *ngIf="dropdownListItems.length == 0"
    >
      <h1>No Record(s) Found</h1>
    </div>
    <div class="col">
      <div class="table" *ngIf="dropdownListItems.length > 0">
        <thead>
          <tr class="sticky-top" style="background-color: gainsboro">
            <th scope="col">Dropdown</th>
            <th scope="col">Value</th>
            <th scope="col">SortOder</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let item of dropdownListItems">
            <td class="align-middle text-nowrap" style="font-size: larger">
              {{ item.lkpField }}
            </td>
            <td class="align-middle text-nowrap">{{ item.lkpValue }}</td>
            <td class="align-middle">
              {{ item.sortOrder }}
            </td>
            <td class="align-middle" style="width: 10rem">
              <div class="d-flex justify-content-between mb-3 me-4">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  (click)="
                    adminDataService.storeDopdownItem('EDIT', {});
                    modalService.open('modal-edit-dropdown-item')
                  "
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="icon-edit-delete-button" type="button">
                  <span class="material-symbols-outlined"> delete </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>

<!-- Modal: EDIT-DROPDOWN-ITEM -->
<modal id="modal-edit-dropdown-item">
    <div class="modal-header">
      <h1 class="modal-title">{{ adminComService.modeDropdownItem }} - Dropdown Item</h1>
      <!-- <button
                type="button"
                class="btn-close"
                (click)="modalService.close()"
              ></button> -->
    </div>
    <div class="modal-body">
      <div>
        <div>
          <app-edit-dropdown-item></app-edit-dropdown-item>
        </div>
      </div>
    </div>
  </modal>
