.h1-title {
  margin: 1rem;
  padding: 1rem;
  color: primary;
  font-size: 4rem;
  font-weight: 700;
}

.input-th-mini {
  width: 150px;
  font-weight: 600;
  font-size: 1rem;
}

.input-td-mini {
  width: 150px;
  font-size: 1.3rem;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-title {
  font-size: large;
  padding-right: 20px;
  position: relative;
}

.badge-title .mat-badge-content {
  margin-top: 2rem; /* Add top margin to move the badge down */
}

.error-count {
  background-color: red;
  color: white;
  border-radius: 1rem;
  padding-left: .75rem;
  padding-right: .75rem;
} 
