<div class="container">
  <div class="row" *ngIf="!appComService.isLoggedIn">
    <h1 class="h1-title">Welcome to OneTrak</h1>
  </div>
  <div class="row mt-5" *ngIf="appComService.isLoggedIn">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: large">
            My Work List
          </mat-panel-title>
          <!-- <mat-panel-description>
              This is a summary of the content
            </mat-panel-description> -->
        </mat-expansion-panel-header>
        <div
          class="row align-middle mb-2"
          style="
            background-color: aliceblue;
            padding: 1rem;
            border-radius: 1rem;
            border-color: lightgray;
            border-width: 1px;
            border-style: solid;
          "
        >
          <div class="col-md-3">
            <label for="workListName">Work List Name:</label><br />
            <select
              class="form-select select-size-med-small"
              name="workListName"
              id="workListName"
              [value]="selectedWorkListName"
              (change)="changeWorkListName($event)"
              [(ngModel)]="workListName"
            >
              <option *ngFor="let item of worklistNames" [value]="item">
                {{ item }}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="licenseTech">License Tech:</label><br />
            TBD...
          </div>
          <div class="col-md-3">
            <label for="date">Date:</label><br />
            <input
              class="form-control input-size-small"
              type="date"
              name="date"
              [(ngModel)]="date"
            />
          </div>
          <div
            class="col-md-3 d-flex align-items-center justify-content-center"
          >
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: large">
            ADBanker Data
          </mat-panel-title>
          <mat-panel-description>
            <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
            ## records imported on ##/##/####
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div
          class="row align-middle mb-2"
          style="
            background-color: aliceblue;
            padding: 1rem;
            border-radius: 1rem;
            border-color: lightgray;
            border-width: 1px;
            border-style: solid;
          "
        >
          <div class="col-md-3">
            <label for="importDate">Import Date:</label><br />
            <select
              class="form-select select-size-med-small"
              name="importDate"
              id="importDate"
              (change)="changeImportDate($event)"
              [(ngModel)]="workListName"
            >
              <option *ngFor="let item of worklistNames" [value]="item">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: large">
            Audit Log
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          class="row align-middle mb-2"
          style="
            background-color: aliceblue;
            padding: 1rem;
            border-radius: 1rem;
            border-color: lightgray;
            border-width: 1px;
            border-style: solid;
          "
        >
          <div class="col-md-3">
            <label for="startDate">Start Date:</label><br />
            <input
              class="form-control input-size-small"
              type="date"
              name="startDate"
              [(ngModel)]="date"
            />
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
