<div class="container">
  <div class="row" *ngIf="!appComService.isLoggedIn">
    <h1 class="h1-title">Welcome to OneTrak</h1>
  </div>
  <div class="row mt-5" *ngIf="appComService.isLoggedIn">
    <!-- <mat-accordion> -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: large">
          {{ userAcctInfoDataService.userAcctInfo.displayName }} ({{
            userAcctInfoDataService.userAcctInfo.soeid
          }}) - Work List
        </mat-panel-title>
        <!-- <mat-panel-description>
              This is a summary of the content
            </mat-panel-description> -->
      </mat-expansion-panel-header>
      <div
        class="row align-middle mb-2"
        style="
          background-color: black;
          color: white;
          opacity: 0.75;
          padding: 1rem;
          border-radius: 1rem;
          border-color: lightgray;
          border-width: 1px;
          border-style: solid;
        "
      >
        <div class="col-md-3">
          <label for="workListName">Work List Name:</label><br />
          <select
            class="form-select select-size-med-small"
            name="workListName"
            id="workListName"
            [value]="selectedWorkListName"
            (change)="onChangeWorkListName($event)"
            [(ngModel)]="workListName"
          >
            <option *ngFor="let item of worklistNames" [value]="item">
              {{ item }}
            </option>
          </select>
        </div>
        <!-- <div class="col-md-3">
            <label for="licenseTech">License Tech:</label><br />
            <select
              class="form-select select-size-med-small"
              name="modifiedBy"
              id="modifiedBy"
              (change)="changeModifiedBy($event)"
              [(ngModel)]="modifiedBySelected"
            >
              <option *ngFor="let tech of modifiedBy" [value]="tech">
                {{ tech }}
              </option>
            </select>
          </div> -->
        <div class="col-md-3">
          <label for="worklistdate">Date:</label><br />
          <input
            class="form-control input-size-small"
            type="date"
            name="worklistdate"
            [(ngModel)]="worklistdate"
          />
        </div>
        <!-- <div
            class="col-md-3 d-flex align-items-center justify-content-center"
          >
            <button class="btn btn-primary" type="submit">Search</button>
          </div> -->
      </div>
      <mat-divider></mat-divider>
      <div class="row" *ngIf="worklistData.length == 0">
        <div class="col d-flex justify-content-center mt-5">
          <h3>No data found</h3>
        </div>
      </div>
      <div class="row" *ngIf="worklistData.length > 0">
        <div class="col">
          <div class="table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th
                  class="input-th-mini"
                  *ngFor="let header of worklistData[0].workListData.split('|')"
                >
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody class="bg-body">
              <tr *ngFor="let row of worklistData.slice(1)">
                <td><input type="checkbox" /></td>
                <td
                  class="input-td-mini"
                  *ngFor="let cell of row.workListData.split('|')"
                >
                  {{ cell }}
                </td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      class="mt-3"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: large">
          ADBanker Data
        </mat-panel-title>
        <mat-panel-description>
          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          <span style="font-size: larger">{{
            adBankerImportInfo.recordCount
          }}</span>
          &nbsp; records - imported: &nbsp;
          <span style="font-size: large">{{
            adBankerImportInfo.lastImportDate | date : "MM/dd/yyyy"
          }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div
        class="row align-middle mb-2"
        style="
          background-color: black;
          color: white;
          opacity: 0.75;
          padding: 0.5rem;
          border-radius: 1rem;
          border-color: lightgray;
          border-width: 1px;
          border-style: solid;
        "
      >
        <div class="col-md-3">
          <label for="adBankerStartDate">Start Date:</label><br />
          <input
            class="form-control input-size-small"
            type="date"
            name="adBankerStartDate"
            [(ngModel)]="adBankerStartDate"
            (change)="onChangeADBankerStartDate($event)"
          />
        </div>
        <div class="col-md-3">
          <label for="adBankerEndDate">End Date:</label><br />
          <input
            class="form-control input-size-small"
            type="date"
            name="adBankerEndDate"
            [value]="adBankerEndDate"
            [(ngModel)]="adBankerEndDate"
            (change)="onChangeADBankerEndDate($event)"
          />
        </div>
        <div class="col-md-3">
          <label for="modifiedBy">Import Status:</label><br />
          <select
            class="form-select select-size-med-small"
            name="modifiedBy"
            id="modifiedBy"
            (change)="onChangeImportStaus($event)"
            [(ngModel)]="adBankerImportStatus"
          >
            <option
              *ngFor="let status of adBankerImportStatuses"
              [value]="status"
            >
              {{ status }}
            </option>
          </select>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div
        class="div d-flex justify-content-center mt-5"
        style="font-size: larger; color: gray"
        *ngIf="adBankerData.length === 0"
      >
        No records found
      </div>
      <div class="row" *ngIf="adBankerData.length !== 0">
        <div class="col mt-3">
          <table class="table">
            <thead>
              <tr style="background-color: whitesmoke; font-size: smaller;">
                <th scope="col">EmployeeID</th>
                <th scope="col">State</th>
                <th scope="col">Student Name</th>
                <th scope="col">Title</th>
                <th scope="col">Completion</th>
                <th scope="col">Reported</th>
                <th scope="col">Credits</th>
                <th scope="col">Import Date</th>
                <th scope="col">Completed</th>
              </tr>
            </thead>
            <tbody style="font-size: smaller;">
              <tr *ngFor="let data of adBankerData">
                <td class="align-middle">
                  {{ data.employeeId }}
                </td>
                <td class="align-middle">
                  {{ data.courseState }}
                </td>
                <td class="align-middle wrap-text" style="width: 275px">
                  {{ data.studentName | firstThree }}
                </td>
                <td class="align-middle">
                  {{ data.courseTitle }}
                </td>
                <td class="align-middle">
                  {{ data.completionDate | date : "MM/dd/yyyy" }}
                </td>
                <td class="align-middle">
                  {{ data.reportedDate | date : "MM/dd/yyyy" }}
                </td>
                <td class="align-middle text-center">{{ data.totalCredits | number:'1.2-2' }}</td>
                <td class="align-middle">
                  {{ data.createDate | date : "MM/dd/yyyy, h:mm a" }}
                </td>
                <!-- <td class="align-middle">{{ data.isImportComplete }}</td> -->
                <td class="align-middle checkbox-container">
                  <input type="checkbox" [checked]="data.isImportComplete" [disabled]="data.isImportComplete">
                </td>

                <!-- <td style="width: 10rem">
                  <div
                    class="d-flex justify-content-between mb-3 me-4"
                    style="min-width: 10rem; max-width: 10rem"
                  >
                    <button
                      class="icon-edit-delete-button"
                      (click)="
                        agentDataService.storeEmploymentTransferHistory(
                          'EDIT',
                          emp
                        );
                        modalService.open('modal-edit-emp-history')
                      "
                    >
                      <span class="material-symbols-outlined"> edit </span>
                    </button>
                    <button
                      class="icon-edit-delete-button"
                      (click)="openConfirmDialog('deleteEmploymentHistory', 'Employment History Item', emp)"
                    >
                      <span class="material-symbols-outlined"> delete </span>
                    </button>
                  </div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-3">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: large"> Audit Log </mat-panel-title>
      </mat-expansion-panel-header>
      <div
        class="row align-middle mb-2"
        style="
          background-color: black;
          color: white;
          opacity: 0.75;
          padding: 0.5rem;
          border-radius: 1rem;
          border-color: lightgray;
          border-width: 1px;
          border-style: solid;
        "
      >
        <div class="col-md-3">
          <label for="startDate">Start Date:</label><br />
          <input
            class="form-control input-size-small"
            type="date"
            name="startDate"
            [(ngModel)]="startDate"
            (change)="onChangesStartDate($event)"
          />
        </div>
        <div class="col-md-3">
          <label for="endDate">End Date:</label><br />
          <input
            class="form-control input-size-small"
            type="date"
            name="endDate"
            [value]="endDate"
            [(ngModel)]="endDate"
            (change)="onChangesEndDate($event)"
          />
        </div>
        <div class="col-md-3">
          <label for="modifiedBy">Modified By:</label><br />
          <select
            class="form-select select-size-med-small"
            name="modifiedBy"
            id="modifiedBy"
            (change)="onChangeModifiedBy($event)"
            [(ngModel)]="modifiedBySelected"
          >
            <option *ngFor="let tech of modifiedBy" [value]="tech">
              {{ tech }}
            </option>
          </select>
        </div>
        <div class="col-md-3 d-flex align-items-center">
          <input
            class="form-check-input me-2"
            type="checkbox"
            id="isTechActive"
            [(ngModel)]="isTechActive"
          />
          <label
            for="isTechActive"
            class="form-label d-flex align-items-center mt-3"
            >Only Active Tech</label
          >
        </div>
      </div>
      <mat-divider></mat-divider>
      <div
        class="div d-flex justify-content-center mt-5"
        style="font-size: larger; color: gray"
        *ngIf="auditLogData.length === 0"
      >
        No records found
      </div>
      <div class="row" *ngIf="auditLogData.length !== 0">
        <div class="col mt-3">
          <table class="table">
            <thead>
              <tr style="background-color: whitesmoke">
                <th scope="col">Modify Date</th>
                <th scope="col">Modified By</th>
                <th scope="col" style="width: 275px">Audit Field Name</th>
                <th scope="col">Audit Action</th>
                <th scope="col">Before Value</th>
                <th scope="col">After Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of auditLogData">
                <td class="align-middle">
                  {{ log.modifyDate | date : "MM/dd/yyyy, h:mm a" }}
                </td>
                <td class="align-middle">
                  {{ log.modifiedBy }}
                </td>
                <td class="align-middle wrap-text" style="width: 275px">
                  {{ log.auditFieldName | firstThree }}
                </td>
                <td class="align-middle">
                  {{ log.auditAction }}
                </td>
                <td class="align-middle">
                  {{ log.auditValueBefore }}
                </td>
                <td class="align-middle">{{ log.auditValueAfter }}</td>

                <!-- <td style="width: 10rem">
                  <div
                    class="d-flex justify-content-between mb-3 me-4"
                    style="min-width: 10rem; max-width: 10rem"
                  >
                    <button
                      class="icon-edit-delete-button"
                      (click)="
                        agentDataService.storeEmploymentTransferHistory(
                          'EDIT',
                          emp
                        );
                        modalService.open('modal-edit-emp-history')
                      "
                    >
                      <span class="material-symbols-outlined"> edit </span>
                    </button>
                    <button
                      class="icon-edit-delete-button"
                      (click)="openConfirmDialog('deleteEmploymentHistory', 'Employment History Item', emp)"
                    >
                      <span class="material-symbols-outlined"> delete </span>
                    </button>
                  </div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- </mat-accordion> -->
  </div>
</div>
