<div class="container app-component-container">
  <div class="row">
    <div
      class="col d-flex justify-content-start align-items-center"
      style="font-size: larger"
    >
      <strong style="margin-right: 1rem">License Name:</strong>
      {{ licenseMgmtData[currentIndex].licenseName }}
      <button
        *ngIf="!modeEdit"
        class="edit-button ms-3 mb-5"
        style="color: grey"
        (click)="onEditToggle()"
      >
        <span class="material-symbols-outlined"> edit </span>
      </button>
    </div>

    <div class="col d-flex justify-content-center mb-3 mt-1">
      <!-- <button
                          class="btn btn-link page-button mb-5"
                          *ngIf="isDisplayPrevious()"
                          (click)="previousPage()"
                        >
                          <span class="material-symbols-outlined"> arrow_back_ios </span></button
                        ><span class="page-info">{{ getPageInfo() }}</span>
                        <button
                          class="btn btn-link page-button mb-5"
                          *ngIf="isDisplayNext()"
                          (click)="nextPage()"
                        >
                          <span class="material-symbols-outlined"> arrow_forward_ios </span>
                        </button> -->
    </div>

    <div class="col d-flex justify-content-end align-items-end me-5">
      <div class="mb-3">
        {{ licenseIncentiveInfo.licenseIncentive }}
      </div>
      <button class="edit-button mb-5" style="color: grey">
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </div>
  </div>

  <!-- DISPLAY -->
  <div class="row bg-body p-1">
    <div class="col">
      <!-- mode: DISPLAY -->
      <table class="table" *ngIf="!modeEdit">
        <thead>
          <tr style="background-color: whitesmoke">
            <th scope="col">IncentiveID</th>
            <th scope="col">Rollout Group</th>
            <th scope="col">DM Mgr</th>
            <th scope="col">CCd BM Mgr</th>
            <th scope="col">Sent To DM</th>
            <th scope="col">Date DM Approved</th>
            <th scope="col">Date DM Declined</th>
            <th scope="col">DM Approval Status</th>
            <th scope="col">DM Followup By N/A</th>
            <th scope="col">DM Followup By N/A</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ licenseIncentiveInfo.employmentLicenseIncentiveID }}</td>
            <td style="font-size: smaller">
              {{ licenseIncentiveInfo.rollOutGroup }}
            </td>
            <td style="font-size: smaller">
              {{ licenseIncentiveInfo.dmMgrName }}
            </td>
            <td style="font-size: smaller">
              {{ licenseIncentiveInfo.cCdBRMgrName }}<br />{{
                licenseIncentiveInfo.cCdBRMgrJobTitle
              }}
            </td>
            <td></td>
            <td style="font-size: smaller">
              {{ licenseIncentiveInfo.dmApprovalDate }}
            </td>
            <td style="font-size: smaller">
              {{ licenseIncentiveInfo.dmDeclinedDate }}
            </td>
            <td style="font-size: smaller">
              {{ licenseIncentiveInfo.dmApprovalStatus }}
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="6">
              <div>
                <span style="font-weight: 600"> DM Comment: </span>
                <div>{{ licenseIncentiveInfo.dmComment }}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row bg-body p-1">
    <div class="col">
      <!-- mode: DISPLAY -->
      <table class="table" *ngIf="!modeEdit">
        <thead>
          <tr style="background-color: whitesmoke">
            <th scope="col">Program Eligible</th>
            <th scope="col">Sent To TM</th>
            <th scope="col">CCd BM Mgr</th>
            <th scope="col">Date TM Approved</th>
            <th scope="col">Date TM Declined</th>
            <th scope="col">TM Followup By N/A</th>
            <th scope="col">TM 45 Day FollowUp</th>
            <th scope="col">TM Approval Status</th>
            <th scope="col">Enroll Date</th>
            <th scope="col">Exception Start Date</th>
            <th scope="col">Incentive Expiration Date</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let license of licenseMgmtData[currentIndex].licenseAppointments">
                  <td>{{ license.licenseNumber }}</td>
                  <td>{{ license.licenseType }}</td>
                  <td>{{ license.licenseStatus }}</td>
                  <td>{{ license.licenseExpirationDate }}</td>
                  <td>{{ license.licenseState }}</td>
                  <td>{{ license.licenseIncentive }}</td>
                </tr> -->
        </tbody>
      </table>
    </div>
  </div>
  <div class="row bg-body p-1">
    <div class="col">
      <!-- mode: DISPLAY -->
      <table class="table" *ngIf="!modeEdit">
        <thead>
          <tr style="background-color: whitesmoke">
            <th scope="col">Completed In 90 Days</th>
            <th scope="col">Ok To Sell Sent To TM</th>
            <th scope="col">CC'd BM Mgr</th>
            <th scope="col">Original Issue Date</th>
            <th scope="col">Comp Cert Rec'd</th>
            <th scope="col">Non Credit Completed</th>
            <th scope="col">Appointment Effective Date</th>
            <th scope="col">OMS Appr To Send To HR</th>
            <th scope="col">Incentive Period</th>
            <th scope="col">Incentive Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let license of licenseMgmtData[currentIndex].licenseAppointments">
              <td>{{ license.licenseNumber }}</td>
              <td>{{ license.licenseType }}</td>
              <td>{{ license.licenseStatus }}</td>
              <td>{{ license.licenseExpirationDate }}</td>
              <td>{{ license.licenseState }}</td>
              <td>{{ license.licenseIncentive }}</td>
            </tr> -->
        </tbody>
      </table>
    </div>
  </div>

  <!-- EDIT -->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="modeEdit">
    <div class="row bg-body">
      <div class="col d-flex justify-content-end">
        <button
          class="edit-button me-5 mb-5"
          *ngIf="modeEdit"
          style="color: grey"
        >
          <span class="material-symbols-outlined"> save </span>
        </button>
        <button
          class="edit-button mb-3 me-5"
          *ngIf="modeEdit"
          style="color: grey"
          (click)="onEditToggle()"
        >
          <span class="material-symbols-outlined"> cancel </span>
        </button>
      </div>
    </div>

    <div class="row bg-body">
      <div class="col">
        <!-- mode: EDIT -->
        <table class="table">
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col">Rollout Group</th>
              <th scope="col">DM Mgr</th>
              <th scope="col">CCd BM Mgr</th>
              <th scope="col">Sent To DM</th>
              <th scope="col">Date DM Approved</th>
              <th scope="col">Date DM Declined</th>
              <th scope="col">DM Followup By N/A</th>
              <th scope="col">DM Followup By N/A</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let license of licenseMgmtData[currentIndex].licenseAppointments">
                        <td>{{ license.licenseNumber }}</td>
                        <td>{{ license.licenseType }}</td>
                        <td>{{ license.licenseStatus }}</td>
                        <td>{{ license.licenseExpirationDate }}</td>
                        <td>{{ license.licenseState }}</td>
                        <td>{{ license.licenseIncentive }}</td>
                      </tr> -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="row bg-body">
      <div class="col">
        <!-- mode: EDIT -->
        <table class="table">
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col">Sent To TM</th>
              <th scope="col">CCd BM Mgr</th>
              <th scope="col">Date TM Approved</th>
              <th scope="col">Date TM Declined</th>
              <th scope="col">TM Followup By N/A</th>
              <th scope="col">TM 45 Day FollowUp</th>
              <th scope="col">Exception Start Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let license of licenseMgmtData[currentIndex].licenseAppointments">
                    <td>{{ license.licenseNumber }}</td>
                    <td>{{ license.licenseType }}</td>
                    <td>{{ license.licenseStatus }}</td>
                    <td>{{ license.licenseExpirationDate }}</td>
                    <td>{{ license.licenseState }}</td>
                    <td>{{ license.licenseIncentive }}</td>
                  </tr> -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="row bg-body">
      <div class="col">
        <!-- mode: EDIT -->
        <table class="table">
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col">Ok To Sell Sent To TM</th>
              <th scope="col">CC'd BM Mgr</th>
              <th scope="col">OMS Appr To Send To HR</th>
              <th scope="col">&nbsp;</th>
              <th scope="col">Incentive Period</th>
              <th scope="col">Incentive Status</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let license of licenseMgmtData[currentIndex].licenseAppointments">
                <td>{{ license.licenseNumber }}</td>
                <td>{{ license.licenseType }}</td>
                <td>{{ license.licenseStatus }}</td>
                <td>{{ license.licenseExpirationDate }}</td>
                <td>{{ license.licenseState }}</td>
                <td>{{ license.licenseIncentive }}</td>
              </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
