<div class="container mt-5" style="width: 24rem">
  <div class="row justify-content-center">
    <div class="col">
      <div
        class="card"
        style="
          width: 23rem;
          border-radius: .75rem;
          background-color: black;
          color: white;
          opacity: 0.75;
          border-style: solid;
          border-color: gainsboro;
          border-width: 1px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        "
      >
        <div class="card-body" style="width: 23rem">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div ngModelGroup="loginInfo" #loginInfo="ngModelGroup">
              <div class="form-group">
                <label for="userTID">Network ID</label>
                <input
                  type="text"
                  class="form-control input-size-med-small"
                  id="userTID"
                  placeholder="T#######"
                  name="userTID"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control input-size-med-small"
                  id="password"
                  placeholder="Password"
                  name="password"
                  ngModel
                />
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="width: 24rem">
      <div class="d-flex justify-content-center mt-3" style="color: red">
        {{ appComService.loginErrorMsg }}
      </div>
    </div>
  </div>
</div>
