<div class="container mt-5" style="width: 24rem">
  <div class="row justify-content-center">
    <div class="col">
      <div
        class="card"
        style="width: 23rem; border-radius: 1rem; background-color: aliceblue"
      >
        <div class="card-body" style="width: 23rem">
          <form>
            <div class="form-group">
              <label for="userTID">Network ID</label>
              <input
                type="text"
                class="form-control input-size-med-small"
                id="userTID"
                placeholder="T#######"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control input-size-med-small"
                id="password"
                placeholder="Password"
              />
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="width: 24rem">
      <div class="d-flex justify-content-center mt-3" style="color: red;">
        TBD - Login Error Message...
      </div>
    </div>
  </div>
</div>
