<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Agent Information</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col">
              <p>
                <strong>Name:</strong> {{ agentInfo.firstName }}
                {{ agentInfo.middleName }} {{ agentInfo.lastName }}
              </p>
              <p><strong>Employee ID:</strong> {{ agentInfo.employeeID }}</p>
              <!-- <p>
                <strong>Employment ID:</strong> {{ agentInfo.employmentID }}
              </p> -->
              <p>
                <strong>Team Member ID:</strong>
                {{ agentInfo.teamMemberGEID || "N/A" }}
              </p>

              <!-- <p>
                <strong>Job Title:</strong> {{ agentInfo.jobTitle || "N/A" }}
              </p> -->
              <!-- <p>
                <strong>Job Start Date:</strong>
                {{ agentInfo.jobDate || "N/A" }}
              </p> -->
            </div>
            <div class="col">
              <p>
                <strong>Employer/Agency:</strong>
                {{ agentInfo.employerAgency || "N/A" }}
              </p>
              <p>
                <strong>Res State:</strong>
                {{ agentInfo.residentState || "N/A" }}
              </p>
              <p>
                <strong>Work State:</strong> {{ agentInfo.workState || "N/A" }}
              </p>
              <!-- <p><strong>Phone:</strong> {{ agentInfo.phone || "N/A" }}</p> -->
            </div>
            <div class="col">
              <p>
                <strong>Branch/Dept:</strong>
                {{ agentInfo.branchDeptNumber || "N/A" }}
              </p>
              <p>
                <strong>Score:</strong>
                {{ agentInfo.scoreNumber || "N/A" }}
              </p>
              <p>
                <strong>National Producer Number:</strong>
                {{ agentInfo.nationalProducerNumber || "N/A" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <mat-tab-group>
    <mat-tab label="TM Information">
      <app-tm-information></app-tm-information>
    </mat-tab>
    <mat-tab label="TM Detail"><app-tm-detail></app-tm-detail></mat-tab>
    <mat-tab label="TM Emp/Trans History"
      ><app-tm-emptrans-history></app-tm-emptrans-history>
    </mat-tab>
    <mat-tab label="TM Continuing Edu."
      ><app-tm-continuing-edu> </app-tm-continuing-edu
    ></mat-tab>
    <mat-tab label="TM Diary"><app-tm-diary></app-tm-diary></mat-tab>
    <mat-tab label="TM Email"><app-tm-email></app-tm-email></mat-tab>
    <mat-tab label="TM Communications"
      ><app-tm-communications></app-tm-communications
    ></mat-tab>
  </mat-tab-group>
</div>
