<div
  class="col-md-12"
  style="
    border-bottom-style: inset;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
  "
>
  <div class="row">
    <div class="col-md-12">
      <div
        class="table-responsive"
        style="
          max-height: 700px;
          overflow-y: auto;
          overflow-x: hidden;
          border-top-left-radius: 0.7rem;
          border-top-right-radius: 0.7rem;
        "
      >
        <table class="table table-striped shadow-sm">
          <thead class="sticky-header">
            <tr style="background-color: black; color: white; opacity: 1">
              <th>&nbsp;</th>
              <th>Employee ID</th>
              <th>Team #</th>
              <th>Name</th>
              <th>Res State</th>
              <th>Work State</th>
              <th>Branch Name</th>
              <th>Score #</th>
              <th>Employment ID</th>
              <th>Tickle</th>
              <th>Indexer</th>
            </tr>
          </thead>
          <tbody class="bg-body">
            <tr
              *ngFor="let teamMember of paginationComService.paginatedResults"
            >
              <td class="align-middle">
                <a
                  [routerLink]="[
                    '../../team/agent-info',
                    teamMember.employeeID,
                    'tm-info-mgmt'
                  ]"
                  >Select</a
                >
              </td>
              <td class="align-middle">{{ teamMember.employeeID }}</td>
              <td class="align-middle">{{ teamMember.geid }}</td>
              <td class="align-middle">{{ teamMember.name }}</td>
              <td class="align-middle">{{ teamMember.resStateAbv }}</td>
              <td class="align-middle">{{ teamMember.workStateAbv }}</td>
              <td class="align-middle">{{ teamMember.branchName }}</td>
              <td class="align-middle">{{ teamMember.scoreNumber }}</td>
              <td class="align-middle">{{ teamMember.employmentID }}</td>
              <td class="align-middle">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  title="Tickle"
                  (click)="
                    modalService.open('modal-new-tickler');
                    emplyService.updateSelectedEmployee(teamMember)
                  "
                >
                  <span class="material-symbols-outlined"> chat </span>
                </button>
              </td>
              <td class="align-middle">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  title="Document(s) Index"
                  (click)="
                    modalService.open('modal-document-index');
                    emplyService.updateSelectedEmployee(teamMember)
                  "
                >
                  <span class="material-symbols-outlined"> list </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal: NEW-TICKLER -->
<modal id="modal-new-tickler">
  <div class="modal-header">
    <h1 class="modal-title">Inser New Tickler</h1>
    <!-- <button
              type="button"
              class="btn-close"
              (click)="modalService.close()"
            ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-add-tickler></app-add-tickler>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: DOCUMENT-INDEX -->
<modal id="modal-document-index">
  <div class="modal-header">
    <h1 class="modal-title">OneTrak Document(s) Indexer</h1>
    <!-- <button
              type="button"
              class="btn-close"
              (click)="modalService.close()"
            ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-add-indexer></app-add-indexer>
      </div>
    </div>
  </div>
</modal>
