<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table
          class="table table-striped border-radius"
          style="border-top-left-radius: 5rem; border-top-right-radius: 5rem"
        >
          <thead>
            <tr style="background-color: black; color: white; opacity: 7">
              <th>&nbsp;</th>
              <th>Employee ID</th>
              <th>Team #</th>
              <th>Name</th>
              <th>Res State</th>
              <th>Work State</th>
              <th>Branch Name</th>
              <th>Score #</th>
              <th>Employment ID</th>
              <th>Tickle</th>
              <th>Indexer</th>
            </tr>
          </thead>
          <tbody class="bg-body">
            <tr *ngFor="let teamMember of paginatedResults">
              <td class="align-middle">
                <a
                  [routerLink]="[
                    '../../team/agent-info',
                    teamMember.employeeID
                  ]"
                  >View</a
                >
              </td>
              <td class="align-middle">{{ teamMember.employeeID }}</td>
              <td class="align-middle">{{ teamMember.geid }}</td>
              <td class="align-middle">{{ teamMember.name }}</td>
              <td class="align-middle">{{ teamMember.resStateAbv }}</td>
              <td class="align-middle">{{ teamMember.workStateAbv }}</td>
              <td class="align-middle">{{ teamMember.branchName }}</td>
              <td class="align-middle">{{ teamMember.scoreNumber }}</td>
              <td class="align-middle">{{ teamMember.employmentID }}</td>
              <td class="align-middle">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  title="Tickle"
                  (click)="modalService.open('modal-new-tickler')"
                >
                  <span class="material-symbols-outlined"> chat </span>
                </button>
              </td>
              <td class="align-middle">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  title="Document(s) Index"
                  (click)="modalService.open('modal-document-index')"
                >
                  <span class="material-symbols-outlined"> list </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a
                class="page-link"
                href="javascript:void(0)"
                (click)="previousPage()"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li
              class="page-item"
              *ngFor="
                let page of [].constructor(
                  Math.ceil(searchEmployeeResults.length / itemsPerPage)
                );
                let i = index
              "
              [class.active]="currentPage === i + 1"
            >
              <a
                class="page-link"
                href="javascript:void(0)"
                (click)="goToPage(i + 1)"
                >{{ i + 1 }}</a
              >
            </li>
            <li
              class="page-item"
              [class.disabled]="
                currentPage ===
                Math.ceil(searchEmployeeResults.length / itemsPerPage)
              "
            >
              <a
                class="page-link"
                href="javascript:void(0)"
                (click)="nextPage()"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Modal: NEW-TICKLER -->
<modal id="modal-new-tickler">
  <div class="modal-header">
    <h1 class="modal-title">Inser New Tickler</h1>
    <!-- <button
              type="button"
              class="btn-close"
              (click)="modalService.close()"
            ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-add-tickler></app-add-tickler>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: DOCUMENT-INDEX -->
<modal id="modal-document-index">
  <div class="modal-header">
    <h1 class="modal-title">OneTrak Document(s) Indexer</h1>
    <!-- <button
              type="button"
              class="btn-close"
              (click)="modalService.close()"
            ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-add-indexer></app-add-indexer>
      </div>
    </div>
  </div>
</modal>
