<form
  [formGroup]="companyReqForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="workStateAbv" class="form-label">Work State:</label>
        <select
          class="form-select select-size-small"
          type="text"
          id="workStateAbv"
          formControlName="workStateAbv"
        >
          <option *ngFor="let state of states" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label for="resStateAbv" class="form-label">Resident State:</label>
        <select
          class="form-select select-size-small"
          type="text"
          id="resStateAbv"
          formControlName="resStateAbv"
        >
          <option *ngFor="let state of states" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label for="requirementType" class="form-label"
          >Requirement Type:</label
        >
        <select
          class="form-select select-size-small"
          type="text"
          id="requirementType"
          formControlName="requirementType"
        >
          <option *ngFor="let type of requirementTypes" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label for="startAfterDate" class="form-label">Start After Date:</label>
        <input
          class="form-control input-size-small"
          type="date"
          id="startAfterDate"
          formControlName="startAfterDate"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-3 mt-4">
        <input
          class="form-check-input me-2 align-middle"
          type="checkbox"
          id="licLevel1"
          formControlName="licLevel1"
        />
        <label for="licLevel1" class="form-label"> Lic Level 1 </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3 mt-4">
        <input
          class="form-check-input me-2 align-middle"
          type="checkbox"
          id="licLevel2"
          formControlName="licLevel2"
        />
        <label for="licLevel2" class="form-label"> Lic Level 2 </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3 mt-4">
        <input
          class="form-check-input me-2 align-middle"
          type="checkbox"
          id="licLevel3"
          formControlName="licLevel3"
        />
        <label for="licLevel3" class="form-label"> Lic Level 3 </label>
      </div>
    </div>
    <div class="col">
      <div class="mb-3 mt-4">
        <input
          class="form-check-input me-2 align-middle"
          type="checkbox"
          id="licLevel4"
          formControlName="licLevel4"
        />
        <label for="licLevel4" class="form-label"> Lic Level 4 </label>
      </div>
    </div>
  </div>

  <div class="row mt-3" *ngIf="isDocumentUploaded">
    <div
      class="col-md-12 d-flex align-items-center"
      style="
        background-color: aliceblue;
        border-color: lightgray;
        border-width: 1px;
        border-style: solid;
        border-radius: .5rem;
      "
    >
      <!-- Use Flexbox here -->
      <button class="icon-edit-delete-button" type="button" style="padding-bottom: 3rem;">
        <span class="material-symbols-outlined me-3">delete_forever</span>
      </button>
      <!-- <span
        class="ms-5 mt-3 mb-3"
        style="font-size: medium; font-weight: 500"
        >{{ companyReqForm.get("document")?.value }}
      </span> -->
      <button
                class="btn btn-link hover-pointer"
                (click)="onOpenDocument(companyReqForm.get('document')?.value)"
                style="font-size: medium"
              >
                {{ companyReqForm.get("document")?.value }}
              </button>
    </div>
  </div>

  <div class="row mt-5 mb-3">
    <div class="col-md-12">
      <app-file-upload
        [filePathUri]="fileUri"
        [displayMode]="FileDisplayMode"
        (fileSelected)="onFileSelected($event)"
        [isDisabled]="isDocumentUploaded"
        #fileUpload
      ></app-file-upload>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button" [disabled]="companyReqForm.pristine">Save</button>
    </div>
  </div>
</form>
