<div class="container app-component-container" style="overflow-x: hidden">
  <div class="row">
    <div class="col-md-12">
      <!-- DELETE/EDIT Buttons -->
      <div class="row d-flex justify-content-start">
        <div class="col d-flex justify-content-center">
          <button
            class="btn btn-danger w-100 button-font-size"
            (click)="
              openConfirmDialog('deleteAgent', 'Job Title Item', {
                teamNbr: agentInfo.jobTitle,
                id: agentInfo.geid,
                teamMemberName: agentInfo.firstName + ' ' + agentInfo.lastName
              })
            "
            [disabled]="true"
          >
            Delete
          </button>
        </div>
        <div class="col d-flex justify-content-center">
          <button
            [disabled]="isLoading"
            class="btn btn-primary w-100 button-font-size"
            (click)="modalService.open('modal-edit-tm-info')"
          >
            Edit
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="mt-5 mb-5 d-flex justify-content-center" *ngIf="isLoading">
          <div class="spinner-border text-primary"></div>
        </div>
        <div
          *ngIf="!isLoading"
          class="d-flex bg-body p-3 ms-2"
          style="
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          "
        >
          <!-- Agent Information -->
          <div class="col">
            <p>
              <strong>Job Title:</strong><br />
              {{ agentInfo.jobTitle || "N/A" }}
            </p>
            <p>
              <strong>Job Date:</strong><br />
              {{ agentInfo.jobDate | date : "MM/dd/yyyy" }}
            </p>
            <div>
              <strong>Diary:</strong>
              <div>
                {{ agentInfo.diaryTechName }} -
                {{ agentInfo.diaryEntryDate | date : "MMM dd yyyy  h:mm a" }}
                <br />
                {{ agentInfo.diaryNotes }}
              </div>
            </div>
          </div>
          <div class="col">
            <p>
              <strong>Team Member Status:</strong><br />
              {{ agentInfo.employeeStatus.toUpperCase() || "N/A" }}
            </p>
            <p>
              <strong>Requires Cont. Edu:</strong><br />
              {{ agentInfo.ceRequired ? "Yes" : "No" }}
            </p>
            <p>
              <strong>Exclude From Reports:</strong><br />
              {{ agentInfo.excludeFromReports ? "Yes" : "No" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <!-- INSERT Buttons -->
      <div class="row" *ngIf="!isLoading">
        <div class="col d-flex justify-content-end">
          <button
            class="btn btn-success button-font-size"
            (click)="
              setModeLicenseMgmt('ADD');
              modalService.open('modal-new-license-info')
            "
          >
            Insert - New License
          </button>
        </div>
        <div class="col d-flex justify-content-start">
          <button
            class="btn btn-success button-font-size"
            (click)="
              modalService.open('modal-insert-incentive-license');
              onSetWorkState(agentInfo.workStateAbv)
            "
          >
            Insert - Incentive License
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <div
          style="color: grey; font-size: larger; font-weight: 600"
          *ngIf="!isLoading"
        >
          Agent License & Appointments:
        </div>
        <button
          *ngIf="!isLoading"
          class="icon-toggle-button"
          style="padding-bottom: 3rem; padding-right: 2.5rem"
          (click)="onToggleView()"
          [disabled]="agentInfo.agentLicenseAppointments.length === 0"
          [title]="!isLegacyView ? 'Toggle Legacy View' : 'Toggle Panel View'"
        >
          <span class="material-symbols-outlined" style="font-size: 35px">
            list_alt
          </span>
        </button>
      </div>

      <div class="mt-5 mb-5 d-flex justify-content-center" *ngIf="isLoading">
        <div class="spinner-border text-primary"></div>
      </div>
      <div
        class="div d-flex justify-content-center mt-5 record-not-found"
        *ngIf="!isLoading && agentInfo.agentLicenseAppointments.length === 0"
      >
        No License Records found
      </div>

      <!-- New License Appt List -->
      <div
        class="row"
        *ngIf="
          !isLoading &&
          !isLegacyView &&
          agentInfo.agentLicenseAppointments.length !== 0
        "
      >
        <div class="col-md-12">
          <mat-expansion-panel
            class="mat-elevation-z4 mb-3"
            *ngFor="
              let license of agentInfo.agentLicenseAppointments;
              let i = index
            "
            [expanded]="license.employeeLicenseId === displayOpenLicenseID"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="mat-title">
                  <div
                    class="d-flex justify-content-between align-items-center w-100"
                  >
                    <div style="width: 250px">
                      <span class="me-1">{{ license.licenseName }}</span>
                      <span class="ms-1" style="font-size: small"
                        >({{ license.licenseState }})</span
                      >
                    </div>
                    <div
                      class="align-middle"
                      style="
                        display: flex;
                        padding-bottom: 2.5rem;
                        height: 100%;
                      "
                    >
                      <!-- EDIT/DELETE & ADD Appointment Buttons -->
                      <button
                        class="icon-edit-delete-button"
                        style="opacity: 0.75"
                        (click)="
                          onSetOpenLicenseID(license.employeeLicenseId);
                          setModeLicenseMgmt('EDIT');
                          agentDataService.storeLicenseInfo('EDIT', license);
                          storeLicApptLicenseID(license.licenseID);
                          modalService.open('modal-edit-license-info')
                        "
                        title="Edit License"
                      >
                        <span class="material-symbols-outlined"> edit </span>
                      </button>
                      <button class="icon-edit-delete-button">
                        <span
                          class="material-symbols-outlined"
                          (click)="
                            onSetOpenLicenseID(license.employeeLicenseId);
                            openConfirmDialog('deleteLicense', 'License ', {
                              employeeLicenseID: license.employeeLicenseId,
                              employmentID: agentInfo.employmentID,
                              licenseName: license.licenseName
                            })
                          "
                          title="Delete License"
                        >
                          delete
                        </span>
                      </button>
                      <button
                        class="icon-add-button me-5"
                        (click)="
                          onSetOpenLicenseID(license.employeeLicenseId);
                          agentDataService.storeLicenseAppt('INSERT', license);
                          storeLicApptLicenseID(license.licenseID);
                          modalService.open('modal-edit-license-appt')
                        "
                        title="Add Appointment"
                      >
                        <span class="material-symbols-outlined">
                          format_list_bulleted_add
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <!-- <div *ngIf="license.licenseAppointments.length > 0" class="row"> -->
                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <div class="me-5">
                      <label>Status:</label><br /><span
                        class="ms-2"
                        [ngStyle]="{
                          color: license.licenseStatus === 'Active' ? 'green' : 'black',
                          fontWeight: license.licenseStatus === 'Active' ? '600' : 'normal'
                        }"
                        >{{ license.licenseStatus.toUpperCase() }}</span
                      >
                    </div>
                    <div class="me-5">
                      <label>LOA:</label><br /><span style="color: black">{{
                        license.lineOfAuthority
                      }}</span>
                    </div>
                    <div class="me-5">
                      <label>Res/NonRes:</label><br /><span
                        style="color: black"
                        >{{ license.nonResident ? "NonRes" : "Res" }}</span
                      >
                    </div>
                    <div class="me-5">
                      <label>Org. Date:</label><br /><span
                        style="color: black"
                        >{{
                          license.originalIssueDate | date : "MM/dd/yyyy"
                        }}</span
                      >
                    </div>
                    <div class="me-5">
                      <label>LOA Date:</label><br /><span
                        style="color: black"
                        >{{
                          license.lineOfAuthIssueDate | date : "MM/dd/yyyy"
                        }}</span
                      >
                    </div>
                    <div class="me-5">
                      <label>Eff. Date:</label><br /><span
                        style="color: black"
                        >{{
                          license.licenseEffectiveDate | date : "MM/dd/yyyy"
                        }}</span
                      >
                    </div>
                    <div class="me-5">
                      <label>Exp. Date:</label><br /><span
                        style="color: black"
                        >{{
                          license.licenseExpirationDate | date : "MM/dd/yyyy"
                        }}</span
                      >
                    </div>
                  </div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="mat-description">
              <div class="row">
                <div class="col">
                  <strong>ID:</strong> <br />
                  {{ license.employeeLicenseId }}
                </div>
                <div class="col">
                  <strong>Status:</strong> <br />
                  {{ license.licenseStatus }}
                </div>
                <div class="col">
                  <strong>Number:</strong> <br />
                  {{ license.licenseNumber }}
                </div>
                <!-- <div class="col">
                  <strong>Resident:</strong> <br />
                  {{ license.resNoneRes ? "Res" : "NonRes" }}
                </div> -->
                <div class="col">
                  <strong>Original Date:</strong> <br />
                  {{ license.originalIssueDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>LOA Date:</strong> <br />
                  {{ license.lineOfAuthIssueDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>Effective Date:</strong> <br />
                  {{ license.licenseEffectiveDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>Expire Date:</strong> <br />
                  {{ license.licenseExpirationDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col d-flex justify-content-end">
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      modalService.open('modal-new-tickler');
                      onSetTypeTickler({ type: 'MEMBER', loa: null })
                    "
                    title="Tickle Member"
                  >
                    <span class="material-symbols-outlined"> 3p </span>
                  </button>
                </div>
                <div class="col d-flex justify-content-end">
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      modalService.open('modal-new-tickler');
                      onSetTypeTickler({
                        type: 'LOA',
                        loa: license.lineOfAuthority
                      })
                    "
                    title="Tickle Line of Authority"
                  >
                    <span class="material-symbols-outlined">
                      speaker_notes
                    </span>
                  </button>
                </div>
                <div class="col d-flex justify-content-end">
                  <button
                    class="page-button appointment-edit-button click-effect"
                    (click)="
                      toggleLicenseMgmt(i);
                      storeLicApptLicenseID(license.licenseID)
                    "
                    title="View License Information"
                  >
                    <span
                      class="material-symbols-outlined"
                      style="font-size: 35px"
                    >
                      pageview
                    </span>
                  </button>
                </div>
              </div>
              <div class="row">
                <table class="table-sm">
                  <thead>
                    <tr style="background-color: whitesmoke">
                      <th scope="col" *ngIf="appComService.isShowEditID">
                        License ID
                      </th>
                      <th scope="col">Appt ID</th>
                      <th scope="col">Status</th>
                      <th scope="col" *ngIf="appComService.isShowEditID">
                        Company ID
                      </th>
                      <th scope="col">Co. Abv.</th>
                      <th scope="col">Carrier Date</th>
                      <th scope="col">Eff. Date</th>
                      <th scope="col">Exp. Date</th>
                      <th scope="col">Term Date</th>
                      <th scope="col" class="text-center" style="width: 10rem">
                        ACTION
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let appointment of license.licenseAppointments;
                        let i = index
                      "
                      [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
                    >
                      <td
                        *ngIf="appComService.isShowEditID"
                        class="align-middle"
                      >
                        {{ appointment.licenseID }}
                      </td>
                      <td class="align-middle">
                        {{ appointment.employeeAppointmentID }}
                      </td>
                      <td class="align-middle">
                        {{ appointment.appointmentStatus.toUpperCase() }}
                      </td>
                      <td
                        *ngIf="appComService.isShowEditID"
                        class="align-middle"
                      >
                        {{ appointment.companyID }}
                      </td>
                      <td class="align-middle">{{ appointment.companyAbv }}</td>
                      <td class="align-middle">
                        {{ appointment.carrierDate | date : "MM/dd/yyyy" }}
                      </td>
                      <td class="align-middle">
                        {{
                          appointment.appointmentEffectiveDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td class="align-middle">
                        {{
                          appointment.appointmentExpireDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td class="align-middle">
                        {{
                          appointment.appointmentTerminationDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td>
                        <div class="d-flex justify-content-between mb-3 me-4">
                          <button
                            class="icon-edit-delete-button"
                            (click)="
                              onSetOpenLicenseID(license.employeeLicenseId);
                              storeLicAppointment(appointment);
                              storeLicApptLicenseID(license.licenseID);
                              modalService.open('modal-edit-license-appt')
                            "
                            title="Edit Appointment"
                          >
                            <span class="material-symbols-outlined">
                              edit
                            </span>
                          </button>
                          <button class="icon-edit-delete-button">
                            <span
                              class="material-symbols-outlined"
                              (click)="
                                onSetOpenLicenseID(license.employeeLicenseId);
                                openConfirmDialog(
                                  'deleteLicAppt',
                                  'License Appointment',
                                  {
                                    employeeAppointmentID:
                                      appointment.employeeAppointmentID,
                                    employeeLicenseID:
                                      appointment.employeeLicenseID,
                                    state: license.licenseState,
                                    status: appointment.appointmentStatus,
                                    loa: license.lineOfAuthority,
                                    coAbv: appointment.companyAbv
                                  }
                                )
                              "
                              title="Delete Appointment"
                            >
                              delete
                            </span>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
      <!-- Legacy License Appt List -->
      <div
        class="row"
        *ngIf="
          !isLoading &&
          isLegacyView &&
          agentInfo.agentLicenseAppointments.length > 0
        "
      >
        <div
          class="row mt-2"
          class="panel panel-default me-3"
          style="border-radius: 1rem; background-color: white"
        >
          <div style="padding-top: 0.5rem">
            <ul class="nav nav-tabs">
              <li
                class="nav-item"
                [ngClass]="{ active: activeTab === 'license' }"
              >
                <a
                  class="nav-link"
                  (click)="activeTab = 'license'"
                  style="font-size: larger"
                  >License(s)</a
                >
              </li>
              <li
                class="nav-item"
                [ngClass]="{ active: activeTab === 'appoiontment' }"
              >
                <a
                  class="nav-link"
                  (click)="activeTab = 'appoiontment'"
                  style="font-size: larger"
                  >Appointment(s)</a
                >
              </li>
            </ul>

            <div class="tab-content">
              <div
                id="license"
                class="tab-pane fade"
                [ngClass]="{
                  'in active': activeTab === 'license',
                  'custom-row-padding': true
                }"
              >
                <!-- LICENSE LIST -->
                <table class="table-sm w-100">
                  <thead>
                    <tr style="background-color: whitesmoke">
                      <th scope="col">&nbsp;</th>
                      <!-- <th scope="col">State</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'licenseState',
                          'th-sort': sortColumn !== 'licenseState'
                        }"
                        (click)="onSortData('licenseState', 'license')"
                      >
                        State
                      </th>
                      <!-- <th scope="col">L.O.A</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'lineOfAuthority',
                          'th-sort': sortColumn !== 'lineOfAuthority'
                        }"
                        (click)="onSortData('lineOfAuthority', 'license')"
                      >
                        L.O.A
                      </th>
                      <!-- <th scope="col">Status</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'licenseStatus',
                          'th-sort': sortColumn !== 'licenseStatus'
                        }"
                        (click)="onSortData('licenseStatus', 'license')"
                      >
                        Status
                      </th>
                      <!-- <th scope="col">License ID</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'employeeLicenseId',
                          'th-sort': sortColumn !== 'employeeLicenseId'
                        }"
                        (click)="onSortData('employeeLicenseId', 'license')"
                      >
                        License ID
                      </th>
                      <!-- <th scope="col">Name</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'licenseName',
                          'th-sort': sortColumn !== 'licenseName'
                        }"
                        (click)="onSortData('licenseName', 'license')"
                      >
                        Name
                      </th>
                      <!-- <th scope="col">Res/NonRes</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'nonResident',
                          'th-sort': sortColumn !== 'nonResident'
                        }"
                        (click)="onSortData('nonResident', 'license')"
                      >
                        Res/NonRes
                      </th>
                      <!-- <th scope="col">Org. Date</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'originalIssueDate',
                          'th-sort': sortColumn !== 'originalIssueDate'
                        }"
                        (click)="onSortData('originalIssueDate', 'license')"
                      >
                        Org. Date
                      </th>
                      <!-- <th scope="col">LOA Date</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'lineOfAuthIssueDate',
                          'th-sort': sortColumn !== 'lineOfAuthIssueDate'
                        }"
                        (click)="onSortData('lineOfAuthIssueDate', 'license')"
                      >
                        LOA Date
                      </th>
                      <!-- <th scope="col">Eff. Date</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'licenseEffectiveDate',
                          'th-sort': sortColumn !== 'licenseEffectiveDate'
                        }"
                        (click)="onSortData('licenseEffectiveDate', 'license')"
                      >
                        Eff. Date
                      </th>
                      <!-- <th scope="col">Exp. Date</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'licenseExpirationDate',
                          'th-sort': sortColumn !== 'licenseExpirationDate'
                        }"
                        (click)="onSortData('licenseExpirationDate', 'license')"
                      >
                        Exp. Date
                      </th>
                      <th scope="col" class="text-center" style="width: 10rem">
                        ACTION
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let license of sortedLicenseItems; let i = index"
                      [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
                    >
                      <td class="align-middle">
                        <button
                          class="btn-link no-underline"
                          style="font-size: larger"
                          (click)="
                            toggleLicenseMgmt(i);
                            storeLicApptLicenseID(license.licenseID)
                          "
                          title="View License Information"
                        >
                          <span> Select </span>
                        </button>
                      </td>
                      <td class="align-middle">{{ license.licenseState }}</td>
                      <td class="align-middle">
                        {{ license.lineOfAuthority }}
                      </td>
                      <td class="align-middle">
                        {{ license.licenseStatus?.toUpperCase() }}
                      </td>
                      <td class="align-middle">
                        {{ license.employeeLicenseId }}
                      </td>
                      <td class="align-middle">{{ license.licenseName }}</td>
                      <td class="align-middle">
                        {{ license.nonResident ? "NonRes" : "Res" }}
                      </td>
                      <td class="align-middle">
                        {{ license.originalIssueDate | date : "MM/dd/yyyy" }}
                      </td>
                      <td class="align-middle">
                        {{ license.lineOfAuthIssueDate | date : "MM/dd/yyyy" }}
                      </td>
                      <td class="align-middle">
                        {{ license.licenseEffectiveDate | date : "MM/dd/yyyy" }}
                      </td>
                      <td class="align-middle">
                        {{
                          license.licenseExpirationDate | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td class="align-middle">
                        <div
                          class="d-flex align-middle justify-content-between mb-3 me-4"
                        >
                          <button
                            class="icon-edit-delete-button"
                            (click)="
                              modalService.open('modal-new-tickler');
                              onSetTypeTickler({ type: 'MEMBER', loa: null })
                            "
                            title="Tickle Member"
                          >
                            <span class="material-symbols-outlined"> 3p </span>
                          </button>
                          <button
                            class="icon-edit-delete-button"
                            (click)="
                              modalService.open('modal-new-tickler');
                              onSetTypeTickler({
                                type: 'LOA',
                                loa: license.lineOfAuthority
                              })
                            "
                            title="Tickle Line of Authority"
                          >
                            <span class="material-symbols-outlined">
                              speaker_notes
                            </span>
                          </button>
                          <button
                            class="icon-add-button me-5"
                            (click)="
                              onSetOpenLicenseID(license.employeeLicenseId);
                              agentDataService.storeLicenseAppt(
                                'INSERT',
                                license
                              );
                              storeLicApptLicenseID(license.licenseID);
                              modalService.open('modal-edit-license-appt')
                            "
                            title="Add Appointment"
                          >
                            <span class="material-symbols-outlined">
                              format_list_bulleted_add
                            </span>
                          </button>
                          <button
                            class="icon-edit-delete-button"
                            (click)="
                              onSetOpenLicenseID(license.employeeLicenseId);
                              agentDataService.storeLicenseInfo(
                                'EDIT',
                                license
                              );
                              storeLicApptLicenseID(license.licenseID);
                              modalService.open('modal-edit-license-info')
                            "
                            title="Edit License"
                          >
                            <span class="material-symbols-outlined">
                              edit
                            </span>
                          </button>
                          <button class="icon-edit-delete-button">
                            <span
                              class="material-symbols-outlined"
                              (click)="
                                onSetOpenLicenseID(license.employeeLicenseId);
                                openConfirmDialog('deleteLicense', 'License ', {
                                  employeeLicenseID: license.employeeLicenseId,
                                  employmentID: agentInfo.employmentID,
                                  licenseName: license.licenseName
                                })
                              "
                              title="Delete License"
                            >
                              delete
                            </span>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                id="appoiontment"
                class="tab-pane fade"
                [ngClass]="{ 'in active': activeTab === 'appoiontment' }"
              >
                <!-- APPOINTMENT LIST -->
                <table class="table-sm w-100">
                  <thead>
                    <tr style="background-color: whitesmoke">
                      <th scope="col">&nbsp;</th>
                      <!-- <th scope="col">State</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'licenseState',
                          'th-sort': sortColumn !== 'licenseState'
                        }"
                        (click)="onSortData('licenseState', 'appointment')"
                      >
                        State
                      </th>
                      <!-- <th scope="col">L.O.A</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'lineOfAuthority',
                          'th-sort': sortColumn !== 'lineOfAuthority'
                        }"
                        (click)="onSortData('lineOfAuthority', 'appointment')"
                      >
                        L.O.A
                      </th>
                      <!-- <th scope="col">License ID</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'employeeLicenseID',
                          'th-sort': sortColumn !== 'employeeLicenseID'
                        }"
                        (click)="onSortData('employeeLicenseID', 'appointment')"
                      >
                        License ID
                      </th>
                      <!-- <th scope="col">Status</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'appointmentStatus',
                          'th-sort': sortColumn !== 'appointmentStatus'
                        }"
                        (click)="onSortData('appointmentStatus', 'appointment')"
                      >
                        Status
                      </th>
                      <!-- <th scope="col">Co. Abv.</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'companyAbv',
                          'th-sort': sortColumn !== 'companyAbv'
                        }"
                        (click)="onSortData('companyAbv', 'appointment')"
                      >
                        Co. Abv.
                      </th>
                      <!-- <th scope="col">Car. Date</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'carrierDate',
                          'th-sort': sortColumn !== 'carrierDate'
                        }"
                        (click)="onSortData('carrierDate', 'appointment')"
                      >
                        Car. Date
                      </th>
                      <!-- <th scope="col">Eff Date</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'appointmentEffectiveDate',
                          'th-sort': sortColumn !== 'appointmentEffectiveDate'
                        }"
                        (click)="
                          onSortData('appointmentEffectiveDate', 'appointment')
                        "
                      >
                        Eff Date
                      </th>
                      <!-- <th scope="col">Exp. Date</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'appointmentExpireDate',
                          'th-sort': sortColumn !== 'appointmentExpireDate'
                        }"
                        (click)="
                          onSortData('appointmentExpireDate', 'appointment')
                        "
                      >
                        Exp. Date
                      </th>
                      <!-- <th scope="col">Term. Date</th> -->
                      <th
                        scope="col"
                        [ngClass]="{
                          'th-sort-active': sortColumn === 'appointmentTerminationDate',
                          'th-sort': sortColumn !== 'appointmentTerminationDate'
                        }"
                        (click)="
                          onSortData(
                            'appointmentTerminationDate',
                            'appointment'
                          )
                        "
                      >
                        Term. Date
                      </th>
                      <th scope="col" class="text-center" style="width: 10rem">
                        ACTION
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let appointment of sortedAppointmentItems;
                        let i = index
                      "
                      [ngClass]="{
                        'alternate-row': i % 2 !== 0,
                        'custom-row-padding': true
                      }"
                    >
                      <td class="align-middle">
                        <button
                          class="btn-link no-underline"
                          style="font-size: larger"
                          (click)="
                            toggleLicenseMgmt(i);
                            storeLicApptLicenseID(appointment.licenseID)
                          "
                          title="View Appointment Info"
                        >
                          <span> Select </span>
                        </button>
                      </td>
                      <td class="align-middle">
                        {{ appointment.licenseState }}
                      </td>
                      <td class="align-middle">
                        {{ appointment.lineOfAuthority }}
                      </td>
                      <td class="align-middle">
                        {{ appointment.employeeLicenseID }}
                      </td>
                      <td class="align-middle">
                        {{ appointment.appointmentStatus?.toUpperCase() }}
                      </td>
                      <!-- <td class="align-middle">{{ appointment.companyID }}</td> -->
                      <td class="align-middle">{{ appointment.companyAbv }}</td>
                      <td class="align-middle">
                        {{ appointment.carrierDate | date : "MM/dd/yyyy" }}
                      </td>
                      <td class="align-middle">
                        {{
                          appointment.appointmentEffectiveDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td class="align-middle">
                        {{
                          appointment.appointmentExpireDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td class="align-middle">
                        {{
                          appointment.appointmentTerminationDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td>
                        <div class="d-flex justify-content-between mb-3 me-4">
                          <button
                            class="icon-edit-delete-button"
                            (click)="
                              onSetOpenLicenseID(appointment.employeeLicenseID);
                              storeLicAppointment(appointment);
                              storeLicApptLicenseID(appointment.licenseID);
                              modalService.open('modal-edit-license-appt')
                            "
                            title="Edit Appointment"
                          >
                            <span class="material-symbols-outlined">
                              edit
                            </span>
                          </button>
                          <button class="icon-edit-delete-button">
                            <span
                              class="material-symbols-outlined"
                              (click)="
                                onSetOpenLicenseID(
                                  appointment.employeeLicenseID
                                );
                                openConfirmDialog(
                                  'deleteLicAppt',
                                  'License Appointment',
                                  {
                                    employeeAppointmentID:
                                      appointment.employeeAppointmentID,
                                    employeeLicenseID:
                                      appointment.employeeLicenseID,
                                    state: appointment.licenseState,
                                    status: appointment.appointmentStatus,
                                    loa: appointment.lineOfAuthority,
                                    coAbv: appointment.companyAbv
                                  }
                                )
                              "
                              title="Delete Appointment"
                            >
                              delete
                            </span>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal: EDIT-TM-INFO -->
<modal id="modal-edit-tm-info">
  <div class="modal-header">
    <h1 class="modal-title"><strong>Edit</strong> - Team Member Information</h1>
    <!-- <button
        type="button"
        class="btn-close"
        (click)="modalService.close()"
      ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-tm-information
          (callParentRefreshData)="onChildCallRefreshData($event)"
        ></app-edit-tm-information>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modalService.close()"
      >
        Close
      </button>
    </div> -->
</modal>

<!-- Modal: EDIT-LICAPPT-INFO -->
<modal id="modal-edit-license-appt">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeLicenseAppt }}</strong> - License
      Appointment
    </h1>
    <!-- <button
        type="button"
        class="btn-close"
        (click)="modalService.close()"
      ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-license-appointment></app-edit-license-appointment>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modalService.close()"
      >
        Close
      </button>
    </div> -->
</modal>

<!-- Modal: EDIT-LICENSE-INFO (NEW LICENSE) -->
<modal id="modal-new-license-info">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeLicenseMgmt }}</strong> - License
      Information
    </h1>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-license-info [modeCloseModal]="'NEW'"></app-edit-license-info>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: INSERT-INCENTIVE-LICENSE -->
<modal id="modal-insert-incentive-license">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>ADD</strong> - Incentive License Information
    </h1>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-insert-incentive-license
          [employeeID]="agentInfo.employeeID"
          [employmentID]="agentInfo.employmentID"
          [branchState]="workState"
        ></app-insert-incentive-license>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: INSERT-TICKLER -->
<modal id="modal-new-tickler">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ typeTickler.type }}</strong> - Tickler
    </h1>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-insert-member-loa-tickler
          [typeTickler]="typeTickler"
        ></app-insert-member-loa-tickler>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: EDIT-LICENSE-INFO (EDIT LICENSE) -->
<modal id="modal-edit-license-info">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeLicenseInfo }}</strong> - License
      Information
    </h1>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-license-info
          [isIndex]="isIndex"
          [modeCloseModal]="'EDIT'"
        ></app-edit-license-info>
      </div>
    </div>
  </div>
</modal>
