
.mat-title {
  font-size: 2rem;
}

.mat-description {
  font-size: 1.2rem;
}

.page-button {
  border-style: none;
  background-color: transparent;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.page-button:hover {
  color: grey; 
}

.appointment-edit-button {
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}

.click-effect {
  transition: transform 0.1s;
}

.click-effect:active {
  transform: scale(0.95);
  color: #ffa500;
}

.alternate-row {
  background-color: aliceblue;
}

