<div class="container app-component-container">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-start">
        <div class="col d-flex justify-content-center">
          <button
            class="btn btn-danger w-100"
            [disabled]="isLoading"
            (click)="
              openConfirmDialog('deleteAgent', 'Job Title Item', {
                teamNbr: agentInfo.jobTitle,
                id: agentInfo.geid,
                teamMemberName: agentInfo.firstName + ' ' + agentInfo.lastName
              })
            "
          >
            <span style="font-size: larger">Delete</span>
          </button>
        </div>
        <div class="col d-flex justify-content-center">
          <button
            [disabled]="isLoading"
            class="btn btn-primary w-100"
            (click)="modalService.open('modal-edit-tm-info')"
          >
            <span style="font-size: larger">Edit</span>
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="mt-5 mb-5 d-flex justify-content-center" *ngIf="isLoading">
          <div class="spinner-border text-primary"></div>
        </div>
        <div
          *ngIf="!isLoading"
          class="d-flex bg-body p-3 ms-2"
          style="
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          "
        >
          <div class="col">
            <p>
              <strong>Job Title:</strong><br />
              {{ agentInfo.jobTitle || "N/A" }}
            </p>
            <p>
              <strong>Job Date:</strong><br />
              {{ agentInfo.jobDate | date : "MM/dd/yyyy" }}
            </p>
            <div>
              <strong>Diary:</strong>
              <div>
                {{ agentInfo.diarySOEID }} -
                {{ agentInfo.diaryEntryDate | date : "MMM dd yyyy  h:mm a" }}
                <br />
                {{ agentInfo.diaryNotes }}
              </div>
            </div>
          </div>
          <div class="col">
            <p>
              <strong>Team Member Status:</strong><br />
              {{ agentInfo.employeeStatus || "N/A" }}
            </p>
            <p>
              <strong>Requires Cont. Edu:</strong><br />
              {{ agentInfo.ceRequired ? "Yes" : "No" }}
            </p>
            <p>
              <strong>Exclude From Reports:</strong><br />
              {{ agentInfo.excludeFromReports ? "Yes" : "No" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="row" *ngIf="!isLoading">
        <div class="col d-flex justify-content-end">
          <button
            class="btn btn-success"
            (click)="
              setModeLicenseMgmt('ADD');
              modalService.open('modal-edit-license-info')
            "
          >
            <span style="font-size: larger"> Insert - New License </span>
          </button>
        </div>
        <div class="col d-flex justify-content-start">
          <button
            class="btn btn-success"
            (click)="modalService.open('modal-insert-incentive-license')"
          >
            <span style="font-size: larger"> Insert - Incentive License </span>
          </button>
        </div>
      </div>
      <p style="font-size: larger; font-weight: 600" *ngIf="!isLoading">
        Agent License & Appointments:
      </p>
      <div class="mt-5 mb-5 d-flex justify-content-center" *ngIf="isLoading">
        <div class="spinner-border text-primary"></div>
      </div>
      <div
        class="div d-flex justify-content-center mt-5"
        style="font-size: larger; color: gray"
        *ngIf="!isLoading && agentInfo.agentLicenseAppointments.length === 0"
      >
        No License records found
      </div>
      <div
        class="row"
        *ngIf="!isLoading && agentInfo.agentLicenseAppointments.length !== 0"
      >
        <div class="col-md-12">
          <mat-expansion-panel
            class="mat-elevation-z4 mb-3"
            *ngFor="
              let license of agentInfo.agentLicenseAppointments;
              let i = index
            "
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="mat-title">
                  <div class="row">
                    <div class="col-md-12">
                      {{ license.licenseName }}
                    </div>
                  </div>
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div
                  *ngIf="license.licenseAppointments.length > 0"
                  class="row d-flex justify-content-end"
                >
                  {{ license.licenseAppointments.length }} appointments - Issue
                  Date: {{ license.originalIssueDate | date : "MM/dd/yyyy" }} -
                  Status: {{ license.licenseStatus }}
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="mat-description">
              <div class="row">
                <div class="col">
                  <strong>State:</strong> <br />
                  {{ license.licenseState }}
                </div>
                <div class="col">
                  <strong>ID:</strong> <br />
                  {{ license.employeeLicenseId }}
                </div>
                <div class="col">
                  <strong>Status:</strong> <br />
                  {{ license.licenseStatus }}
                </div>
                <div class="col">
                  <strong>Number:</strong> <br />
                  {{ license.licenseNumber }}
                </div>
                <div class="col">
                  <strong>Res:</strong> <br />
                  {{ license.resNoneRes ? "Yes" : "No" }}
                </div>
                <div class="col">
                  <strong>Org Issue Date:</strong> <br />
                  {{ license.originalIssueDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>LOA Issue Date:</strong> <br />
                  {{ license.lineOfAuthIssueDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>Effective Date:</strong> <br />
                  {{ license.licenseEffectiveDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col">
                  <strong>Expire Date:</strong> <br />
                  {{ license.licenseExpirationDate | date : "MM/dd/yyyy" }}
                </div>
                <div class="col d-flex justify-content-end">
                  <button
                    class="page-button appointment-edit-button click-effect"
                    (click)="
                      toggleLicenseMgmt(i);
                      storeLicApptLicenseID(license.licenseID)
                    "
                    title="View License Information"
                  >
                    <span
                      class="material-symbols-outlined"
                      style="font-size: 35px"
                    >
                      pageview
                    </span>
                  </button>
                </div>
              </div>
              <div class="row">
                <table class="table">
                  <thead>
                    <tr style="background-color: whitesmoke">
                      <th scope="col" *ngIf="appComService.isShowEditID">
                        License ID
                      </th>
                      <th scope="col">Appt ID</th>
                      <th scope="col">Status</th>
                      <th scope="col" *ngIf="appComService.isShowEditID">
                        Company ID
                      </th>
                      <th scope="col">Co. Abv.</th>
                      <th scope="col">Carrier Date</th>
                      <th scope="col">Eff. Date</th>
                      <th scope="col">Exp. Date</th>
                      <th scope="col">Term Date</th>
                      <th scope="col" class="text-center" style="width: 10rem">
                        ACTION
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let appointment of license.licenseAppointments">
                      <td *ngIf="appComService.isShowEditID">
                        {{ appointment.licenseID }}
                      </td>
                      <td>{{ appointment.employeeAppointmentID }}</td>
                      <td>{{ appointment.appointmentStatus }}</td>
                      <td *ngIf="appComService.isShowEditID">
                        {{ appointment.companyID }}
                      </td>
                      <td>{{ appointment.companyAbv }}</td>
                      <td>
                        {{ appointment.carrierDate | date : "MM/dd/yyyy" }}
                      </td>
                      <td>
                        {{
                          appointment.appointmentEffectiveDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td>
                        {{
                          appointment.appointmentExpireDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td>
                        {{
                          appointment.appointmentTerminationDate
                            | date : "MM/dd/yyyy"
                        }}
                      </td>
                      <td>
                        <div class="d-flex justify-content-between mb-3 me-4">
                          <button
                            class="icon-edit-delete-button"
                            (click)="
                              storeLicAppointment(appointment);
                              storeLicApptLicenseID(license.licenseID);
                              modalService.open('modal-edit-license-appt')
                            "
                          >
                            <span class="material-symbols-outlined">
                              edit
                            </span>
                          </button>
                          <button class="icon-edit-delete-button">
                            <span
                              class="material-symbols-outlined"
                              (click)="
                            openConfirmDialog('deleteLicAppt', 'License Appointment', {
                              employeeAppointmentID: appointment.employeeAppointmentID,
                              employeeLicenseID: appointment.employeeLicenseID,
                            })
                          "
                            >
                              delete
                            </span>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal: EDIT-TM-INFO -->
<modal id="modal-edit-tm-info">
  <div class="modal-header">
    <h1 class="modal-title"><strong>Edit</strong> - Team Member Information</h1>
    <!-- <button
        type="button"
        class="btn-close"
        (click)="modalService.close()"
      ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-tm-information (callParentRefreshData)="onChildCallRefreshData($event)"></app-edit-tm-information>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modalService.close()"
      >
        Close
      </button>
    </div> -->
</modal>

<!-- Modal: EDIT-LICAPPT-INFO -->
<modal id="modal-edit-license-appt">
  <div class="modal-header">
    <h1 class="modal-title"><strong>Edit</strong> - License Appointment</h1>
    <!-- <button
        type="button"
        class="btn-close"
        (click)="modalService.close()"
      ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-license-appointment></app-edit-license-appointment>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modalService.close()"
      >
        Close
      </button>
    </div> -->
</modal>

<!-- Modal: EDIT-LICENSE-INFO -->
<modal id="modal-edit-license-info">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeLicenseMgmt }}</strong> - License
      Information
    </h1>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-license-info></app-edit-license-info>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: INSERT-INCENTIVE-LICENSE -->
<modal id="modal-insert-incentive-license">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>ADD</strong> - Incentive License Information
    </h1>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-insert-incentive-license
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
          [branchState]="
            agentDataService.agentInformation.branchDeptStreetState ?? ''
          "
        ></app-insert-incentive-license>
      </div>
    </div>
  </div>
</modal>
