<form
  [formGroup]="licPreExamForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col" *ngIf="agentComService.modeLicPreEdu === 'EDIT' && appComService.isShowEditID">
      <div class="mb-3">
        <label for="preEducationID" class="form-label">Pre Edu ID:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="preEducationID"
          formControlName="preEducationID"
        />
      </div>
      <div class="mb-3">
        <label for="employeeLicenseID" class="form-label"
          >Employee License ID:</label
        >
        <input
          class="form-control input-size-small"
          type="text"
          id="employeeLicenseID"
          formControlName="employeeLicenseID"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <select
          class="form-select select-size-small"
          type="text"
          id="status"
          formControlName="status"
        >
          <option *ngFor="let status of preExamStatuses" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="examID" class="form-label">Exam Name:</label>
        <!-- <input
          class="form-control input-size-small"
          type="text"
          id="educationName"
          formControlName="educationName"
        /> -->
        <select
          class="form-select select-size-small"
          type="text"
          id="examID"
          formControlName="examID"
        >
          <option *ngFor="let name of preExamNames" [value]="name.value">
            {{ name.label }}
          </option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="examScheduleDate" class="form-label">Exam Scheduled:</label
        >
        <input
          class="form-control input-size-small"
          type="date"
          id="examScheduleDate"
          formControlName="examScheduleDate"
        />
      </div>
      <div class="mb-3">
        <label for="examTakenDate" class="form-label">Exam Taken:</label>
        <input
          class="form-control input-size-small"
          type="date"
          id="examTakenDate"
          formControlName="examTakenDate"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col ">
      <div class="d-flex mb-3">
        <label for="additionalNotes" class="form-label"
          >Additional Notes:</label
        >
        <!-- <input
          class="form-control input-size-small"
          type="textarea"
          id="additionalNotes"
          formControlName="additionalNotes"
        /> -->
        <textarea
          id="additionalNotes"
          name="additionalNotes"
          class="form-control"
          formControlName="additionalNotes"
          style="width: 90%"
        ></textarea>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="onCloseModal()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>
  </div>
</form>
