<div
  class="container app-component-container bg-body mb-3"
  style="
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
  "
>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row p-3">
    <div class="col">
      <p>
        <strong>EmploymentID:</strong><br />
        {{ agentInfo.employmentID || "" }}
      </p>
      <p>
        <strong>Social Security #:</strong><br />
        {{ (agentInfo.employeeSSN | ssnFormat) || "" }}
      </p>
      <p>
        <strong>Birth Date:</strong><br />
        {{
          agentInfo.dateOfBirth === "1900-01-01T00:00:00"
            ? ""
            : (agentInfo.dateOfBirth | date : "MM/dd/yyyy")
        }}
      </p>
      <p>
        <strong>Email:</strong><br />
        {{ agentInfo.email || "" }}
      </p>
    </div>
    <!-- <div class="col">
     <p>
        <strong>Home Phone:</strong><br />
        {{ agentInfo.homePhone || "N/A" }}
      </p>
      <p>
        <strong>Work Phone:</strong><br />
        {{ agentInfo.workPhone || "N/A" }}
      </p>
      <p>
        <strong>Fax Phone:</strong><br />
        {{ agentInfo.faxPhone || "N/A" }}
      </p>
    </div> -->
    <div class="col">
      <p>
        <strong>Streat Address1:</strong><br />
        {{ agentInfo.address1 || "" }}
      </p>
      <p>
        <strong>Streat Address2:</strong><br />
        {{ agentInfo.address2 || "" }}
      </p>
      <div class="d-flex justify-content-between">
        <p>
          <strong>City:</strong><br />
          {{ agentInfo.city || "" }}
        </p>
        <p style="margin-right: 10rem">
          <strong>State:</strong><br />
          {{ agentInfo.state || "" }}
        </p>
      </div>

      <p>
        <strong>Zip:</strong><br />
        {{ agentInfo.zip || "" }}
      </p>
    </div>
    <div class="col">
      <div
        class="d-flex me-5 justify-content-end"
        *ngIf="
          userAcctInfoDataService.userAcctInfo.isSuperUser ||
          userAcctInfoDataService.userAcctInfo.isQARole ||
          userAcctInfoDataService.userAcctInfo.isAdminRole ||
          userAcctInfoDataService.userAcctInfo.isTechRole
        "
      >
        <button
          class="icon-edit-delete-button"
          (click)="modalService.open('modal-edit-tm-detail')"
          title="Edit Team Member Detail"
        >
          <span class="material-symbols-outlined" style="font-size: 30px">
            edit
          </span>
        </button>
      </div>
      <p>
        <strong>License Level:</strong><br />
        {{ agentInfo.licenseLevel || "" }}
      </p>
      <p>
        <strong>License Incentive:</strong><br />
        {{ agentInfo.licenseIncentive || "" }}
      </p>
      <p>
        <strong>License Incentive Second Chance:</strong><br />
        {{ agentInfo.isLicenseincentiveSecondChance ? "Yes" : "No" }}
      </p>
    </div>
  </div>
  <div class="row bg-body p-3">
    <div class="col">
      <p style="font-size: larger; color: lightgrey">
        <strong>BRANCH/DEPARTMENT</strong>
      </p>
      <div class="row">
        <div class="col ms-3">
          <p>
            <strong>Name:</strong><br />
            {{ agentInfo.branchDeptName || "" }}
          </p>
          <div class="mb-3">
            <strong>Address:</strong>
            <div>
              {{ agentInfo.branchDeptStreet1 || "" }}
              <br />
              {{ agentInfo.branchDeptStreet2 || "" }}
            </div>
          </div>
          <p>
            <strong>City:</strong><br />
            {{ agentInfo.branchDeptStreetCity || "" }}
          </p>
          <p>
            <strong>State:</strong><br />
            {{ agentInfo.branchDeptStreetState || "" }}
          </p>
          <p>
            <strong>Zip:</strong><br />
            {{
              agentInfo.branchDeptStreetZip
                ? (agentInfo.branchDeptStreetZip | ZipFormat)
                : ""
            }}
          </p>
        </div>
        <div class="col">
          <p>
            <strong>SCORE #:</strong><br />
            {{ agentInfo.branchDeptScoreNumber || "" }}
          </p>
          <p>
            <strong>Branch/Dept #:</strong><br />
            {{ agentInfo.branchDeptNumber || "" }}
          </p>
          <p>
            <strong>Phone:</strong><br />
            {{
              agentInfo.branchDeptPhone
                ? (agentInfo.branchDeptPhone | PhoneFormat)
                : ""
            }}
          </p>
          <p>
            <strong>Fax:</strong><br />
            {{
              agentInfo.branchDeptFax
                ? (agentInfo.branchDeptFax | PhoneFormat)
                : ""
            }}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <p style="font-size: larger; color: lightgrey">
        <strong>HIERARCHY</strong>
      </p>
      <p class="p-5" *ngIf="agentInfo?.mgrHiearchy?.length === 0">
        No Heirarchy Information Available
      </p>
      <table
        class="table"
        *ngIf="
          agentInfo && agentInfo.mgrHiearchy && agentInfo.mgrHiearchy.length > 0
        "
      >
        <thead>
          <tr style="background-color: #ffa500">
            <th>Mgr. Name</th>
            <th>Mgr. Title</th>
            <!-- <th>Mgr. Dept Phone</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let manager of agentInfo.mgrHiearchy" class="no-hover-bg">
            <td>{{ manager.mgrName || "" }}</td>
            <td>{{ manager.mgrTitle || "" }}</td>
            <!-- <td>
              {{
                manager.mgrDeptPhone === "0000000000"
                  ? "N/A"
                  : (manager.mgrDeptPhone | PhoneFormat)
              }}
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal: EDIT-TM-INFO -->
<modal id="modal-edit-tm-detail">
  <div class="modal-header">
    <h1 class="modal-title"><strong>Edit</strong> - Team Member Detail</h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-tm-detail></app-edit-tm-detail>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modalService.close()"
        >
          Close
        </button>
      </div> -->
</modal>
