<div
  class="container app-component-container bg-body mb-3"
  style="
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
  "
>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row p-3">
    <div class="col">
      <p>
        <strong>EmploymentID:</strong><br />
        {{ agentInfo.employmentID || "N/A" }}
      </p>
      <p>
        <strong>Social Security #:</strong><br />
        {{ (agentInfo.employeeSSN | ssnFormat) || "N/A" }}
      </p>
      <p>
        <strong>Birth Date:</strong><br />
        {{
          agentInfo.dateOfBirth === "1900-01-01T00:00:00"
            ? "N/A"
            : (agentInfo.dateOfBirth | date : "MM/dd/yyyy")
        }}
      </p>
    </div>
    <div class="col">
      <p>
        <strong>Email:</strong><br />
        {{ agentInfo.email || "N/A" }}
      </p>
      <p>
        <strong>Home Phone:</strong><br />
        {{ agentInfo.phone || "N/A" }}
      </p>
      <p>
        <strong>Work Phone:</strong><br />
        <!-- {{ agentInfo.phone || "N/A" }} -->
        TBD...
      </p>
      <p>
        <strong>Fax Phone:</strong><br />
        <!-- {{ agentInfo.phone || "N/A" }} -->
        TBD...
      </p>
    </div>
    <div class="col">
      <p>
        <strong>Streat Address1:</strong><br />
        {{ agentInfo.address1 || "N/A" }}
      </p>
      <p>
        <strong>Streat Address2:</strong><br />
        {{ agentInfo.address2 || "N/A" }}
      </p>
      <p>
        <strong>City:</strong><br />
        {{ agentInfo.city || "N/A" }}
      </p>
      <p>
        <strong>Zip:</strong><br />
        {{ agentInfo.zip || "N/A" }}
      </p>
    </div>
    <div class="col">
      <div class="d-flex me-5 justify-content-end">
        <button
          class="icon-edit-delete-button"
          (click)="modalService.open('modal-edit-tm-detail')"
          title="Edit Team Member Detail"
        >
          <span class="material-symbols-outlined" style="font-size: 30px">
            edit
          </span>
        </button>
      </div>
      <p>
        <strong>License Level:</strong><br />
        {{ agentInfo.licenseLevel || "N/A" }}
      </p>
      <p>
        <strong>License Incentive:</strong><br />
        {{ agentInfo.licenseIncentive || "N/A" }}
      </p>
      <p>
        <strong>License Incentive Second Chance:</strong><br />
        {{ agentInfo.isLicenseincentiveSecondChance ? "Yes" : "No" }}
      </p>
    </div>
  </div>
  <div class="row bg-body p-3">
    <div class="col">
      <p style="font-size: larger; color: lightgrey">
        <strong>BRANCH/DEPARTMENT</strong>
      </p>
      <p>
        <strong>Name:</strong><br />
        {{ agentInfo.branchDeptName || "N/A" }}
      </p>
      <div class="mb-3">
        <strong>Address:</strong>
        <div>
          {{ agentInfo.branchDeptStreet1 || "N/A" }}
          <br />
          {{ agentInfo.branchDeptStreet2 || "N/A" }}
        </div>
      </div>
      <p>
        <strong>City:</strong><br />
        {{ agentInfo.branchDeptStreetCity || "N/A" }}
      </p>
      <p>
        <strong>State:</strong><br />
        {{ agentInfo.branchDeptStreetState || "N/A" }}
      </p>
    </div>
    <div class="col">
      <p style="font-size: larger; color: lightgrey">
        <strong>HIERARCHY</strong>
      </p>
      <p class="p-5" *ngIf="agentInfo?.mgrHiearchy?.length === 0">
        No Heirarchy Information Available
      </p>
      <table
        class="table"
        *ngIf="
          agentInfo && agentInfo.mgrHiearchy && agentInfo.mgrHiearchy.length > 0
        "
      >
        <thead>
          <tr style="background-color: #FFA500">
            <th>Mgr. Name</th>
            <th>Mgr. Title</th>
            <th>Mgr. Dept Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let manager of agentInfo.mgrHiearchy" class="no-hover-bg">
            <td>{{ manager.mgrName || "N/A" }}</td>
            <td>{{ manager.mgrTitle || "N/A" }}</td>
            <td>
              {{
                manager.mgrDeptPhone === "0000000000"
                  ? "N/A"
                  : (manager.mgrDeptPhone | PhoneFormat)
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal: EDIT-TM-INFO -->
<modal id="modal-edit-tm-detail">
  <div class="modal-header">
    <h1 class="modal-title"><strong>Edit</strong> - Team Member Detail</h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-tm-detail></app-edit-tm-detail>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="modalService.close()"
        >
          Close
        </button>
      </div> -->
</modal>
