<div class="container app-component-container" style="overflow-x: hidden">
  <div class="row">
    <div class="col">
      <h1 class="text-end" style="font-style: italic; color: lightgrey">
        Company Requirements
      </h1>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col">
      <label for="workState">Work State:</label><br />
      <select
        class="form-select select-size-x-small"
        type="text"
        id="workState"
        (change)="changeWorkState($event)"
      >
        <option *ngFor="let state of states" [value]="state">
          {{ state }}
        </option>
      </select>
    </div>
    <div class="col">
      <label for="residentState">Resident State:</label><br />
      <select
        class="form-select select-size-x-small"
        type="text"
        id="residentState"
        (change)="changeResidentState($event)"
        [disabled]="selectedWorkState == 'Select'"
      >
        <option *ngFor="let state of stateRes" [value]="state">
          {{ state }}
        </option>
      </select>
    </div>
    <div class="col d-flex justify-content-center align-items-end">
      <button
        class="btn btn-success button-font-size"
        type="button"
        (click)="
          adminDataService.storeCoRequirement('INSERT', null);
          modalService.open('modal-edit-co-requirement')
        "
        [disabled]="selectedWorkState == 'Select'"
      >
        Add New Company Requirement
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div class="col">
      <div *ngIf="!selectedWorkState">
        <h3 class="text-center">
          Select a Work State and/or Resident State to view the Company
        </h3>
      </div>
      <div class="d-flex justify-content-center">
        <div *ngIf="companyRequirements.length == 0 && selectedWorkState">
          <h3 class="text-center">No Company Requirements Found</h3>
        </div>
        <table class="table w-100" *ngIf="companyRequirements.length > 0">
          <thead>
            <tr class="sticky-top" style="background-color: gainsboro">
              <th scope="col" *ngIf="appComService.isShowEditID">ID</th>
              <th scope="col">Work State</th>
              <th scope="col">Res State</th>
              <th scope="col">Type</th>
              <th scope="col">Lic1</th>
              <th scope="col">Lic2</th>
              <th scope="col">Lic3</th>
              <th scope="col">Lic4</th>
              <th scope="col">Start After Date</th>
              <th scope="col">Document</th>
              <th scope="col" class="text-center">ACTION</th>
            </tr>
          </thead>
          <tbody class="bg-body">
            <tr *ngFor="let company of companyRequirements">
              <td
                class="align-middle"
                style="font-size: larger"
                *ngIf="appComService.isShowEditID"
              >
                {{ company.companyRequirementId }}
              </td>
              <td class="align-middle text-center">
                {{ company.workStateAbv }}
              </td>
              <td class="align-middle text-center">
                {{ company.resStateAbv }}
              </td>
              <td class="align-middle" style="width: max-content">
                {{ company.requirementType }}
              </td>
              <td class="align-middle" style="width: max-content">
                <div class="form-check d-flex justify-content-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="company.licLevel1"
                    disabled
                  />
                </div>
              </td>
              <td class="align-middle" style="width: max-content">
                <div class="form-check d-flex justify-content-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="company.licLevel2"
                    disabled
                  />
                </div>
              </td>
              <td class="align-middle" style="width: max-content">
                <div class="form-check d-flex justify-content-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="company.licLevel3"
                    disabled
                  />
                </div>
              </td>
              <td class="align-middle" style="width: max-content">
                <div class="form-check d-flex justify-content-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="company.licLevel4"
                    disabled
                  />
                </div>
              </td>
              <td class="align-middle" style="width: max-content">
                {{ company.startAfterDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">
                <button
                  class="btn btn-link hover-pointer"
                  (click)="fileService.downloadFile(company.document ?? '')"
                  style="font-size: medium"
                  title="Download Document"
                >
                  {{ company.document }}
                </button>
              </td>
              <td class="align-middle" style="width: 15rem">
                <div class="d-flex justify-content-between mb-3 me-4">
                  <button
                    class="icon-edit-delete-button"
                    type="button"
                    (click)="
                      adminDataService.storeCoRequirement('EDIT', company);
                      modalService.open('modal-edit-co-requirement')
                    "
                    title="Edit Company Requirement"
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <button
                    class="icon-edit-delete-button"
                    type="button"
                    title="Delete Company Requirement"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal: EDIT-CO-REQUIREMENT -->
  <modal id="modal-edit-co-requirement">
    <div class="modal-header">
      <h1 class="modal-title">
        <strong>{{ adminComService.modes.coRequirement.mode }}</strong> -
        Company Requirement
      </h1>
      <!-- <button
                type="button"
                class="btn-close"
                (click)="modalService.close()"
              ></button> -->
    </div>
    <div class="modal-body">
      <div>
        <div>
          <app-edit-co-requirement
            [workState]="selectedWorkState"
            [resState]="selectedResState"
            (callParentRefreshData)="onChildCallRefreshData()"
          ></app-edit-co-requirement>
        </div>
      </div>
    </div>
  </modal>
</div>
