<form
  [formGroup]="stateProvinceForm"
  (ngSubmit)="onSubmit()"
  class="container app-modal-container"
>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="stateProvinceAbv" class="form-label"
          >State Province Abbr:<span class="text-danger ms-1">*</span></label
        >
        <input
          class="form-control input-size-x-small"
          type="text"
          id="stateProvinceAbv"
          formControlName="stateProvinceAbv"
        />
        <div
          *ngIf="
            (stateProvinceForm.controls['stateProvinceAbv'].touched || isFormSubmitted) &&
            stateProvinceForm.controls['stateProvinceAbv'].errors &&
            stateProvinceForm.controls['stateProvinceAbv'].errors['required']
          "
          class="text-danger"
        >
          Please enter State Province Abbr
        </div>
      </div>

      <div class="mb-3">
        <label for="stateProvinceCode" class="form-label"
          >State Province Code:<span class="text-danger ms-1">*</span></label
        >
        <input
          class="form-control input-size-x-small"
          type="text"
          id="stateProvinceCode"
          formControlName="stateProvinceCode"
        />
        <div
          *ngIf="
            (stateProvinceForm.controls['stateProvinceCode'].touched || isFormSubmitted) &&
            stateProvinceForm.controls['stateProvinceCode'].errors &&
            stateProvinceForm.controls['stateProvinceCode'].errors['required']
          "
          class="text-danger"
        >
          Please enter State Code
        </div>
      </div>

      <div class="mb-3">
        <label for="stateProvinceName" class="form-label"
          >State Province Name:<span class="text-danger ms-1">*</span></label
        >
        <input
          class="form-control input-size-small"
          type="text"
          id="stateProvinceName"
          formControlName="stateProvinceName"
        />
        <div
          *ngIf="
            (stateProvinceForm.controls['stateProvinceName'].touched || isFormSubmitted) &&
            stateProvinceForm.controls['stateProvinceName'].errors &&
            stateProvinceForm.controls['stateProvinceName'].errors['required']
          "
          class="text-danger"
        >
          Please enter State Name
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country Code:<span class="text-danger ms-1">*</span></label>
        <input
          class="form-control input-size-x-small"
          type="text"
          id="country"
          formControlName="country"
        />
        <div
          *ngIf="
            (stateProvinceForm.controls['country'].touched || isFormSubmitted) &&
            stateProvinceForm.controls['country'].errors &&
            stateProvinceForm.controls['country'].errors['required']
          "
          class="text-danger"
        >
          Please Enter Country Code
        </div>
      </div>

      <div class="mb-3 mt-4">
        <input
          class="form-check-input me-2 align-middle"
          type="checkbox"
          id="isActive"
          formControlName="isActive"
        />
        <label for="isActive" class="form-label">
          State Province is Active
        </label>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label for="licenseTechID" class="form-label">License Tech:</label>
        <select
          class="form-select select-size-medium"
          type="text"
          id="licenseTechID"
          formControlName="licenseTechID"
        >
          <option *ngFor="let tech of licenseTeches" [value]="tech.value">
            {{ tech.label }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="doiName" class="form-label">DOI Name:</label>
        <input
          class="form-control input-size-medium"
          type="text"
          id="doiName"
          formControlName="doiName"
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="phone"
          formControlName="phone"
        />
      </div>
      <div class="mb-3">
        <label for="fax" class="form-label">Fax:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="fax"
          formControlName="fax"
        />
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <label for="address1" class="form-label">Address 1:</label>
        <input
          class="form-control input-size-medium"
          type="text"
          id="address1"
          formControlName="address1"
        />
      </div>
      <div class="mb-3">
        <label for="address2" class="form-label">Address 2:</label>
        <input
          class="form-control input-size-medium"
          type="text"
          id="address2"
          formControlName="address2"
        />
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="city"
          formControlName="city"
        />
      </div>
      <div class="mb-3">
        <label for="state" class="form-label">State:</label>
        <select
          class="form-select select-size-x-small"
          type="text"
          id="state"
          formControlName="state"
        >
          <option *ngFor="let state of stateProvinces" [value]="state">
            {{ state }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="zip" class="form-label">Zip:</label>
        <input
          class="form-control input-size-small"
          type="text"
          id="zip"
          formControlName="zip"
        />
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button" [disabled]="stateProvinceForm.pristine">Save</button>
    </div>
  </div>
</form>
