<div class="container app-component-container" style="overflow-x: hidden">
  <div class="d-flex justify-content-end">
    <button
      class="icon-toggle-button"
      style="padding-bottom: 3rem; padding-right: 2.5rem"
      (click)="onToggleView()"
      [title]="!isLegacyView ? 'Toggle Legacy View' : 'Toggle Panel View'"
    >
      <span class="material-symbols-outlined" style="font-size: 35px">
        list_alt
      </span>
    </button>
  </div>
  <!-- LEGACY View -->
  <div class="row" *ngIf="isLegacyView">
    <!-- COMPANY REQUIREMENTS HISTORY -->
    <div class="row">
      <div
        class="col panel-default"
        style="
          padding: 1rem;
          border: 1px solid #e0e0e0;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        "
      >
        <div class="d-flex justify-content-between">
          <span
            class="mt-3 mb-3"
            style="font-size: large; color: black; font-weight: 500"
            >Employment History</span
          >
          <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
          <!-- <button
            class="btn btn-success button-font-size mb-3"
            (click)="
              agentDataService.storeEmploymentTransferHistory('INSERT', null);
              modalService.open('modal-edit-emp-history')
            "
          >
            Insert - Employment History
          </button> -->
        </div>
        <div
          class="div d-flex justify-content-center mb-3"
          style="font-size: larger; color: gray"
          *ngIf="employmentHistory.length === 0"
        >
          No records found
        </div>
        <table class="table-sm w-100" *ngIf="employmentHistory.length !== 0">
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col" *ngIf="appComService.isShowEditID">History ID</th>
              <th scope="col">Hire Date</th>
              <th scope="col">Rehire Date</th>
              <th scope="col">Notified Term Date</th>
              <th scope="col">HR Term Date</th>
              <th scope="col">HR Term Code</th>
              <th scope="col">For Cause</th>
              <th scope="col">Background Check Status</th>
              <th scope="col">Background Check Notes</th>
              <th scope="col">Is Current</th>
              <th
                scope="col"
                class="text-center"
                style="width: 10rem"
                *ngIf="
                  userInfoDataService.userAcctInfo.isSuperUser ||
                  userInfoDataService.userAcctInfo.isQARole ||
                  userInfoDataService.userAcctInfo.isAdminRole ||
                  userInfoDataService.userAcctInfo.isTechRole
                "
              >
                ACTION
              </th>
            </tr>
          </thead>
          <tbody class="tbody" style="background-color: white">
            <tr
              *ngFor="let emp of employmentHistory; let i = index"
              [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
            >
              <td class="align-middle" *ngIf="appComService.isShowEditID">
                {{ emp.employmentHistoryID }}
              </td>
              <td class="align-middle">
                {{ emp.hireDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">
                {{ emp.rehireDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">
                {{ emp.notifiedTermDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">
                {{ emp.hrTermDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">{{ emp.hrTermCode }}</td>
              <td class="align-middle">
                {{ emp.isForCause ? "Yes" : "No" }}
              </td>
              <td class="align-middle">
                {{ emp.backgroundCheckStatus.toUpperCase() }}
              </td>
              <td class="align-middle">{{ emp.backGroundCheckNotes }}</td>
              <td class="align-middle">
                {{ emp.isCurrent ? "Yes" : "No" }}
              </td>
              <td
                style="width: 10rem"
                *ngIf="
                  userInfoDataService.userAcctInfo.isSuperUser ||
                  userInfoDataService.userAcctInfo.isQARole ||
                  userInfoDataService.userAcctInfo.isAdminRole
                "
              >
                <div class="d-flex justify-content-center mb-3 me-4">
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      agentDataService.storeEmploymentTransferHistory(
                        'EDIT',
                        emp
                      );
                      modalService.open('modal-edit-emp-history')
                    "
                    title="Edit Employment History"
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
                  <!-- <button
                    class="icon-edit-delete-button"
                    (click)="
                      onOpenConfirmDialog(
                        'deleteEmploymentHistory',
                        'Employment History Item',
                        emp
                      )
                    "
                    title="Delete Employment History"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- TRANSFER HISTORY -->
    <div class="row mt-2">
      <div
        class="col panel-default"
        style="
          padding: 1rem;
          border: 1px solid #e0e0e0;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        "
      >
        <div class="d-flex justify-content-between">
          <span
            class="mt-3 mb-3"
            style="font-size: large; color: black; font-weight: 500"
            >Transfer History</span
          >
          <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
          <!-- <button
            class="btn btn-success button-font-size"
            (click)="
              agentDataService.storeTransferHistory('INSERT', null);
              modalService.open('modal-edit-tran-history')
            "
          >
            Insert - Transfer History
          </button> -->
        </div>
        <div
          class="div d-flex justify-content-center mb-3"
          style="font-size: larger; color: gray"
          *ngIf="transferHistory.length === 0"
        >
          No records found
        </div>
        <table class="table-sm w-100" *ngIf="transferHistory.length !== 0">
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col">Branch Code</th>
              <th scope="col">Res. St. Code</th>
              <th scope="col">Work St. Code</th>
              <th scope="col">Trans. Date</th>
              <th scope="col">Is Current</th>
              <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
              <!-- <th scope="col" class="text-center" style="width: 10rem">
                ACTION
              </th> -->
            </tr>
          </thead>
          <tbody class="tbody" style="background-color: white">
            <tr
              *ngFor="let transfer of transferHistory; let i = index"
              [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
            >
              <td class="align-middle">
                {{ transfer.branchCode }}
              </td>
              <td class="align-middle">
                {{ transfer.resStateAbv }}
              </td>
              <td class="align-middle">
                {{ transfer.workStateAbv }}
              </td>
              <td class="align-middle">
                {{ transfer.transferDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">
                {{ transfer.isCurrent ? "Yes" : "NO" }}
              </td>
              <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
              <!-- <td style="width: 10rem">
                <div class="d-flex justify-content-between mb-3 me-4">
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      agentDataService.storeTransferHistory('EDIT', transfer);
                      modalService.open('modal-edit-tran-history')
                    "
                    title="Edit Transfer History"
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      onOpenConfirmDialog(
                        'deleteTransferHistory',
                        'Transfer History Item',
                        transfer
                      )
                    "
                    title="Delete Transfer History"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- COMPANY REQUIREMENTS HISTORY -->
    <div class="row mt-2">
      <div
        class="col panel-default"
        style="
          padding: 1rem;
          border: 1px solid #e0e0e0;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        "
      >
        <div class="d-flex justify-content-between">
          <span
            class="ms-1 mt-3"
            style="
              font-size: large;
              color: black;
              font-weight: 500;
              padding: 0.5rem;
            "
            >Co. Requirement History</span
          >
          <button
            *ngIf="
              userInfoDataService.userAcctInfo.isSuperUser ||
              userInfoDataService.userAcctInfo.isQARole ||
              userInfoDataService.userAcctInfo.isAdminRole
            "
            class="btn btn-success button-font-size mb-3"
            (click)="
              agentDataService.storeCompanyRequirementsHistory('INSERT', null);
              modalService.open('modal-edit-co-req-history')
            "
          >
            Insert - Co. Requirement
          </button>
        </div>
        <div
          class="div d-flex justify-content-center mb-3"
          style="font-size: larger; color: gray"
          *ngIf="companyRequirementsHistory.length === 0"
        >
          No records found
        </div>
        <table
          class="table-sm w-100"
          *ngIf="companyRequirementsHistory.length !== 0"
        >
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col">Asset Title</th>
              <th scope="col">Status</th>
              <th scope="col">Comp. Date</th>
              <th scope="col" class="text-center" style="width: 10rem">
                ACTION
              </th>
            </tr>
          </thead>
          <tbody class="tbody" style="background-color: white">
            <tr
              *ngFor="let coReq of companyRequirementsHistory; let i = index"
              [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
            >
              <td class="align-middle">
                {{ coReq.assetTitle }}
              </td>
              <td class="align-middle">
                {{ coReq.learningProgramStatus.toUpperCase() }}
              </td>
              <td class="align-middle">
                {{ coReq.learningProgramCompletionDate | date : "MM/dd/yyyy" }}
              </td>

              <td style="width: 10rem">
                <div class="d-flex justify-content-center mb-3 me-4">
                  <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
                  <!-- <button
                    class="icon-edit-delete-button"
                    (click)="
                      agentDataService.storeCompanyRequirementsHistory(
                        'EDIT',
                        coReq
                      );
                      modalService.open('modal-edit-co-req-history')
                    "
                    title="Edit Co. Requirement"
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>  -->
                  <button
                    *ngIf="
                      (userInfoDataService.userAcctInfo.isSuperUser ||
                      userInfoDataService.userAcctInfo.isQARole ||
                      userInfoDataService.userAcctInfo.isAdminRole) &&
                      coReq.assetTitle === ''
                    "
                    class="icon-edit-delete-button"
                    (click)="
                      onOpenConfirmDialog(
                        'deleteCoRequirementItem',
                        'Co. RequirementItem',
                        coReq
                      )
                    "
                    title="Delete Co. Requirement"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- JOB TITLE HISTORY -->
    <div class="row mt-2">
      <div
        class="col panel-default"
        style="
          padding: 1rem;
          border: 1px solid #e0e0e0;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        "
      >
        <div class="d-flex justify-content-between">
          <span
            class="mt-3 mb-3"
            style="font-size: large; color: black; font-weight: 500"
            >Job Title History</span
          >
          <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
          <!-- <button
            class="btn btn-success button-font-size"
            (click)="
              agentDataService.storeEmploymentJobTitleHistory('INSERT', null);
              modalService.open('modal-edit-jobTitle-history')
            "
          >
            Insert - Job Title
          </button> -->
        </div>
        <div
          class="div d-flex justify-content-center mb-3"
          style="font-size: larger; color: gray"
          *ngIf="employmentJobTitleHistory.length === 0"
        >
          No records found
        </div>
        <table
          class="table-sm w-100"
          *ngIf="employmentJobTitleHistory.length !== 0"
        >
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col">JobTitle Date</th>
              <th scope="col">Job Title</th>
              <th scope="col">Job Code</th>
              <th scope="col">Is Current</th>
              <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
              <!-- <th scope="col" class="text-center" style="width: 10rem">
                ACTION
              </th> -->
            </tr>
          </thead>
          <tbody class="tbody" style="background-color: white">
            <tr
              *ngFor="let jobTitle of employmentJobTitleHistory; let i = index"
              [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
            >
              <td class="align-middle">
                {{ jobTitle.jobTitleDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">
                {{ jobTitle.jobTitle }}
              </td>
              <td class="align-middle">
                {{ jobTitle.jobCode }}
              </td>
              <td class="align-middle">
                {{ jobTitle.isCurrent ? "Yes" : "No" }}
              </td>
              <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
              <!-- <td style="width: 10rem">
                <div class="d-flex justify-content-between mb-3 me-4">
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      agentDataService.storeEmploymentJobTitleHistory(
                        'EDIT',
                        jobTitle
                      );
                      modalService.open('modal-edit-jobTitle-history')
                    "
                    title="Edit Job Title"
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      onOpenConfirmDialog(
                        'deleteJobTitleItem',
                        'Job Title Item',
                        jobTitle
                      )
                    "
                    title="Delete Job Title"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- PANEL View -->
  <div class="row" *ngIf="!isLegacyView">
    <!-- EMPLOYMENT HISTORY -->
    <mat-expansion-panel class="mat-elevation-z4 mt-3 mb-3" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="app-panel-title mt-3">
            <h2>Employment History</h2>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          {{ employmentHistory.length }} - record(s) found
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="mat-description">
        <div class="row mb-3">
          <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
          <!-- <div class="col">
            <button
              class="btn btn-success button-font-size"
              (click)="
                agentDataService.storeEmploymentTransferHistory('INSERT', null);
                modalService.open('modal-edit-emp-history')
              "
            >
              Insert - Employment History
            </button>
          </div>  -->
        </div>
        <div
          class="div d-flex justify-content-center mt-5"
          style="font-size: larger; color: gray"
          *ngIf="employmentHistory.length === 0"
        >
          No records found
        </div>
        <div class="row" *ngIf="employmentHistory.length !== 0">
          <div class="col">
            <table class="table-sm w-100">
              <thead>
                <tr style="background-color: whitesmoke">
                  <th scope="col" *ngIf="appComService.isShowEditID">
                    History ID
                  </th>
                  <th scope="col">Hire Date</th>
                  <th scope="col">Rehire Date</th>
                  <th scope="col">Notified Term Date</th>
                  <th scope="col">HR Term Date</th>
                  <th scope="col">HR Term Code</th>
                  <th scope="col">For Cause</th>
                  <th scope="col">Background Check Status</th>
                  <th scope="col">Background Check Notes</th>
                  <th scope="col">Is Current</th>
                  <th
                    scope="col"
                    class="text-center"
                    style="width: 10rem"
                    *ngIf="
                      userInfoDataService.userAcctInfo.isSuperUser ||
                      userInfoDataService.userAcctInfo.isQARole ||
                      userInfoDataService.userAcctInfo.isAdminRole
                    "
                  >
                    ACTION
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let emp of employmentHistory"> -->
                <tr
                  *ngFor="let emp of employmentHistory; let i = index"
                  [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
                >
                  <td class="align-middle" *ngIf="appComService.isShowEditID">
                    {{ emp.employmentHistoryID }}
                  </td>
                  <td class="align-middle">
                    {{ emp.hireDate | date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">
                    {{ emp.rehireDate | date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">
                    {{ emp.notifiedTermDate | date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">
                    {{ emp.hrTermDate | date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">{{ emp.hrTermCode }}</td>
                  <td class="align-middle">
                    <!-- {{ emp.isForCause ? "Yes" : "No" }} -->
                    <input
                      type="checkbox"
                      [checked]="emp.isForCause"
                      disabled
                    />
                  </td>
                  <td class="align-middle">
                    {{ emp.backgroundCheckStatus.toUpperCase() }}
                  </td>
                  <td class="align-middle">{{ emp.backGroundCheckNotes }}</td>
                  <td class="align-middle">
                    <!-- {{ emp.isCurrent ? "Yes" : "No" }} -->
                    <input type="checkbox" [checked]="emp.isCurrent" disabled />
                  </td>
                  <td
                    style="width: 10rem"
                    *ngIf="
                      userInfoDataService.userAcctInfo.isSuperUser ||
                      userInfoDataService.userAcctInfo.isQARole ||
                      userInfoDataService.userAcctInfo.isAdminRole ||
                      userInfoDataService.userAcctInfo.isTechRole
                    "
                  >
                    <div class="d-flex justify-content-center mb-3 me-4">
                      <button
                        class="icon-edit-delete-button"
                        (click)="
                          agentDataService.storeEmploymentTransferHistory(
                            'EDIT',
                            emp
                          );
                          modalService.open('modal-edit-emp-history')
                        "
                        title="Edit Employment History"
                      >
                        <span class="material-symbols-outlined"> edit </span>
                      </button>
                      <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
                      <!-- <button
                        class="icon-edit-delete-button"
                        (click)="
                          onOpenConfirmDialog(
                            'deleteEmploymentHistory',
                            'Employment History Item',
                            emp
                          )
                        "
                        title="Delete Employment History"
                      >
                        <span class="material-symbols-outlined"> delete </span>
                      </button> -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- TRANSFER HISTORY -->
    <mat-expansion-panel class="mat-elevation-z4 mb-3" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="app-panel-title mt-3">
            <h2>Transfer History</h2>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          {{ transferHistory.length }} - record(s) found
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="mat-description">
        <div class="row mb-3">
          <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
          <!-- <div class="col">
            <button
              class="btn btn-success button-font-size"
              (click)="
                agentDataService.storeTransferHistory('INSERT', null);
                modalService.open('modal-edit-tran-history')
              "
            >
              Insert - Transfer History
            </button>
          </div> -->
        </div>
        <div
          class="div d-flex justify-content-center mt-5"
          style="font-size: larger; color: gray"
          *ngIf="transferHistory.length === 0"
        >
          No records found
        </div>
        <div class="row" *ngIf="transferHistory.length !== 0">
          <table class="table-sm">
            <thead>
              <tr style="background-color: whitesmoke">
                <th scope="col" *ngIf="appComService.isShowEditID">
                  Trans. ID
                </th>
                <th scope="col">Branch Code</th>
                <th scope="col">Res. St. Code</th>
                <th scope="col">Work St. Code</th>
                <th scope="col">Trans. Date</th>
                <th scope="col">Is Current</th>
                <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
                <!-- <th scope="col" class="text-center" style="width: 10rem">
                  ACTION
                </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let transfer of transferHistory"> -->
              <tr
                *ngFor="let transfer of transferHistory; let i = index"
                [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
              >
                <td class="align-middle" *ngIf="appComService.isShowEditID">
                  {{ transfer.transferHistoryID }}
                </td>
                <td class="align-middle">
                  {{ transfer.branchCode }}
                </td>
                <td class="align-middle">
                  {{ transfer.resStateAbv }}
                </td>
                <td class="align-middle">
                  {{ transfer.workStateAbv }}
                </td>
                <td class="align-middle">
                  {{ transfer.transferDate | date : "MM/dd/yyyy" }}
                </td>
                <td class="align-middle">
                  {{ transfer.isCurrent ? "Yes" : "NO" }}
                </td>
                <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
                <!-- <td style="width: 10rem">
                  <div class="d-flex justify-content-between mb-3 me-4">
                    <button
                      class="icon-edit-delete-button"
                      (click)="
                        agentDataService.storeTransferHistory('EDIT', transfer);
                        modalService.open('modal-edit-tran-history')
                      "
                      title="Edit Transfer History"
                    >
                      <span class="material-symbols-outlined"> edit </span>
                    </button>
                    <button
                      class="icon-edit-delete-button"
                      (click)="
                        onOpenConfirmDialog(
                          'deleteTransferHistory',
                          'Transfer History Item',
                          transfer
                        )
                      "
                      title="Delete Transfer History"
                    >
                      <span class="material-symbols-outlined"> delete </span>
                    </button>
                  </div>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- COMPANY REQUIREMENTS HISTORY -->
    <mat-expansion-panel class="mat-elevation-z4 mb-3" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="app-panel-title mt-3">
            <h2>Company Requirements History</h2>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          {{ companyRequirementsHistory.length }} - record(s) found
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="mat-description">
        <div class="row mb-3">
          <div class="col">
            <button
              *ngIf="
                userInfoDataService.userAcctInfo.isSuperUser ||
                userInfoDataService.userAcctInfo.isQARole ||
                userInfoDataService.userAcctInfo.isAdminRole ||
                userInfoDataService.userAcctInfo.isTechRole
              "
              class="btn btn-success button-font-size"
              (click)="
                agentDataService.storeCompanyRequirementsHistory(
                  'INSERT',
                  null
                );
                modalService.open('modal-edit-co-req-history')
              "
            >
              Insert - Co. Requirement
            </button>
          </div>
        </div>
        <div
          class="div d-flex justify-content-center mt-5"
          style="font-size: larger; color: gray"
          *ngIf="companyRequirementsHistory.length === 0"
        >
          No records found
        </div>
        <div class="row" *ngIf="companyRequirementsHistory.length !== 0">
          <table class="table-sm">
            <thead>
              <tr style="background-color: whitesmoke">
                <th scope="col" *ngIf="appComService.isShowEditID">
                  Emp. Co. Req. ID
                </th>
                <th scope="col">Asset Title</th>
                <th scope="col">Status</th>
                <th scope="col">Comp. Date</th>
                <th scope="col" class="text-center" style="width: 10rem">
                  ACTION
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let coReq of companyRequirementsHistory"> -->
              <tr
                *ngFor="let coReq of companyRequirementsHistory; let i = index"
                [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
              >
                <td class="align-middle" *ngIf="appComService.isShowEditID">
                  {{ coReq.employmentCompanyRequirementID }}
                </td>
                <td class="align-middle">
                  {{ coReq.assetTitle }}
                </td>
                <td class="align-middle">
                  {{ coReq.learningProgramStatus.toUpperCase() }}
                </td>
                <td class="align-middle">
                  {{
                    coReq.learningProgramCompletionDate | date : "MM/dd/yyyy"
                  }}
                </td>
                <td style="width: 10rem">
                  <div class="d-flex justify-content-center mb-3 me-4">
                    <!-- <button
                      class="icon-edit-delete-button"
                      (click)="
                        agentDataService.storeCompanyRequirementsHistory(
                          'EDIT',
                          coReq
                        );
                        modalService.open('modal-edit-co-req-history')
                      "
                      title="Edit Co. Requirement"
                    >
                      <span class="material-symbols-outlined"> edit </span>
                    </button>  -->
                    <button
                      class="icon-edit-delete-button"
                      *ngIf="
                        (userInfoDataService.userAcctInfo.isSuperUser ||
                        userInfoDataService.userAcctInfo.isQARole ||
                        userInfoDataService.userAcctInfo.isAdminRole ||
                        userInfoDataService.userAcctInfo.isTechRole) &&
                        coReq.assetTitle === ''
                      "
                    >
                      <span
                        class="material-symbols-outlined"
                        (click)="
                          onOpenConfirmDialog(
                            'deleteCoRequirementItem',
                            'Company Requirement Item',
                            coReq
                          )
                        "
                        title="Delete Co. Requirement"
                      >
                        delete
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- JOB TITLE HISTORY -->
    <mat-expansion-panel class="mat-elevation-z4 mb-3" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="app-panel-title mt-3">
            <h2>Job Title History</h2>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          {{ employmentJobTitleHistory.length }} - record(s) found
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row mb-3">
        <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
        <!-- <div class="col">
          <button
            class="btn btn-success button-font-size"
            (click)="
              agentDataService.storeEmploymentJobTitleHistory('INSERT', null);
              modalService.open('modal-edit-jobTitle-history')
            "
          >
            Insert - Job Title
          </button>
        </div> -->
      </div>
      <div
        class="div d-flex justify-content-center mt-5"
        style="font-size: larger; color: gray"
        *ngIf="employmentJobTitleHistory.length === 0"
      >
        No records found
      </div>
      <div class="row" *ngIf="employmentJobTitleHistory.length !== 0">
        <table class="table-sm">
          <thead>
            <tr style="background-color: whitesmoke">
              <th scope="col" *ngIf="appComService.isShowEditID">
                Emp. JobTitle ID
              </th>
              <th scope="col">JobTitle Date</th>
              <th scope="col">Job Title</th>
              <th scope="col">Job Code</th>
              <th scope="col">Is Current</th>
              <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
              <!-- <th scope="col" class="text-center" style="width: 10rem">
                ACTION
              </th> -->
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let jobTitle of employmentJobTitleHistory"> -->
            <tr
              *ngFor="let jobTitle of employmentJobTitleHistory; let i = index"
              [ngClass]="{ 'alternate-row': i % 2 !== 0 }"
            >
              <td class="align-middle" *ngIf="appComService.isShowEditID">
                {{ jobTitle.employmentJobTitleID }}
              </td>
              <td class="align-middle">
                {{ jobTitle.jobTitleDate | date : "MM/dd/yyyy" }}
              </td>
              <td class="align-middle">
                {{ jobTitle.jobTitle }}
              </td>
              <td class="align-middle">
                {{ jobTitle.jobCode }}
              </td>
              <td class="align-middle">
                {{ jobTitle.isCurrent ? "Yes" : "No" }}
              </td>
              <!-- REMOVED Due to License Techs not having Authority to INSERT, UPDATE or DELETE -->
              <!-- <td style="width: 10rem">
                <div class="d-flex justify-content-between mb-3 me-4">
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      agentDataService.storeEmploymentJobTitleHistory(
                        'EDIT',
                        jobTitle
                      );
                      modalService.open('modal-edit-jobTitle-history')
                    "
                    title="Edit Job Title"
                  >
                    <span class="material-symbols-outlined"> edit </span>
                  </button>
                  <button
                    class="icon-edit-delete-button"
                    (click)="
                      onOpenConfirmDialog(
                        'deleteJobTitleItem',
                        'Job Title Item',
                        jobTitle
                      )
                    "
                    title="Delete Job Title"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<!-- Modal: EDIT-EMP-TRAN-HISTORY -->
<modal id="modal-edit-emp-history">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeEmploymentHist }}</strong> - Employment
      History
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-employment-hist
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
        ></app-edit-employment-hist>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: EDIT-TRAN-HISTORY -->
<modal id="modal-edit-tran-history">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeTransferHist }}</strong> - Transfer History
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-transfer-hist
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
        ></app-edit-transfer-hist>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: EDIT-CO-REQ-HISTORY -->
<modal id="modal-edit-co-req-history">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeCompanyRequirementsHist }}</strong> -
      Company Requirement History
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-corequirement-hist
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
        ></app-edit-corequirement-hist>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: EDIT-JOBTITLE-HISORY -->
<modal id="modal-edit-jobTitle-history">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeEmploymentJobTitleHist }}</strong> - Job
      Title History
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-jobtitle-hist
          [employeeID]="agentDataService.agentInformation.employeeID"
          [employmentID]="agentDataService.agentInformation.employmentID"
        ></app-edit-jobtitle-hist>
      </div>
    </div>
  </div>
</modal>
