<div>
  <input #filename type="text" placeholder="Enter filename" />
  <button
    (click)="
      loadFile(
        '\\\\CORP.FIN\\shared\\OMS\\licensing\\OneTrakDocuments\\StateNewStartPDFs\\',
        'AL.pdf'
      )
    "
  >
    Load File
  </button>
  <button
    (click)="
      viewPdfFile(
        '\\\\CORP.FIN\\shared\\OMS\\licensing\\OneTrakDocuments\\StateNewStartPDFs\\',
        'AL.pdf'
      )
    "
  >
    View
  </button>
  <button
    (click)="
      downloadFile(
        '\\\\CORP.FIN\\shared\\OMS\\licensing\\OneTrakDocuments\\StateNewStartPDFs\\',
        'AL.pdf'
      )
    "
  >
    Download
  </button>
</div>

<div *ngIf="fileContent">
  <h3>File Content:</h3>
  <pre>{{ fileContent }}</pre>
</div>

<div *ngIf="pdfSrc">
  <h3>PDF Viewer:</h3>
  <iframe [src]="pdfSrc" width="100%" height="600px"></iframe>
</div>
