<div class="container" style="margin-left: 1rem; margin-right: 1rem">
  <div class="row w-100">
    <div class="col">
      <h1
        class="text-end"
        style="font-style: italic; color: lightgrey; margin-right: 1rem"
      >
        State License Requirements
      </h1>
    </div>
  </div>
  <div class="row mt-5 mb-3">
    <div class="col">
      <label for="workState">Work State:</label><br />
      <select
        class="form-select select-size-x-small"
        type="text"
        id="workState"
        (change)="changeWorkState($event)"
      >
        <option *ngFor="let state of workStates" [value]="state">
          {{ state }}
        </option>
      </select>
    </div>
    <div class="col">
      <label for="residentState">Resident State:</label><br />
      <select
        class="form-select select-size-x-small"
        type="text"
        id="residentState"
        (change)="changeResidentState($event)"
        [disabled]="selectedWorkState == 'Select'"
      >
        <option *ngFor="let state of residentStates" [value]="state">
          {{ state }}
        </option>
      </select>
    </div>
    <div class="col d-flex justify-content-end align-items-end">
      <button
        class="btn btn-success button-font-size"
        type="button"
        (click)="
          adminDataService.storeStateRequirement('INSERT', null);
          modalService.open('modal-edit-state-requirement')
        "
      >
        Add New State Requirement
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row mt-4">
    <div class="col">
      <div class="table w-100" *ngIf="stateRequirements.length > 0">
        <thead>
          <tr class="sticky-top" style="background-color: gainsboro">
            <th scope="col" *ngIf="appComService.isShowEditID">ID</th>
            <th scope="col">Work</th>
            <th scope="col">Res</th>
            <th scope="col">Lic Name</th>
            <th scope="col">State</th>
            <th scope="col">Lic1</th>
            <th scope="col">Lic2</th>
            <th scope="col">Lic3</th>
            <th scope="col">Lic4</th>
            <th scope="col">PLS 1</th>
            <th scope="col">2 Plus</th>
            <th scope="col" colspan="2">Documents</th>
            <th scope="col" class="text-center">ACTION</th>
          </tr>
        </thead>
        <tbody class="bg-body">
          <tr *ngFor="let stateReq of stateRequirements">
            <td
              class="align-middle"
              *ngIf="appComService.isShowEditID"
              style="font-size: larger"
            >
              {{ stateReq.requiredLicenseId }}
            </td>
            <td class="align-middle text-center">
              {{ stateReq.workStateAbv }}
            </td>
            <td class="align-middle text-center">
              {{ stateReq.resStateAbv }}
            </td>
            <td class="align-middle" style="width: max-content">
              {{ stateReq.licenseName }}
            </td>
            <td class="align-middle text-center" style="width: max-content">
              {{ stateReq.licState }}
            </td>
            <td class="align-middle" style="width: max-content">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="stateReq.licLevel1"
                  disabled
                />
              </div>
            </td>
            <td class="align-middle" style="width: max-content">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="stateReq.licLevel2"
                  disabled
                />
              </div>
            </td>
            <td class="align-middle" style="width: max-content">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="stateReq.licLevel3"
                  disabled
                />
              </div>
            </td>
            <td class="align-middle" style="width: max-content">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="stateReq.licLevel4"
                  disabled
                />
              </div>
            </td>
            <td class="align-middle" style="width: max-content">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="stateReq.plS_Incentive1"
                  disabled
                />
              </div>
            </td>
            <td class="align-middle" style="width: max-content">
              <div class="form-check d-flex justify-content-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [checked]="stateReq.incentive2_Plus"
                  disabled
                />
              </div>
            </td>
            <td
              class="justify-content-start align-middle text-left"
              colspan="2"
            >
              <div class="d-flex justify-content-start">
                <!-- <a [href]= "stateReq.startDocument" target="_blank" style="font-size: medium;" >{{ stateReq.startDocument }}</a> -->
                <button
                  class="btn btn-link hover-pointer"
                  (click)="fileService.downloadFile(stateReq.startDocument)"
                  style="font-size: medium"
                  title="Download Document"
                >
                  {{ stateReq.startDocument }}
                </button>
              </div>
              <div class="d-flex justify-content-start">
                <!-- <a [href]= "stateReq.renewalDocument" target="_blank" style="font-size: medium;" >{{ stateReq.renewalDocument }}</a> -->
                <button
                  class="btn btn-link hover-pointer"
                  (click)="fileService.downloadFile(stateReq.renewalDocument)"
                  style="font-size: medium"
                  title="Download Document"
                >
                  {{ stateReq.renewalDocument }}
                </button>
              </div>
            </td>
            <td class="align-middle" style="width: 10rem">
              <div class="d-flex justify-content-between mb-3 me-4">
                <button
                  class="icon-edit-delete-button"
                  type="button"
                  (click)="
                    adminDataService.storeStateRequirement('EDIT', stateReq);
                    modalService.open('modal-edit-state-requirement')
                  "
                >
                  <span class="material-symbols-outlined"> edit </span>
                </button>
                <button class="icon-edit-delete-button" type="button">
                  <span
                    class="material-symbols-outlined"
                    (click)="
                      openConfirmDialog(
                        'deletelicenseReq',
                        'LicenseRequirement',
                        stateReq
                      )
                    "
                  >
                    delete
                  </span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>

<!-- Modal: EDIT-STATE-REQUIREMENT -->
<modal id="modal-edit-state-requirement">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ adminComService.modes.stateRequirement.mode }}</strong> - State
      Requirement
    </h1>
    <!-- <button
                  type="button"
                  class="btn-close"
                  (click)="modalService.close()"
                ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-state-requirement
          [stateProvinces]="workStates"
          (callParentRefreshData)="onChildCallRefreshData()"
        ></app-edit-state-requirement>
      </div>
    </div>
  </div>
</modal>
