<div class="container app-component-container">
  <div class="row">
    <div
      class="col d-flex justify-content-start mt-4"
      style="font-size: larger"
    >
      <strong style="margin-right: 1rem">License Name:</strong
      >{{ licenseMgmtData[currentIndex].licenseName }}
    </div>

    <div class="col d-flex justify-content-center mb-3 mt-1">
      <button
        class="btn btn-link page-button mb-5"
        *ngIf="isDisplayPrevious()"
        (click)="previousPage()"
      >
        <span class="material-symbols-outlined"> arrow_back_ios </span></button
      ><span class="page-info">{{ getPageInfo() }}</span>
      <button
        class="btn btn-link page-button mb-5"
        *ngIf="isDisplayNext()"
        (click)="nextPage()"
      >
        <span class="material-symbols-outlined"> arrow_forward_ios </span>
      </button>
    </div>

    <div class="col d-flex justify-content-end me-5">
      <button
        class="edit-button me-5"
        (click)="
          setModeLicenseMgmt('EDIT');
          modalService.open('modal-edit-license-info')
        "
      >
        <span class="material-symbols-outlined"> edit </span>
      </button>
      <button class="edit-button">
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </div>
  </div>
  <div class="row bg-body p-3 rounded">
    <div class="col">
      <p>
        <strong>License ID:</strong> <br />
        {{ licenseMgmtData[currentIndex].employeeLicenseId }}
      </p>
      <p>
        <strong>Status:</strong> <br />
        {{ licenseMgmtData[currentIndex].licenseStatus }}
      </p>
      <p>
        <strong>Number:</strong> <br />
        {{ licenseMgmtData[currentIndex].licenseNumber }}
      </p>
    </div>

    <div class="col">
      <p>
        <strong>Affilliated License:</strong> <br />
        <!-- {{ licenseMgmtData[currentIndex].licenseStatus }} -->
        TBD...
      </p>
      <p>
        <strong>Notes:</strong> <br />
        <!-- {{ licenseMgmtData[currentIndex].licenseStatus }} -->
        TBD...
      </p>
    </div>

    <div class="col">
      <p>
        <strong>Required:</strong> <br />
        <!-- {{ licenseMgmtData[currentIndex].resNoneRes ? "Yes" : "No" }} -->
        TBD...
      </p>
      <p>
        <strong>Reinstatement:</strong> <br />
        <!-- {{ licenseMgmtData[currentIndex].resNoneRes ? "Yes" : "No" }} -->
        TBD...
      </p>
      <p>
        <strong>Non-Resident:</strong> <br />
        {{ licenseMgmtData[currentIndex].resNoneRes ? "Yes" : "No" }}
      </p>
    </div>

    <div class="col">
      <p>
        <strong>Org Issue Date:</strong> <br />
        {{
          licenseMgmtData[currentIndex].originalIssueDate | date : "MM/dd/yyyy"
        }}
      </p>
      <p>
        <strong>LOA Issue Date:</strong> <br />
        {{
          licenseMgmtData[currentIndex].lineOfAuthIssueDate
            | date : "MM/dd/yyyy"
        }}
      </p>
    </div>

    <div class="col">
      <p>
        <strong>Effective Date:</strong> <br />
        {{
          licenseMgmtData[currentIndex].licenseEffectiveDate
            | date : "MM/dd/yyyy"
        }}
      </p>
      <p>
        <strong>Expire Date:</strong> <br />
        {{
          licenseMgmtData[currentIndex].licenseExpirationDate
            | date : "MM/dd/yyyy"
        }}
      </p>
    </div>
  </div>
  <div class="row">
    <div
      class="col d-flex justify-content-start mt-5"
      style="font-weight: 700; font-size: larger"
    >
      APPOINTMENTS
    </div>
    <div class="col d-flex justify-content-end mt-3 mb-3">
      <button class="btn btn-success">
        <span style="font-size: larger"> Add - Appointment </span>
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr style="background-color: gainsboro; border-radius: 5rem">
          <th>Status</th>
          <th>License ID</th>
          <th>Company ID</th>
          <th>Co. Abbr.</th>
          <th>Carrier Date</th>
          <th>Effective Date</th>
          <th>Expire Date</th>
          <th>Termination Date</th>
          <th>ACTION</th>
          <!-- <th>Appt ID</th>
          <th>Retention Date</th> -->
        </tr>
      </thead>
      <tbody class="bg-body">
        <tr
          *ngFor="
            let appointment of licenseMgmtData[currentIndex].licenseAppointments
          "
        >
          <td>{{ appointment.appointmentStatus }}</td>
          <td>{{ appointment.licenseID }}</td>
          <td>{{ appointment.companyID }}</td>
          <td>TBD...</td>
          <td>{{ appointment.carrierDate | date : "MM/dd/yyyy" }}</td>
          <td>
            {{ appointment.appointmentEffectiveDate | date : "MM/dd/yyyy" }}
          </td>
          <td>{{ appointment.appointmentExpireDate | date : "MM/dd/yyyy" }}</td>
          <td>
            {{ appointment.appointmentTerminationDate | date : "MM/dd/yyyy" }}
          </td>
          <td style="min-width: 10rem">
            <div class="d-flex justify-content-between me-4">
              <button
                class="edit-button"
                (click)="
                  agentDataService.storeLicenseAppointment(appointment);
                  modalService.open('modal-edit-license-appt')
                "
              >
                <span class="material-symbols-outlined"> edit </span>
              </button>
              <button class="edit-button">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </div>
          </td>
          <!-- <td>{{ appointment.employeeAppointmentID }}</td>
          <td>{{ appointment.retentionDate | date : "MM/dd/yyyy" }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal: EDIT-LICENSE-INFO -->
<modal id="modal-edit-license-info">
  <div class="modal-header">
    <h1 class="modal-title">
      {{ agentComService.modeLicenseMgmt }} - License Information
    </h1>
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-license-info></app-edit-license-info>
      </div>
    </div>
  </div>
</modal>

<!-- Modal: EDIT-LICAPPT-INFO -->
<modal id="modal-edit-license-appt">
  <div class="modal-header">
    <h1 class="modal-title">Edit - License Appointment</h1>
    <!-- <button
        type="button"
        class="btn-close"
        (click)="modalService.close()"
      ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-license-appointment></app-edit-license-appointment>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="modalService.close()"
      >
        Close
      </button>
    </div> -->
</modal>
