<div class="container app-component-container">
  <div class="row mb-3">
    <div
      class="col d-flex justify-content-start mt-4"
      style="font-size: larger"
    >
      <strong style="margin-right: 1rem">License Name:</strong
      >{{ licenseMgmtData[currentIndex].licenseName }}
    </div>

    <div class="col d-flex justify-content-center mb-3 mt-1">
      <!-- <button
            class="btn btn-link page-button mb-5"
            *ngIf="isDisplayPrevious()"
            (click)="previousPage()"
          >
            <span class="material-symbols-outlined"> arrow_back_ios </span></button
          ><span class="page-info">{{ getPageInfo() }}</span>
          <button
            class="btn btn-link page-button mb-5"
            *ngIf="isDisplayNext()"
            (click)="nextPage()"
          >
            <span class="material-symbols-outlined"> arrow_forward_ios </span>
          </button> -->
    </div>

    <div class="col d-flex justify-content-end me-5">
      <!--   <button
            class="edit-button me-5"
            (click)="
              modalService.open('modal-edit-license-info')
            "
          >
            <span class="material-symbols-outlined"> edit </span>
          </button>
          <button class="edit-button">
            <span class="material-symbols-outlined"> delete </span>
          </button> -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <mat-accordion> -->
        <mat-expansion-panel class="mat-elevation-z4 mb-3">
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
              License Applications
            </mat-panel-title>
            <mat-panel-description>
              {{ agentDataService.agentLicApplicationInfo.licenseApplicationItems.length }} - record(s) found
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row mb-3">
            <div class="col">
              <button
                class="btn btn-success"
                (click)="agentDataService.storeLicAppInfo(
                  'INSERT',
                  null
                );
                modalService.open('modal-edit-lic-appl-info')"
              >
                <span style="font-size: larger"> Insert - Applications </span>
              </button>
            </div>
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr style="background-color: whitesmoke">
                  <th scope="col">Application Status</th>
                  <th scope="col">Application ID</th>
                  <th scope="col">Set to Agent</th>
                  <th scope="col">Rec. From Agent</th>
                  <th scope="col">Sent to State</th>
                  <th scope="col">Rec. From State</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let licApplication of agentDataService.agentLicApplicationInfo.licenseApplicationItems">
                  <td class="align-middle">
                    {{ licApplication.applicationStatus }}
                  </td>
                  <td class="align-middle">
                    {{ licApplication.licenseApplicationID }}
                  </td>
                  <td class="align-middle">
                    {{ licApplication.sentToAgentDate | date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">
                    {{ licApplication.recFromAgentDate| date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">
                    {{ licApplication.sentToStateDate| date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">
                    {{ licApplication.recFromStateDate| date : "MM/dd/yyyy" }}
                  </td>
                  <td>
                    <div
                      class="d-flex justify-content-between mb-3 me-4"
                      style="min-width: 10rem; max-width: 10rem"
                    >
                      <button
                        class="edit-button"
                        (click)="
                          agentDataService.storeLicAppInfo(
                            'EDIT',
                            licApplication
                          );
                          modalService.open('modal-edit-lic-appl-info')
                        "
                      >
                        <span class="material-symbols-outlined"> edit </span>
                      </button>
                      <button class="edit-button">
                        <span class="material-symbols-outlined"> delete </span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel
          class="mat-elevation-z4 mb-3"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
              License PreEducation
            </mat-panel-title>
            <mat-panel-description>
              ## - record(s) found
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row mb-3">
            <div class="col">
              <button
                class="btn btn-success"
                (click)="modalService.open('modal-edit-jobTitle-history')"
              >
                <span style="font-size: larger"> Insert - PreEducation </span>
              </button>
            </div>
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr style="background-color: whitesmoke">
                  <th scope="col">PreEdu Status</th>
                  <th scope="col">PreEdu ID</th>
                  <th scope="col">Class Name</th>
                  <th scope="col">Scheduled Date</th>
                  <th scope="col">Taken Date</th>
                  <th scope="col">PreEdu Notes</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let jobTitle of employmentJobTitleHistory">
                  <td class="align-middle">
                    {{ jobTitle.employmentJobTitleID }}
                  </td>
                  <td class="align-middle">
                    {{ jobTitle.jobTitleDate | date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">
                    {{ jobTitle.jobTitle }}
                  </td>
                  <td class="align-middle">
                    {{ jobTitle.jobCode }}
                  </td>
                  <td class="align-middle">
                    {{ jobTitle.isCurrent ? "Yes" : "No" }}
                  </td>
                  <td>
                    <div
                      class="d-flex justify-content-between mb-3 me-4"
                      style="min-width: 10rem; max-width: 10rem"
                    >
                      <button
                        class="edit-button"
                        (click)="
                          agentService.storeEmploymentJobTitleHistory(
                            'EDIT',
                            jobTitle
                          );
                          modalService.open('modal-edit-jobTitle-history')
                        "
                      >
                        <span class="material-symbols-outlined"> edit </span>
                      </button>
                      <button class="edit-button">
                        <span class="material-symbols-outlined"> delete </span>
                      </button>
                    </div>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel
          class="mat-elevation-z4 mb-3"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
              License PreExams
            </mat-panel-title>
            <mat-panel-description>
              ## - record(s) found
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row mb-3">
            <div class="col">
              <button
                class="btn btn-success"
                (click)="modalService.open('modal-edit-jobTitle-history')"
              >
                <span style="font-size: larger"> Insert - PreExams </span>
              </button>
            </div>
          </div>
          <div class="row">
            <table class="table">
              <thead>
                <tr style="background-color: whitesmoke">
                  <th scope="col">Status</th>
                  <th scope="col">PreExam ID</th>
                  <th scope="col">Exam Name</th>
                  <th scope="col">Scheduled Date</th>
                  <th scope="col">Taken Date</th>
                  <th scope="col">Exam Notes</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let jobTitle of employmentJobTitleHistory">
                  <td class="align-middle">
                    {{ jobTitle.employmentJobTitleID }}
                  </td>
                  <td class="align-middle">
                    {{ jobTitle.jobTitleDate | date : "MM/dd/yyyy" }}
                  </td>
                  <td class="align-middle">
                    {{ jobTitle.jobTitle }}
                  </td>
                  <td class="align-middle">
                    {{ jobTitle.jobCode }}
                  </td>
                  <td class="align-middle">
                    {{ jobTitle.isCurrent ? "Yes" : "No" }}
                  </td>
                  <td>
                    <div
                      class="d-flex justify-content-between mb-3 me-4"
                      style="min-width: 10rem; max-width: 10rem"
                    >
                      <button
                        class="edit-button"
                        (click)="
                          agentService.storeEmploymentJobTitleHistory(
                            'EDIT',
                            jobTitle
                          );
                          modalService.open('modal-edit-jobTitle-history')
                        "
                      >
                        <span class="material-symbols-outlined"> edit </span>
                      </button>
                      <button class="edit-button">
                        <span class="material-symbols-outlined"> delete </span>
                      </button>
                    </div>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
      <!-- </mat-accordion> -->
    </div>
  </div>
</div>

<!-- Modal: EDIT-LIC-APPLICATION-INFO -->
<modal id="modal-edit-lic-appl-info">
  <div class="modal-header">
    <h1 class="modal-title">
      <strong>{{ agentComService.modeLicAppInfo }}</strong> - License Application
    </h1>
    <!-- <button
          type="button"
          class="btn-close"
          (click)="modalService.close()"
        ></button> -->
  </div>
  <div class="modal-body">
    <div>
      <div>
        <app-edit-lic-appl-info></app-edit-lic-appl-info>
      </div>
    </div>
  </div>
</modal>
