<div class="container">
  <div class="row">
    <div class="col">
        <mat-tab-group>
            <mat-tab label="License Information">
              <div style="margin: 3.5rem">
                <app-license-info></app-license-info>
              </div>
            </mat-tab>
            <mat-tab label="License Application">
              <div style="margin: 3.5rem">
                <app-license-application></app-license-application>
              </div>
            </mat-tab>
            <mat-tab label="License Renewal">
              <div style="margin: 3.5rem">
                <app-license-renewal></app-license-renewal>
              </div>
            </mat-tab>
            <mat-tab label="Incentive">
              <div style="margin: 3.5rem">
                <app-license-incentive> </app-license-incentive>
              </div>
            </mat-tab>
          </mat-tab-group>
    </div>
  </div>
</div>
