<div style="margin-left: 1rem; margin-right: 1rem;">
  <div class="row">
    <div class="col">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="LICENSE INFORMATION">
              <div  class="app-tab-container">
                <app-license-info></app-license-info>
              </div>
            </mat-tab>
            <mat-tab label="LICENSE APPLICATION">
              <div class="app-tab-container">
                <app-license-application></app-license-application>
              </div>
            </mat-tab>
            <mat-tab label="LICENSE RENEWAL">
              <div class="app-tab-container">
                <app-license-renewal></app-license-renewal>
              </div>
            </mat-tab>
            <mat-tab label="INCENTIVE">
              <!-- <div style="margin-left: 1rem; margin-right: 1rem;"> -->
                <app-license-incentive> </app-license-incentive>
              <!-- </div> -->
            </mat-tab>
          </mat-tab-group>
    </div>
  </div>
</div>
