<div>
  <div class="row mt-1 mb-3">
    <div class="col d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-secondary me-3 cancel-button"
        (click)="onCloseModal()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>
  </div>

  <table class="table w-100" *ngIf="preEducations.length > 0">
    <thead>
      <tr style="background-color: gainsboro">
        <th scope="col"></th>
        <th scope="col" *ngIf="appComService.isShowEditID">PreEducation ID</th>
        <th scope="col">Education Name</th>
        <th scope="col">PreEd Provider</th>
        <th scope="col">Delivery Method</th>
      </tr>
    </thead>
    <tbody class="bg-body">
      <!-- <tr *ngFor="let preEdu of license.preEducationItems"> -->
      <tr *ngFor="let preEdu of preEducations; let i = index">
        <td>
          <button class="icon-add-button" type="button">
            <span class="material-symbols-outlined"> add_circle </span>
          </button>
        </td>
        <td class="align-middle" *ngIf="appComService.isShowEditID">
          {{ preEdu.preEducationID }}
        </td>
        <td class="align-middle text-nowrap">
          {{ preEdu.educationName }}
        </td>
        <td class="align-middle" style="width: max-content">
          {{ preEdu.companyName }}
        </td>
        <td class="align-middle" style="width: max-content">
          {{ preEdu.deliveryMethod }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
