<form [formGroup]="diaryItemForm" class="mt-3">
  <div class="mb-3">
    <label for="diaryID" class="form-label">Diary ID</label>
    <input
      type="number"
      class="form-control input-size-small"
      id="diaryID"
      formControlName="diaryID"
      readonly
    />
  </div>

  <div class="mb-3">
    <label for="soeid" class="form-label">SOEID</label>
    <input
      type="text"
      class="form-control input-size-small"
      id="soeid"
      formControlName="soeid"
    />
  </div>

  <div class="mb-3">
    <label for="diaryName" class="form-label">Diary Name</label>
    <input
      type="text"
      class="form-control input-size-medium"
      id="diaryName"
      formControlName="diaryName"
    />
  </div>

  <div class="mb-3">
    <label for="diaryDate" class="form-label">Diary Date</label>
    <input
      type="date"
      class="form-control input-size-small"
      id="diaryDate"
      formControlName="diaryDate"
    />
  </div>

  <div class="mb-3">
    <label for="notes" class="form-label">Notes</label>
    <textarea
      class="form-control"
      id="notes"
      formControlName="notes"
    ></textarea>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-4">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-secondary me-3 cancel-button">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary save-button">Save</button>
    </div>
  </div>
</form>
